---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3LaEP8FSsGLfTpet1eJw3aVf?expand%5B%5D=latest_charge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3LaEP8FSsGLfTpet1eJw3aVf",
          "object": "payment_intent",
          "amount": 130600,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 130600,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3LaEP8FSsGLfTpet1eJw3aVf_secret_8etXk8OcqBrcohYZsXbUWouPU",
          "confirmation_method": "automatic",
          "created": 1661327618,
          "currency": "usd",
          "customer": "cus_M2QFeoOFttyzTx",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "py_3LaEP8FSsGLfTpet1lxsnPvw",
            "object": "charge",
            "amount": 130600,
            "amount_captured": 130600,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": "txn_3LaEP8FSsGLfTpet1nhrnfBm",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": "sharang.d+test_email@gmail.com",
              "name": "Sahil Example",
              "phone": null
            },
            "calculated_statement_descriptor": null,
            "captured": true,
            "created": 1661327619,
            "currency": "usd",
            "customer": "cus_M2QFeoOFttyzTx",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": {
              "network_status": "approved_by_network",
              "reason": null,
              "risk_level": "not_assessed",
              "seller_message": "Payment complete.",
              "type": "authorized"
            },
            "paid": true,
            "payment_intent": "pi_3LaEP8FSsGLfTpet1eJw3aVf",
            "payment_method": "pm_1LS2bAFSsGLfTpetCH8rj0EY",
            "payment_method_details": {
              "type": "us_bank_account",
              "us_bank_account": {
                "account_holder_type": "individual",
                "account_type": "checking",
                "bank_name": "STRIPE TEST BANK",
                "fingerprint": "fyuVQhio0NPi5cGK",
                "last4": "6789",
                "mandate": "mandate_1LS2bBFSsGLfTpetzyxTIQ8Q",
                "payment_reference": null,
                "routing_number": "110000000"
              }
            },
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTEJpYzhGU3NHTGZUcGV0KKf1x7cGMgaQVEhtLIg6LBZv2ExlelZoQnT-bYDKOnlDSpjy4noQ8vTPWJS0yg8bgtXUyHQ8yVRbPnHq",
            "refunded": false,
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "succeeded",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1LS2bAFSsGLfTpetCH8rj0EY",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "us_bank_account": {
              "verification_method": "automatic"
            }
          },
          "payment_method_types": [
            "us_bank_account"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 23 Sep 2024 23:32:55 GMT
recorded_with: VCR 6.2.0
