---
http_interactions:
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/quotes/66abad13-6a59-4985-8af5-5d738317628a
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - 96d84375734b1f00
      body:
        encoding: ASCII-8BIT
        string:
          '{"targetAmount":112.00,"guaranteedTargetAmountAllowed":false,"targetAmountAllowed":true,"preferredPayIn":"BALANCE","paymentOptions":[{"formattedEstimatedDelivery":"by
          Monday, July 3","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0093,"estimatedDelivery":"2023-07-03T12:30:00Z","disabled":false,"sourceCurrency":"USD","targetCurrency":"USD","sourceAmount":113.05,"targetAmount":112.00,"payOut":"BANK_TRANSFER","fee":{"transferwise":1.05,"payIn":0.0,"discount":0,"total":1.05,"priceSetId":130,"partner":0.0},"price":{"priceSetId":130,"total":{"type":"TOTAL","label":"Total
          fees","value":{"amount":1.05,"currency":"USD","label":"1.05 USD"}},"items":[{"type":"PAYIN","label":"fee","value":{"amount":0.0,"currency":"USD","label":"0
          USD"}},{"type":"TRANSFERWISE","label":"Our fee","value":{"amount":1.05,"currency":"USD","label":"1.05
          USD"}}]},"payIn":"BALANCE"},{"formattedEstimatedDelivery":"by Tuesday, July
          4","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0546,"estimatedDelivery":"2023-07-04T12:30:00Z","disabled":false,"sourceCurrency":"USD","targetCurrency":"USD","sou[...]
