---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/antiwork/flexile/pulls/3186
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 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
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4afba040306589af0162af0614801a0d7c36fa336f1c25f8514edf66574b13c5"
      Last-Modified:
      - Tue, 15 Oct 2024 18:44:58 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - <GITHUB_CLIENT_ID>
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1729116807'
      X-Ratelimit-Used:
      - '10'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/antiwork/flexile/pulls/3186","id":2113809001,"node_id":"PR_kwDOF4zYP859_ipp","html_url":"https://github.com/antiwork/flexile/pull/3186","diff_url":"https://github.com/antiwork/flexile/pull/3186.diff","patch_url":"https://github.com/antiwork/flexile/pull/3186.patch","issue_url":"https://api.github.com/repos/antiwork/flexile/issues/3186","number":3186,"state":"closed","locked":false,"title":"Team
        Updates - GitHub Integration","user":{"login":"raulpopadineti","id":1855287,"node_id":"MDQ6VXNlcjE4NTUyODc=","avatar_url":"https://avatars.githubusercontent.com/u/1855287?v=4","gravatar_id":"","url":"https://api.github.com/users/raulpopadineti","html_url":"https://github.com/raulpopadineti","followers_url":"https://api.github.com/users/raulpopadineti/followers","following_url":"https://api.github.com/users/raulpopadineti/following{/other_user}","gists_url":"https://api.github.com/users/raulpopadineti/gists{/gist_id}","starred_url":"https://api.github.com/users/raulpopadineti/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/raulpopadineti/subscriptions","organizations_url":"https://api.github.com/users/raulpopadineti/orgs","repos_url":"https://api.github.com/users/raulpopadineti/repos","events_url":"https://api.github.com/users/raulpopadineti/events{/privacy}","received_events_url":"https://api.github.com/users/raulpopadineti/received_events","type":"User","site_admin":false},"body":"###
        What\r\n\r\n- Add GitHub integration, including OAuth flow, API interactions,
        and UI components\r\n- Add `GithubIntegration` model\r\n- Add `GithubApi`
        service\r\n- Update the company settings UI to allow connecting/disconnecting
        GitHub accounts when `:team_updates` flag is enabled\r\n- New routes and controllers
        are added to handle GitHub-related actions.\r\n\r\n### Why\r\nPart of https://github.com/antiwork/flexile/issues/2792.\r\n\r\n###
        Screenshots\r\n\r\n#### Disconnected\r\n<img width=\"1506\" alt=\"image\"
        src=\"https://github.com/user-attachments/assets/71aa8f29-6e8e-4ce0-af04-17982f133fd6\">\r\n\r\n####
        OAuth screen\r\n<img width=\"774\" alt=\"Screenshot-2024-10-09-18 05 06\"
        src=\"https://github.com/user-attachments/assets/2b05c6f0-36c5-4af9-86fc-788841ac113d\">\r\n\r\n####
        Connected\r\n<img width=\"1476\" alt=\"image\" src=\"https://github.com/user-attachments/assets/bbce69e5-c31b-4617-b4c1-42ca5ef35f0e\">","created_at":"2024-10-08T19:53:52Z","updated_at":"2024-10-15T17:23:45Z","closed_at":"2024-10-15T17:09:47Z","merged_at":"2024-10-15T17:09:46Z","merge_commit_sha":"eb6987f22394fc8b9e54ed2ca7f9f06f335beda6","assignee":{"login":"raulpopadineti","id":1855287,"node_id":"MDQ6VXNlcjE4NTUyODc=","avatar_url":"https://avatars.githubusercontent.com/u/1855287?v=4","gravatar_id":"","url":"https://api.github.com/users/raulpopadineti","html_url":"https://github.com/raulpopadineti","followers_url":"https://api.github.com/users/raulpopadineti/followers","following_url":"https://api.github.com/users/raulpopadineti/following{/other_user}","gists_url":"https://api.github.com/users/raulpopadineti/gists{/gist_id}","starred_url":"https://api.github.com/users/raulpopadineti/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/raulpopadineti/subscriptions","organizations_url":"https://api.github.com/users/raulpopadineti/orgs","repos_url":"https://api.github.com/users/raulpopadineti/repos","events_url":"https://api.github.com/users/raulpopadineti/events{/privacy}","received_events_url":"https://api.github.com/users/raulpopadineti/received_events","type":"User","site_admin":false},"assignees":[{"login":"raulpopadineti","id":1855287,"node_id":"MDQ6VXNlcjE4NTUyODc=","avatar_url":"https://avatars.githubusercontent.com/u/1855287?v=4","gravatar_id":"","url":"https://api.github.com/users/raulpopadineti","html_url":"https://github.com/raulpopadineti","followers_url":"https://api.github.com/users/raulpopadineti/followers","following_url":"https://api.github.com/users/raulpopadineti/following{/other_user}","gists_url":"https://api.github.com/users/raulpopadineti/gists{/gist_id}","starred_url":"https://api.github.com/users/raulpopadineti/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/raulpopadineti/subscriptions","organizations_url":"https://api.github.com/users/raulpopadineti/orgs","repos_url":"https://api.github.com/users/raulpopadineti/repos","events_url":"https://api.github.com/users/raulpopadineti/events{/privacy}","received_events_url":"https://api.github.com/users/raulpopadineti/received_events","type":"User","site_admin":false}],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/antiwork/flexile/pulls/3186/commits","review_comments_url":"https://api.github.com/repos/antiwork/flexile/pulls/3186/comments","review_comment_url":"https://api.github.com/repos/antiwork/flexile/pulls/comments{/number}","comments_url":"https://api.github.com/repos/antiwork/flexile/issues/3186/comments","statuses_url":"https://api.github.com/repos/antiwork/flexile/statuses/6d301d8d6d9aba7d3068adc33920c67b71ff28ab","head":{"label":"gumroad:raul/feat-github-integration","ref":"raul/feat-github-integration","sha":"6d301d8d6d9aba7d3068adc33920c67b71ff28ab","user":{"login":"gumroad","id":1178890,"node_id":"MDEyOk9yZ2FuaXphdGlvbjExNzg4OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1178890?v=4","gravatar_id":"","url":"https://api.github.com/users/gumroad","html_url":"https://github.com/gumroad","followers_url":"https://api.github.com/users/gumroad/followers","following_url":"https://api.github.com/users/gumroad/following{/other_user}","gists_url":"https://api.github.com/users/gumroad/gists{/gist_id}","starred_url":"https://api.github.com/users/gumroad/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gumroad/subscriptions","organizations_url":"https://api.github.com/users/gumroad/orgs","repos_url":"https://api.github.com/users/gumroad/repos","events_url":"https://api.github.com/users/gumroad/events{/privacy}","received_events_url":"https://api.github.com/users/gumroad/received_events","type":"Organization","site_admin":false},"repo":{"id":395106367,"node_id":"MDEwOlJlcG9zaXRvcnkzOTUxMDYzNjc=","name":"flexile","full_name":"gumroad/flexile","private":true,"owner":{"login":"gumroad","id":1178890,"node_id":"MDEyOk9yZ2FuaXphdGlvbjExNzg4OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1178890?v=4","gravatar_id":"","url":"https://api.github.com/users/gumroad","html_url":"https://github.com/gumroad","followers_url":"https://api.github.com/users/gumroad/followers","following_url":"https://api.github.com/users/gumroad/following{/other_user}","gists_url":"https://api.github.com/users/gumroad/gists{/gist_id}","starred_url":"https://api.github.com/users/gumroad/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gumroad/subscriptions","organizations_url":"https://api.github.com/users/gumroad/orgs","repos_url":"https://api.github.com/users/gumroad/repos","events_url":"https://api.github.com/users/gumroad/events{/privacy}","received_events_url":"https://api.github.com/users/gumroad/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/antiwork/flexile","description":null,"fork":false,"url":"https://api.github.com/repos/antiwork/flexile","forks_url":"https://api.github.com/repos/antiwork/flexile/forks","keys_url":"https://api.github.com/repos/antiwork/flexile/keys{/key_id}","collaborators_url":"https://api.github.com/repos/antiwork/flexile/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/antiwork/flexile/teams","hooks_url":"https://api.github.com/repos/antiwork/flexile/hooks","issue_events_url":"https://api.github.com/repos/antiwork/flexile/issues/events{/number}","events_url":"https://api.github.com/repos/antiwork/flexile/events","assignees_url":"https://api.github.com/repos/antiwork/flexile/assignees{/user}","branches_url":"https://api.github.com/repos/antiwork/flexile/branches{/branch}","tags_url":"https://api.github.com/repos/antiwork/flexile/tags","blobs_url":"https://api.github.com/repos/antiwork/flexile/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/antiwork/flexile/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/antiwork/flexile/git/refs{/sha}","trees_url":"https://api.github.com/repos/antiwork/flexile/git/trees{/sha}","statuses_url":"https://api.github.com/repos/antiwork/flexile/statuses/{sha}","languages_url":"https://api.github.com/repos/antiwork/flexile/languages","stargazers_url":"https://api.github.com/repos/antiwork/flexile/stargazers","contributors_url":"https://api.github.com/repos/antiwork/flexile/contributors","subscribers_url":"https://api.github.com/repos/antiwork/flexile/subscribers","subscription_url":"https://api.github.com/repos/antiwork/flexile/subscription","commits_url":"https://api.github.com/repos/antiwork/flexile/commits{/sha}","git_commits_url":"https://api.github.com/repos/antiwork/flexile/git/commits{/sha}","comments_url":"https://api.github.com/repos/antiwork/flexile/comments{/number}","issue_comment_url":"https://api.github.com/repos/antiwork/flexile/issues/comments{/number}","contents_url":"https://api.github.com/repos/antiwork/flexile/contents/{+path}","compare_url":"https://api.github.com/repos/antiwork/flexile/compare/{base}...{head}","merges_url":"https://api.github.com/repos/antiwork/flexile/merges","archive_url":"https://api.github.com/repos/antiwork/flexile/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/antiwork/flexile/downloads","issues_url":"https://api.github.com/repos/antiwork/flexile/issues{/number}","pulls_url":"https://api.github.com/repos/antiwork/flexile/pulls{/number}","milestones_url":"https://api.github.com/repos/antiwork/flexile/milestones{/number}","notifications_url":"https://api.github.com/repos/antiwork/flexile/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/antiwork/flexile/labels{/name}","releases_url":"https://api.github.com/repos/antiwork/flexile/releases{/id}","deployments_url":"https://api.github.com/repos/antiwork/flexile/deployments","created_at":"2021-08-11T20:15:56Z","updated_at":"2024-10-16T13:46:41Z","pushed_at":"2024-10-16T21:37:53Z","git_url":"git://github.com/gumroad/flexile.git","ssh_url":"git@github.com:gumroad/flexile.git","clone_url":"https://github.com/antiwork/flexile.git","svn_url":"https://github.com/antiwork/flexile","homepage":"https://app.flexile.com","size":45116,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":true,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":26,"license":null,"allow_forking":false,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":26,"watchers":2,"default_branch":"main"}},"base":{"label":"gumroad:main","ref":"main","sha":"959b206f9a30585ca439c1f9fbaec6c3c8c9dfa5","user":{"login":"gumroad","id":1178890,"node_id":"MDEyOk9yZ2FuaXphdGlvbjExNzg4OTA=","avatar_url":"https://avatars.githubusercontent.com/u/1178890?v=4","gravatar_id":"","url":"https://api.github.com/users/gumroad","html_url":"https://github.com/gumroad","followers_url":"https://api.github.com/users/gumroad/followers","following_url":"https://api.github.com/users/gumroad/following{/other_user}","gists_url":"https[...]
