---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/setup_intents/seti_1LS2aCFSsGLfTpetJF5ZbTzr?expand%5B%5D=payment_method
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1LS2aCFSsGLfTpetJF5ZbTzr",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1LS2aCFSsGLfTpetJF5ZbTzr_secret_MANKZoxPk7FuMFb5jshwnLTQqBpWYu8",
          "created": 1659375552,
          "customer": "cus_M2QFeoOFttyzTx",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1LS2bAFSsGLfTpetdQeunp7j",
          "livemode": false,
          "mandate": "mandate_1LS2bBFSsGLfTpetzyxTIQ8Q",
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": {
            "id": "pm_1LS2bAFSsGLfTpetCH8rj0EY",
            "object": "payment_method",
            "allow_redisplay": "unspecified",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": "sharang.d+test_email@gmail.com",
              "name": "Sahil Example",
              "phone": null
            },
            "created": 1659375612,
            "customer": "cus_M2QFeoOFttyzTx",
            "livemode": false,
            "metadata": {},
            "type": "us_bank_account",
            "us_bank_account": {
              "account_holder_type": "individual",
              "account_type": "checking",
              "bank_name": "STRIPE TEST BANK",
              "financial_connections_account": null,
              "fingerprint": "fyuVQhio0NPi5cGK",
              "last4": "6789",
              "networks": {
                "preferred": "ach",
                "supported": [
                  "ach"
                ]
              },
              "routing_number": "110000000",
              "status_details": {}
            }
          },
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method",
                  "balances"
                ],
                "prefetch": []
              },
              "verification_method": "automatic"
            }
          },
          "payment_method_types": [
            "us_bank_account"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Mon, 17 Jun 2024 23:36:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method_types[0]=us_bank_account&payment_method=pm_1LS2bAFSsGLfTpetCH8rj0EY&customer=cus_M2QFeoOFttyzTx&confirm=true&amount=10100000&currency=USD&expand[0]=latest_charge&capture_method=automatic
    headers:
      Authorization:
      - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d324d3df-cb51-4cc3-aeb6-11c701af69b9
      Original-Request:
      - req_HuHCYF9v7Eaqst
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3PSp6HFSsGLfTpet1tvOrNDi",
          "object": "payment_intent",
          "amount": 10100000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3PSp6HFSsGLfTpet1tvOrNDi_secret_apWrlECnwRwmlwzX4OAjugdKo",
          "confirmation_method": "automatic",
          "created": 1718667397,
          "currency": "usd",
          "customer": "cus_M2QFeoOFttyzTx",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": {
            "id": "py_3PSp6HFSsGLfTpet1RtNlwbK",
            "object": "charge",
            "amount": 10100000,
            "amount_captured": 10100000,
            "amount_refunded": 0,
            "application": null,
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": null,
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": "sharang.d+test_email@gmail.com",
              "name": "Sahil Example",
              "phone": null
            },
            "calculated_statement_descriptor": null,
            "captured": true,
            "created": 1718667398,
            "currency": "usd",
            "customer": "cus_M2QFeoOFttyzTx",
            "description": null,
            "destination": null,
            "dispute": null,
            "disputed": false,
            "failure_balance_transaction": null,
            "failure_code": null,
            "failure_message": null,
            "fraud_details": {},
            "invoice": null,
            "livemode": false,
            "metadata": {},
            "on_behalf_of": null,
            "order": null,
            "outcome": null,
            "paid": false,
            "payment_intent": "pi_3PSp6HFSsGLfTpet1tvOrNDi",
            "payment_method": "pm_1LS2bAFSsGLfTpetCH8rj0EY",
            "payment_method_details": {
              "type": "us_bank_account",
              "us_bank_account": {
                "account_holder_type": "individual",
                "account_type": "checking",
                "bank_name": "STRIPE TEST BANK",
                "fingerprint": "fyuVQhio0NPi5cGK",
                "last4": "6789",
                "mandate": "mandate_1LS2bBFSsGLfTpetzyxTIQ8Q",
                "payment_reference": null,
                "routing_number": "110000000"
              }
            },
            "radar_options": {},
            "receipt_email": null,
            "receipt_number": null,
            "receipt_url": null,
            "refunded": false,
            "review": null,
            "shipping": null,
            "source": null,
            "source_transfer": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "pending",
            "transfer_data": null,
            "transfer_group": null
          },
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1LS2bAFSsGLfTpetCH8rj0EY",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "us_bank_account": {
              "mandate_options": {},
              "verification_method": "automatic"
            }
          },
          "payment_method_types": [
            "us_bank_account"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "processing",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 17 Jun 2024 23:36:38 GMT
recorded_with: VCR 6.2.0
