---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/query?minorversion=65&query=select%20*%20from%20Account%20where%20AccountType%20=%20%27Expense%27%20and%20AccountSubType%20=%20%27LegalProfessionalFees%27%20and%20Name%20=%20%27Consultant%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..yW1uSeP2m2Zo37xcy8CYWA.Q0Ph1iQibUEd0XHU077Pmf7zZyMbveQnbyKrmiYabBKhxAnegLa1CxmD3yhe15KJJoLWT0EIPiXXYJSZVPaYijJyZSPazxBY18hMjY-WyOqfhdI3xVGbo-NNfiTcIJPNREIo01YGgYi_ExDxok_cbSujJKfNRsGL2o-gqo4fp1kCT-ZyVXQgGHofNqx1FbMiwP_4Q3lb3ztUbXU3Iohwh2o2YhiVftzK_1asn_FmfMVcKAjpKl84fDOQ5Iuq0TtMM93e-x_ObDY5RtWceUP4bKMGcPyh_cZPTuylICIPWESfauYrRtn_suc3JqOv_pJBA_Q9KUAfTSdBeDxFKBGH6iPmSJIWt91HZmlRMsJJcmUeuGZ9wXNXzV7me3mGXaNOt8uI9zoJ5tHzSKwtdL1L9S18ZHgiNkY-yMbkW5WRoEFl96Ip_Ynu2f6pIJxxnJThBFqANN-n1cqkZV9ZxjQt-4o0jIlNxzibPScRQtR9A5S1fhK0bGv0nORkZWV49S-DntEMf06wNJOsSaYXzhE_-2VdvYRKMMEZOvcf8Ay5DjFFmHDpNvV_tBfzKeArdyP5NZlObVfeds2LLcWLLeiRyRiDBhu7BaM8oxTVRckWHBdvTjfC6D7NEN5VP767l9AlzTu_Wa_IgXrlcssot7UZtPMkJGePXxSLSyWyRJEbksOQIsUGlA6kftC6wFqy2y1HswzeQb3r3FlvV2a6mTZ21OoYEuFnHeJ9Ds2qnJwSlCgrm4lZ7VS8lkfBR1ng7Oc2.g6DiXsvd87aVNmbF1C0eTg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-63bdc86e-50cd7d373344130f6b322fbd
      X-Spanid:
      - 392bbc13-b081-4ee4-9218-16c68e1d9ce6
      Qbo-Version:
      - '1995.144'
      Service-Time:
      - total=23, db=9
    body:
      encoding: ASCII-8BIT
      string: '{"QueryResponse":{"Account":[{"Name":"Consultant","SubAccount":false,"FullyQualifiedName":"Consultant","Active":true,"Classification":"Expense","AccountType":"Expense","AccountSubType":"LegalProfessionalFees","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"92","SyncToken":"0","MetaData":{"CreateTime":"2022-12-30T07:10:12-08:00","LastUpdatedTime":"2022-12-30T07:10:12-08:00"}}],"startPosition":1,"maxResults":1},"time":"2023-01-10T12:19:58.424-08:00"}'
  recorded_at: Tue, 10 Jan 2023 20:19:58 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/query?minorversion=65&query=select%20*%20from%20Vendor%20where%20DisplayName%20=%20%27Flexile%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..yW1uSeP2m2Zo37xcy8CYWA.Q0Ph1iQibUEd0XHU077Pmf7zZyMbveQnbyKrmiYabBKhxAnegLa1CxmD3yhe15KJJoLWT0EIPiXXYJSZVPaY[...]
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/query?minorversion=65&query=select%20*%20from%20Account%20where%20AccountType%20=%20%27Expense%27%20and%20AccountSubType%20=%20%27DuesSubscriptions%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..yW1uSeP2m2Zo37xcy8CYWA.Q0Ph1iQibUEd0XHU077Pmf7zZyMbve[...]
- request:
    method: post
    uri: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=AB11682108071xXZ7PRPhHmGCkNWQRf2wahNHRpnPiwK0iUXRF
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <QUICKBOOKS_BASIC_AUTH_STRING>==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-63bdc871-08e8149a04f1cd6b0db92cf8
      X-Spanid:
      - f3da5d6a-c2e6-400c-bde9-6285069da5dc
    body:
      encoding: UTF-8
      string: '{"access_token":"eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..BKEhOBfCr64XYopuso964A.c0M4nemxcnWM-o3qf8p4dDjGq499H4OoiZn1gV08J41cVlBQvz6FDTHoyNMuLVLi2WBfXA-xzy2rxXcXAX8pRlW1JdKPirKwKTjRFRm5Pfbln47Mol27634kez2_OEgJvrmHO__NH5p14r_ShSJHBsKkWW4kpV7znQhZVMyFwHcZTgYdeb-VIkjFFzKy-7ay4ZdCZxJnaKP6Fw6pke0AvgWCtU_IurIjB8M1wtP2t3lz1LmMimouD1FYhzgiadF8gtM-MvjWrxIkX0cKY_L8-bOA3Swtw0RiFOAtb03aGFIfPYCZVA3w7ZVt86FFaegTKE_zxzj_EipUgnz1oNi3ospa4wQkgM3uhmB0SOIVoolm6YqHbh4MBDCLq6uqjxNV7Lo-oLrdbEPtyHr4st7T7fMVzz50rAl930m-M6Fc0stHO2lig7x6l3lLfNuNEScCejqYOuaJgPJQyope8dZ7__8DnP89xndTGAE5twOElHuJI-BnmmAPClrgS6p8tnFOWIh8GADZBW8PO9Oz6vdcN-qNQ2qLyWK0S3KOgVGvG1zrgOIEx0mOWc51g0goYOfuL2hX_AiUTDur5up80XcsH6_F6TxWQX9vgCrRShxxdkYKvVpZyZcDbWmGRV66EHqvjJa4pK_eAkItTGqOIGIrngbVKtjyTXateGu7OYkz1v-sVizeftDwI1epsTTfE0StE4l3RrvzvoS6NveQiFJ6ozTenlIWjlELaWZUPm9WzLOj1_ZEq_18VzcgUVj3q_3Y.-s6foWrcszvgFwZMouy12w","refresh_token":"AB11682108071xXZ7PRPhHmGCkNWQRf2wahNHRpnPiwK0iUXRF","x_refresh_token_expires_in":8726071,"token_type":"bearer","expires_in":3600}'
  recorded_at: Tue, 10 Jan 2023 20:20:01 GMT
recorded_with: VCR 6.1.0
