---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v2/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 864388ea-fb3a-4682-9528-2cf16ece406c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 00000000000000000750c0cda9c112d0
    body:
      encoding: ASCII-8BIT
      string: '[{"type":"PERSONAL","id":16656728,"userId":6145016,"type":"PERSONAL","address":{"addressFirstLine":"56
        Shoreditch High Street","city":"London","countryIso2Code":"GB","countryIso3Code":"gbr","postCode":"E16JJ","stateCode":null},"email":"","createdAt":"2022-11-21T15:49:46.000Z","updatedAt":"2022-11-21T15:49:46.000Z","obfuscated":false,"currentState":"VISIBLE","firstName":"Helen","lastName":"Hood","dateOfBirth":"1981-11-20","phoneNumber":"+14133203613","secondaryAddresses":[],"fullName":"Helen
        Hood"},{"type":"BUSINESS","id":16656729,"userId":6145016,"type":"BUSINESS","address":{"addressFirstLine":"56
        Shoreditch High Street","city":"London","countryIso2Code":"GB","countryIso3Code":"gbr","postCode":"E16JJ","stateCode":null},"email":"","createdAt":"2022-11-21T15:49:49.000Z","updatedAt":"2022-11-21T15:49:49.000Z","obfuscated":false,"currentState":"VISIBLE","businessName":"Acme,
        Inc.","registrationNumber":"07209813","descriptionOfBusiness":"IT_SERVICES","companyType":"LIMITED","companyRole":"OWNER","operationalAddresses":[],"fullName":"Acme,
        Inc."}]'
  recorded_at: Fri, 24 Mar 2023 13:03:35 GMT
recorded_with: VCR 6.1.0
