---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v1/accounts
    body:
      encoding: UTF-8
      string: '{"currency":"GBP","type":"sort_code","details":{"legalType":"PRIVATE","email":"someone@somewhere.com","accountHolderName":"someone
        somewhere","sortCode":231470,"accountNumber":28821822,"address":{"country":"GB","city":"London","firstLine":"112
        2nd street","postCode":"SW1P 3"}},"profile":"<WISE_PROFILE_ID>"}'
    headers:
      Authorization:
      - Bearer 8b435f5b-edd3-474a-a649-eb41234ae43c
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 849a3931ad52cc06f11bdce82f3dc4b6
    body:
      encoding: ASCII-8BIT
      string: '{"id":701645966,"business":<WISE_PROFILE_ID>,"profile":<WISE_PROFILE_ID>,"accountHolderName":"someone
        somewhere","currency":"GBP","country":"GB","type":"sort_code","details":{"address":{"country":"GB","countryCode":"GB","firstLine":"112
        2nd street","postCode":"SW1P 3","city":"London","state":null},"email":"someone@somewhere.com","legalType":"PRIVATE","accountHolderName":null,"accountNumber":"28821822","sortCode":"231470","abartn":null,"accountType":null,"bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"identificationNumber":null,"zarIdentificationNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":null,"iban":null,"bic":null,"BIC":null},"user":13106937,"active":true,"ownedByCustomer":false,"confirmations":null}'
  recorded_at: Mon, 13 Oct 2025 14:07:33 GMT
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v4/profiles/<WISE_PROFILE_ID>/balances?types=STANDARD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8b435f5b-edd3-474a-a649-eb41234ae43c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 4323b59bbb29f07bb7253d80732ba6f6
    body:
      encoding: ASCII-8BIT
      string: '[{"id":279542,"currency":"USD","amount":{"value":999898.87,"currency":"USD"},"reservedAmount":{"value":0.00,"currency":"USD"},"cashAmount":{"value":999898.87,"currency":"USD"},"totalWorth":{"value":999898.87,"currency":"USD"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2025-06-25T16:34:25.899558Z","modificationTime":"2025-10-13T11:51:48.978882Z","visible":true,"primary":true,"groupId":null,"recipientId":701296757}]'
  recorded_at: Mon, 13 Oct 2025 14:07:34 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v1/rates?source=USD&target=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8b435f5b-edd3-474a-a649-eb41234ae43c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - e5c4ab9a6c6563bcfc6baa382a35dc32
    body:
      encoding: ASCII-8BIT
      string: '[{"rate":0.750084,"source":"USD","target":"GBP","time":"2025-10-13T14:07:15+0000"}]'
  recorded_at: Mon, 13 Oct 2025 14:07:35 GMT
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v1/accounts/701645966
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8b435f5b-edd3-474a-a649-eb41234ae43c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - e415d0a5c5a0a5823306ac5cfca581e3
    body:
      encoding: ASCII-8BIT
      string: '{"id":701645966,"business[...]
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/quotes
    body:
      encoding: UTF-8
      string: '{"sourceAmount":null,"targetAmount":45.00504,"sourceCurrency":"USD","targetAccount":"701645966","targetCurrency":"GBP","profileId":"<WISE_PROFILE_ID>","preferredPayIn":"BALANCE"}'
    headers:
      Authorization:
      - Bearer 8b435f5b-edd3-474a-a649-eb41234ae43c
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 59666222cf1054ffe7c82fce2a7e3a9f
    body:
      encoding: ASCII-8BIT
      string: '{"targetAmount":45.01,"guaranteedTargetAmountAllowed":false,"targetAmountAllowed":true,"preferredPayIn":"BALANCE","paymentOptions":[{"formattedEstimatedDelivery":"in
        seconds","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0130,"estimatedDelivery":"2025-10-13T14:07:36Z","disabled":false,"sourceAmount":60.79,"targetAmount":45.01,"sourceCurrency":"USD","targetCurrency":"GBP","payOut":"BANK_TRANSFER","payIn":"BALANCE","price":{"priceSetId":625,"total":{"type":"TOTAL","label":"Total
        fees","value":{"amount":0.79,"currency":"USD","label":"0.79 USD"}},"items":[{"type":"PAYIN","label":"fee","value":{"amount":0.0,"currency":"USD","label":"0
        USD"}},{"type":"TRANSFERWISE","label":"Our fee","value":{"amount":0.79,"currency":"USD","label":"0.79
        USD"}}],"priceDecisionReferenceId":"677797a6-9d41-480d-566f-a7c321d76956"},"fee":{"transferwise":0.79,"payIn":0.0,"discount":0,"total":0.79,"priceSetId":625,"partner":0.0}},{"formattedEstimatedDelivery":"in
        seconds","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0789,"estimatedDelivery":"2025-10-13T14:07:36Z","disabled":false,"sourceAmount":65.14,"targetAmount":45.01,"sourceCurrency":"USD","targetCurrency":"GBP","payOut":"BANK_TRANSFER","payIn":"GOOGLE_PAY","price":{"priceSetId":635,"total":{"type":"TOTAL","label":"Total
        fees","value":{"amount":5.14,"currency":"USD","label":"5.14 USD"}},"items":[{"[...]
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v1/transfers
    body:
      encoding: UTF-8
      string: '{"targetAccount":"701645966","quoteUuid":"c76aa4bf-096c-4212-85aa-405fc4e259d1","customerTransactionId":"9c9cd428-8111-4c6e-8fa2-1f720ecf9c88","details":{"transferPurpose":"verification.transfers.purpose.pay.other","sourceOfFunds":"verification.source.of.funds.other","reference":"PMT"}}'
    headers:
      Authorization:
      - Bearer 8b435f5b-edd3-474a-a649-eb41234ae43c
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - c744b8675f0207ecd26c2474f30633f2
    body:
      encoding: ASCII-8BIT
      string: '{"id":55537796,"user":13106937,"targetAccount":701645966,"sourceAccount":null,"quote":null,"quoteUuid":"c76aa4bf-096c-4212-85aa-405fc4e259d1","payinSessionId":"677797bb-51dc-4d8a-6358-952e4ce0c2b8","status":"incoming_payment_waiting","reference":"PMT","rate":0.750108,"created":"2025-10-13
        14:07:37","business":<WISE_PROFILE_ID>,"transferRequest":null,"details":{"reference":"PMT"},"hasActiveIssues":false,"sourceCurrency":"USD","sourceValue":60.00,"targetCurrency":"GBP","targetValue":45.01,"customerTransactionId":"9c9cd428-8111-4c6e-8fa2-1f720ecf9c88"}'
  recorded_at: Mon, 13 Oct 2025 14:07:37 GMT
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/transfers/55537796/payments
    body:
      encoding: UTF-8
      string: '{"type":"BALANCE"}'
    headers:
      Authorization:
      - Bearer 8b435f5b-edd3-474a-a649-eb41234ae43c
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-2fa-Approval-Result:
      - REJECTED
      X-2fa-Approval:
      - e39ca668-4a06-407a-83bb-2fd696e52fb5
      X-Trace-Id:
      - 5d8ac5aa59fd5031fd28f30339acef47
    body:
      encoding: ASCII-8BIT
      string: '{"error":"forbidden"}'
  recorded_at: Mon, 13 Oct 2025 14:07:38 GMT
recorded_with: VCR 6.3.1
