---
http_interactions:
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/accounts
      body:
        encoding: UTF-8
        string:
          '{"currency":"GBP","type":"sort_code","details":{"legalType":"PRIVATE","email":"someone@somewhere.com","accountHolderName":"someone
          somewhere","sortCode":231470,"accountNumber":28821822,"address":{"country":"GB","city":"London","firstLine":"112
          2nd street","postCode":"SW1P 3"}},"profile":"<WISE_PROFILE_ID>"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - 969d61629fcb4e24
      body:
        encoding: ASCII-8BIT
        string: '{"id":148360632,"business":<WISE_PROFILE_ID>,"profile":<WISE_PROFILE_ID>,"accountHolderName":"someone
          somewhere","currency":"GBP","country":"GB","type":"sort_code","details":{"address":{"country":"GB","countryCode":"GB","firstLine":"112
          2nd street","postCode":"SW1P 3","city":"London","state":null},"email":"someone@somewhere.com","legalType":"PRIVATE","accountHolderName":null,"accountNumber":"28821822","sortCode":"231470","abartn":null,"accountType":null,"bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":null,"iban":null,"bic":null,"BIC":null},"user":5882096,"active":true,"ownedByCustomer":false}'
    recorded_at: Thu, 20 Jul 2023 23:31:27 GMT
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/quotes
      body:
        encoding: UTF-8
        string: '{"sourceAmount":null,"targetAmount":112,"sourceCurrency":"USD","targetAccount":148360632,"targetCurrency":"GBP","profileId":"<WISE_PROFILE_ID>","preferredPayIn":"BALANCE"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - 934076af56cad592
      body:
        encoding: ASCII-8BIT
        string:
          '{"targetAmount":112.00,"guaranteedTargetAmountAllowed":false,"targetAmountAllowed":true,"preferredPayIn":"BALANCE","paymentOptions":[{"formattedEstimatedDelivery":"in
          seconds","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0070,"estimatedDelivery":"2023-07-20T23:31:27Z","disabled":false,"sourceCurrency":"USD","targetCurrency":"GBP","sourceAmount":145.18,"targetAmount":112.00,"payOut":"BANK_TRANSFER","fee":{"transferwise":1.02,"payIn":0.0,"discount":0,"total":1.02,"priceSetId":130,"partner":0.0},"price":{"priceSetId":130,"total":{"type":"TOTAL","label":"Total
          fees","value":{"amount":1.02,"currency":"USD","label":"1.02 USD"}},"items":[{"type":"PAYIN","label":"fee","value":{"amount":0.0,"currency":"USD","label":"0
          USD"}},{"type":"TRANSFERWISE","label":"Our fee","value":{"amount":1.02,"currency":"USD","label":"1.02
          USD"}}]},"payIn":"BALANCE"},{"formattedEstimatedDelivery":"by Friday","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0455,"estimatedDelivery":"2023-07-21T14:20:00Z","disabled":false,"sourceCurrency":"USD","targetCurrency":"GBP","sourceAmount":151.03,"[...]
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/transfers
      body:
        encoding: UTF-8
        string: '{"targetAccount":148360632,"quoteUuid":"074ca61b-6bd3-4781-a547-077e41175e2c","customerTransactionId":"e52c2072-dcdc-436d-8012-1588058e782e","details":{"transferPurpose":"verification.transfers.purpose.pay.other","sourceOfFunds":"verification.source.of.funds.other"}}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - bda0771580ccb222
      body:
        encoding: ASCII-8BIT
        string:
          '{"id":52160213,"user":5882096,"targetAccount":148360632,"sourceAccount":null,"quote":null,"quoteUuid":"074ca61b-6bd3-4781-a547-077e41175e2c","status":"incoming_payment_waiting","reference":"","rate":0.77691,"created":"2023-07-20
          23:31:34","business":<WISE_PROFILE_ID>,"transferRequest":null,"details":{"reference":""},"hasActiveIssues":false,"sourceCurrency":"USD","sourceValue":144.16,"targetCurrency":"GBP","targetValue":112.0,"customerTransactionId":"e52c2072-dcdc-436d-8012-1588058e782e"}'
    recorded_at: Thu, 20 Jul 2023 23:31:34 GMT
recorded_with: VCR 6.2.0
