---
http_interactions:
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/accounts
      body:
        encoding: UTF-8
        string:
          '{"currency":"AED","type":"emirates","details":{"legalType":"PRIVATE","email":"aeduser@gmail.com","accountHolderName":"Da
          Rod","IBAN":"AE070331234567890123456","address":{"city":"Dubai","firstLine":"West
          street","postCode":"111111","country":"AE"}},"profile":"<WISE_PROFILE_ID>"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - c0b3fbf741791795
      body:
        encoding: ASCII-8BIT
        string: '{"id":148624328,"business":<WISE_PROFILE_ID>,"profile":<WISE_PROFILE_ID>,"accountHolderName":"Da
          Rod","currency":"AED","country":"AE","type":"emirates","details":{"address":{"country":"AE","countryCode":"AE","firstLine":"West
          street","postCode":"111111","city":"Dubai","state":null},"email":"aeduser@gmail.com","legalType":"PRIVATE","accountHolderName":null,"accountNumber":null,"sortCode":null,"abartn":null,"accountType":null,"bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":"AE070331234567890123456","iban":"AE070331234567890123456","BIC":null,"bic":null},"user":5882096,"active":true,"ownedByCustomer":false}'
    recorded_at: Thu, 12 Oct 2023 15:12:24 GMT
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v1/accounts/148624328
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - c996536dce3e8b2b
      body:
        encoding: ASCII-8BIT
        st[...]
[...]
