---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/setup_intents/seti_1LS2aCFSsGLfTpetJF5ZbTzr?expand%5B%5D=payment_method
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1LS2aCFSsGLfTpetJF5ZbTzr",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1LS2aCFSsGLfTpetJF5ZbTzr_secret_MANKZoxPk7FuMFb5jshwnLTQqBpWYu8",
          "created": 1659375552,
          "customer": "cus_M2QFeoOFttyzTx",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": "setatt_1LS2bAFSsGLfTpetdQeunp7j",
          "livemode": false,
          "mandate": "mandate_1LS2bBFSsGLfTpetzyxTIQ8Q",
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": {
            "id": "pm_1LS2bAFSsGLfTpetCH8rj0EY",
            "object": "payment_method",
            "allow_redisplay": "unspecified",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": "sharang.d+test_email@gmail.com",
              "name": "Sahil Example",
              "phone": null
            },
            "created": 1659375612,
            "customer": "cus_M2QFeoOFttyzTx",
            "livemode": false,
            "metadata": {},
            "type": "us_bank_account",
            "us_bank_account": {
              "account_holder_type": "individual",
              "account_type": "checking",
              "bank_name": "STRIPE TEST BANK",
              "financial_connections_account": null,
              "fingerprint": "fyuVQhio0NPi5cGK",
              "last4": "6789",
              "networks": {
                "preferred": "ach",
                "supported": [
                  "ach"
                ]
              },
              "routing_number": "110000000",
              "status_details": {}
            }
          },
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method",
                  "balances"
                ],
                "prefetch": []
              },
              "verification_method": "automatic"
            }
          },
          "payment_method_types": [
            "us_bank_account"
          ],
          "single_use_mandate": null,
          "status": "succeeded",
          "usage": "off_session"
        }
  recorded_at: Mon, 17 Jun 2024 23:36:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method_types[0]=us_bank_account&payment_method=pm_1LS2bAFSsGLfTpetCH8rj0EY&customer=cus_M2QFeoOFttyzTx&confirm=true&amount=300000000&currency=USD&expand[0]=latest_charge&capture_method=automatic
    headers:
      Authorization:
      - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f24f36d3-d107-411e-8450-95a4b86b7d97
      Original-Request:
      - req_3TwxhjhWj2fgya
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "amount_too_large",
            "doc_url": "https://stripe.com/docs/error-codes/amount-too-large",
            "message": "Amount must be no more than $999,999.99",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_3TwxhjhWj2fgya?t=1718667395",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 17 Jun 2024 23:36:35 GMT
recorded_with: VCR 6.2.0
