---
http_interactions:
  - request:
      method: post
      uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/bill?minorversion=65
      body:
        encoding: UTF-8
        string: '{"TxnDate":"2023-06-30","VendorRef":{"value":"83"},"Line":[{"Description":"Inv
          #63 - Flexile Fees","DetailType":"AccountBasedExpenseLineDetail","Amount":1000.0,"AccountBasedExpenseLineDetail":{"AccountRef":{"value":"10"}}}]}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..bhOLWB2jGSxste0DEbAXvg.CUP7-UvJ7VXqHN9fiNmsqdaB6hmHyljmy41DjrDP9_H0cOgi-atgNA5l2BLpbVWa925xQgPLvMSVk0J3nEtwVJ2AuBzBGBF0YAPCDvEYBdYceXF3DA4tMAZewAMNFrXvunZ2ZepSz-CpIA8Kfz-athFWO1-kBF8CYipaD28aAzp_VWBwhf4D-lvC893nm3TauAd985fjDCaBqFFs0f6kwwvRcN3KbGW-hlZIU2J3asU9UCrEc_0stOYluc3uj4vbahmjUjjRdtp8TxyGk-UJK9a79zBp1YkkJl-vLB32XSk18RlcNfL-83KGtGmWbVBWIolJ-vILI5iwO_6FzLDOWlFDe74YDJ5xyHJLDZ_K8GmmCU6R1iHEty8WYamvsU6c0-7WfeqAQOy1Zlbh-cBzjnRJwbjotO3pQDq3u9Vby0xeWhjzSO5s3DLmmOE2dUX0mgdIw-uGHQRgN_k78WT8L9ZOAfH_5PzmfihG7u6acXF23r5ORvyZWaATBIX0N628eYNU2qEAu3vyx3Nz46XBL4aolOV-M4T9SyIbOxiBziBWAzrYDCpkvmHbGXMi5bLGw8nKhsvxlmJbya7-UH8lWn9ngQnvPRGTKLRTcNInEdh6086ADTrID00HDVHUl_A2GZ3l5J6owIURCQBmIcYd8AsPRMWBfYxKRIEf2zw3j4FdJ8UMcd0JCnrzH_K4VCtp-bmLgECvj3RA8GuQlCm2dy6HUU4-rYYoCQtoZUK1jAEVEZWobo8vuNuud4zOTfm7.bonhHelrDH6rmy0RFRiEJQ
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=utf-8
        X-Spanid:
          - f9002af2-3099-c6aa-255a-2f57a2efc17e
        Qbo-Version:
          - "2009.141"
        Service-Time:
          - total=134, db=64
        Intuit-Tid:
          - 1-64baf09c-2b4ed9a07657e43606b4d327
      body:
        encoding: ASCII-8BIT
        string: '{"Bill":{"DueDate":"2023-06-30","VendorAddr":{"Id":"121","Line1":"548
          Market St","City":"San Francisco","Country":"US","CountrySubDivisionCode":"CA","PostalCode":"94104-5401"},"Balance":1000.00,"domain":"QBO","sparse":false,"Id":"206","SyncToken":"0","MetaData":{"CreateTime":"2023-07-21T13:54:52-07:00","LastModifiedByRef":{"value":"9130355597419246"},"LastUpdatedTime":"2023-07-21T13:54:52-07:00"},"TxnDate":"2023-06-30","CurrencyRef":{"value":"USD","name":"United
          States Dollar"},"Line":[{"Id":"1","LineNum":1,"Description":"Inv #5 - Flexile
          Fees","Amount":1000.00,"LinkedTxn":[],"DetailType":"AccountBasedExpenseLineDetail","AccountBasedExpenseLineDetail":{"AccountRef":{"value":"10","name":"Dues
          & Subscriptions"},"BillableStatus":"NotBillable","TaxCodeRef":{"value":"NON"}}}],"VendorRef":{"value":"83","name":"Flexile"},"APAccountRef":{"value":"33","name":"Accounts
          Payable (A/P)"},"TotalAmt":1000.00},"time":"2023-07-21T13:54:52.415-07:00"}'
    recorded_at: Fri, 21 Jul 2023 20:54:52 GMT
  - request:
      method: post
      uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/journalentry?minorversion=65
      body:
        encoding: UTF-8
        string:
          '{"Line":[{"JournalEntryLineDetail":{"PostingType":"Debit","AccountRef":{"value":"94"}},"DetailType":"JournalEntryLineDetail","Amount":101000.0,"Description":"BILL
          2023-12-13 Payables Funding"},{"JournalEntryLineDetail":{"PostingType":"Credit","AccountRef":{"value":"93"},"Entity":{"EntityRef":{"value":"83"},"Type":"Vendor"}},"DetailType":"JournalEntryLineDetail","Amount":101000.0,"Description":"BILL
          2023-12-13 Payables Funding"}]}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..YKgpS0w7L9fbLVUU0GuR-Q.blD4NprPw_hSDaBUubtJGG7ROxLZt8vzfBHviKiGDEUstBk7CYS5ThtvdeQYGOj-jch3MAKgf0dpcu6nrT1jZdzK9DYQ1KrvCWTBO3CZUpG4ea1LMdoiMHfMQzEuswC-7pyNapZb4u5PYuY9IhW6yn-veLVVDXxRvBMk2Sq0Wc4qczaHoKS26zGe3ZNrlVYR5jhZjD[...]
[...]
