---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/memberships/orgs?state=active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 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
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7dba09764ef6079836e22b1dd70c27a437ae68d7573b5c9c670fa0e396b3bc78"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - <GITHUB_CLIENT_ID>
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1729249077'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/orgs/gumroad/memberships/raulpopadineti","state":"active","role":"admin","organization_url":"https://api.github.com/orgs/gumroad","user":{"login":"raulpopadineti","id":1855287,"node_id":"MDQ6VXNlcjE4NTUyODc=","avatar_url":"https://avatars.githubusercontent.com/u/1855287?v=4","gravatar_id":"","url":"https://api.github.com/users/raulpopadineti","html_url":"https://github.com/raulpopadineti","followers_url":"https://api.github.com/users/raulpopadineti/followers","following_url":"https://api.github.com/users/raulpopadineti/following{/other_user}","gists_url":"https://api.github.com/users/raulpopadineti/gists{/gist_id}","starred_url":"https://api.github.com/users/raulpopadineti/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/raulpopadineti/subscriptions","organizations_url":"https://api.github.com/users/raulpopadineti/orgs","repos_url":"https://api.github.com/users/raulpopadineti/repos","events_url":"https://api.github.com/users/raulpopadineti/events{/privacy}","received_events_url":"https://api.github.com/users/raulpopadineti/received_events","type":"User","user_view_type":"public","site_admin":false},"organization":{"login":"gumroad","id":1178890,"node_id":"MDEyOk9yZ2FuaXphdGlvbjExNzg4OTA=","url":"https://api.github.com/orgs/gumroad","repos_url":"https://api.github.com/orgs/gumroad/repos","events_url":"https://api.github.com/orgs/gumroad/events","hooks_url":"https://api.github.com/orgs/gumroad/hooks","issues_url":"https://api.github.com/orgs/gumroad/issues","members_url":"https://api.github.com/orgs/gumroad/members{/member}","public_members_url":"https://api.github.com/orgs/gumroad/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/1178890?v=4","description":""}},{"url":"https://api.github.com/orgs/sunergos-ro/memberships/raulpopadineti","state":"active","role":"admin","organization_url":"https://api.github.com/orgs/sunergos-ro","user":{"login":"raulpopadineti","id":1855287,"node_id":"MDQ6VXNlcjE4NTUyODc=","avatar_url":"https://avatars.githubusercontent.com/u/1855287?v=4","gravatar_id":"","url":"https://api.github.com/users/raulpopadineti","html_url":"https://github.com/raulpopadineti","followers_url":"https://api.github.com/users/raulpopadineti/fol[...]
