---
http_interactions:
  - request:
      method: get
      uri: https://api.stripe.com/v1/issuing/cardholders?email=joao@gumroad.com&limit=1&status=active
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2024-04-10"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - "2024-04-10"
      body:
        encoding: UTF-8
        string: |-
          {
            "object": "list",
            "data": [],
            "has_more": false,
            "url": "/v1/issuing/cardholders"
          }
    recorded_at: Thu, 01 Aug 2024 19:25:40 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/issuing/cardholders
      body:
        encoding: UTF-8
        string: type=individual&name=Mr.+Carlo+Corkery&email=joao%40gumroad.com&status=active&individual[first_name]=Mr.+Carlo&individual[last_name]=Corkery&individual[card_issuing][user_terms_acceptance][date]=1722540352&individual[card_issuing][user_terms_acceptance][ip]=217.167.68.252&individual[card_issuing][user_terms_acceptance][user_agent]=Mozilla%2F5.0+%28compatible%3B+MSIE+9.0%3B+AOL+9.7%3B+AOLBuild+4343.19%3B+Windows+NT+6.1%3B+WOW64%3B+Trident%2F5.0%3B+FunWebProducts%29&billing[address][line1]=1st+Street&billing[address][city]=New+York&billing[address][state]=NY&billing[address][postal_code]=10004&billing[address][country]=BR
      headers:
        Authorization:
          - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2024-04-10"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 198cdef1-a4e3-4b97-ab52-84b5e15eeb57
        Original-Request:
          - req_EEqHypo55h6ruh
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2024-04-10"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "ich_1Pj4dIFSsGLfTpet8jFoovKm",
            "object": "issuing.cardholder",
            "billing": {
              "address": {
                "city": "New York",
                "country": "BR",
                "line1": "1st Street",
                "line2": null,
                "postal_code": "10004",
                "state": "NY"
              }
            },
            "company": null,
            "created": 1722540352,
            "email": "joao@gumroad.com",
            "individual": {
              "card_issuing": {
                "user_terms_acceptance": {
                  "date": 1722540352,
                  "ip": "217.167.68.252",
                  "user_agent": "Mozilla/5.0 (compatible; MSIE 9.0; AOL 9.7; AOLBuild 4343.19; Windows NT 6.1; WOW64; Trident/5.0; FunWebProducts)"
                }
              },
              "dob": null,
              "first_name": "Mr. Carlo",
              "last_name": "Corkery",
              "verification": {
                "document": {
                  "back": null,
                  "front": null
                }
              }
            },
            "livemode": false,
            "metadata": {},
            "name": "Mr. Carlo Corkery",
            "phone_number": null,
            "preferred_locales": [],
            "requirements": {
              "disabled_reason": "under_review",
              "past_due": []
            },
            "spending_controls": {
              "allowed_categories": [],
              "allowed_merchant_countries": [],
              "blocked_categories": [],
              "blocked_merchant_countries": [],
              "spending_limits": [],
              "spending_limits_currency": null
            },
            "status": "active",
            "type": "individual"
          }
    recorded_at: Thu, 01 Aug 2024 19:25:53 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/issuing/cards
      body:
        encoding: UTF-8
        string: cardholder=ich_1Pj4dIFSsGLfTpet8jFoovKm&currency=usd&type=virtual&status=active&spending_controls[spending_limits][0][amount]=10000&spending_controls[spending_limits][0][interval]=monthly&metadata[company_worker_id]=45
      headers:
        Authorization:
          - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2024-04-10"
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - ee071a24-e9a8-4444-b9d4-5eb8d9f4e86c
        Original-Request:
          - req_faZdNQRess8Xuy
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2024-04-10"
      body:
        encoding: UTF-8
        string: |
          {
            "error": {
              "message": "Cardholder cannot have a billing address country of BR.",
              "request_log_url": "https://dashboard.stripe.com/test/logs/req_faZdNQRess8Xuy?t=1722540353",
              "type": "invalid_request_error"
            }
          }
    recorded_at: Thu, 01 Aug 2024 19:25:53 GMT
recorded_with: VCR 6.2.0
