---
http_interactions:
- request:
    method: post
    uri: https://api.clerk.com/v1/users
    body:
      encoding: UTF-8
      string: '{"email_address":["edgarc99cbae6_1820@flexile.com"],"first_name":"Jeromy","last_name":"Bergstrom","created_at":"2025-07-15T07:48:57Z","legal_accepted_at":"2025-07-15T07:48:57Z","skip_password_requirement":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sk_test_P0b6c9Hvv3iIZ8JrLUoGodg319UnsKbrP2eyvZbD1L
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Clerk-Api-Version:
      - '2025-04-10'
      X-Cfworker:
      - '1'
      X-Clerk-Trace-Id:
      - 9bf9018d37440852b551446b7b4ab7e9
      X-Cloud-Trace-Context:
      - 9bf9018d37440852b551446b7b4ab7e9
    body:
      encoding: ASCII-8BIT
      string: '{"id":"user_2zu0dP4RSstQPPK8XKdZkAR9XZA","object":"user","username":null,"first_name":"Jeromy","last_name":"Bergstrom","image_url":"https://img.clerk.com/eyJ0eXBlIjoiZGVmYXVsdCIsImlpZCI6Imluc18yemRCdmJ5M3VMdVI1NGg0N0xVcnJzN0VoYzQiLCJyaWQiOiJ1c2VyXzJ6dTBkUDRSU3N0UVBQSzhYS2Raa0FSOVhaQSIsImluaXRpYWxzIjoiSkIifQ","has_image":false,"primary_email_address_id":"idn_2zu0dUmufYnI5fbSji3EJ2mL7B5","primary_phone_number_id":null,"primary_web3_wallet_id":null,"password_enabled":false,"two_factor_enabled":false,"totp_enabled":false,"backup_code_enabled":false,"email_addresses":[{"id":"idn_2zu0dUmufYnI5fbSji3EJ2mL7B5","object":"email_address","email_address":"edgarc99cbae6_1820@flexile.com","reserved":false,"verification":{"status":"verified","strategy":"admin","attempts":null,"expire_at":null},"linked_to":[],"matches_sso_connection":false,"created_at":1752565737649,"updated_at":1752565737649}],"phone_numbers":[],"web3_wallets":[],"passkeys":[],"external_accounts":[],"saml_accounts":[],"enterprise_accounts":[],"public_metadata":{},"private_metadata":{},"unsafe_metadata":{},"external_id":null,"last_sign_in_at":null,"banned":false,"locked":false,"lockout_expires_in_seconds":null,"verification_attempts_remaining":100,"created_at":1752565737000,"updated_at":1752565737651,"delete_self_enabled":true,"create_organization_enabled":true,"last_active_at":null,"mfa_enabled_at":null,"mfa_disabled_at":null,"legal_accepted_at":1752565737000,"profile_image_url":"https://www.gravatar.com/avatar?d=mp"}'
  recorded_at: Tue, 15 Jul 2025 07:48:57 GMT
[...]
