---
http_interactions:
- request:
    method: post
    uri: https://api.clerk.com/v1/users
    body:
      encoding: UTF-8
      string: '{"email_address":["edgar81be1794_1817@flexile.com"],"first_name":"Earnestine
        Spinka","last_name":"JD","created_at":"2025-07-15T07:48:54Z","legal_accepted_at":"2025-07-15T07:48:54Z","skip_password_requirement":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sk_test_P0b6c9Hvv3iIZ8JrLUoGodg319UnsKbrP2eyvZbD1L
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Clerk-Api-Version:
      - '2025-04-10'
      X-Cfworker:
      - '1'
      X-Clerk-Trace-Id:
      - 6ac48eb2d2a83fdb2cde88ae826b5490
      X-Cloud-Trace-Context:
      - 6ac48eb2d2a83fdb2cde88ae826b5490
    body:
      encoding: ASCII-8BIT
      string: '{"id":"user_2zu0dNjoaYOzhfN2q6dHwBdMtOD","object":"user","username":null,"first_name":"Earnestine
        Spinka","last_name":"JD","image_url":"https://img.clerk.com/eyJ0eXBlIjoiZGVmYXVsdCIsImlpZCI6Imluc18yemRCdmJ5M3VMdVI1NGg0N0xVcnJzN0VoYzQiLCJyaWQiOiJ1c2VyXzJ6dTBkTmpvYVlPemhmTjJxNmRId0JkTXRPRCIsImluaXRpYWxzIjoiRUoifQ","has_image":false,"primary_email_address_id":"idn_2zu0dORefXFuKp8mE18p4nsDylU","primary_phone_number_id":null,"primary_web3_wallet_id":null,"password_enabled":false,"two_factor_enabled":false,"totp_enabled":false,"backup_code_enabled":false,"email_addresses":[{"id":"idn_2zu0dORefXFuKp8mE18p4nsDylU","object":"email_address","email_address":"edgar81be1794_1817@flexile.com","reserved":false,"verification":{"status":"verified","strategy":"admin","attempts":null,"expire_at":null},"linked_to":[],"matches_sso_connection":false,"created_at":1752565736507,"updated_at":1752565736507}],"phone_numbers":[],"web3_wallets":[],"passkeys":[],"external_accounts":[],"saml_accounts":[],"enterprise_accounts":[],"public_metadata":{},"private_metadata":{},"unsafe_metadata":{},"external_id":null,"last_sign_in_at":null,"banned":false,"locked":false,"lockout_expires_in_seconds":null,"verification_attempts_remaining":100,"created_at":1752565734000,"updated_at":1752565736513,"delete_self_enabled":true,"create_organization_enabled":true,"last_active_at":null,"mfa_enabled_at":null,"mfa_disabled_at":null,"legal_accepted_at":1752565734000,"profile_image_url":"https://www.gravatar.com/avatar?d=mp"}'
  recorded_at: Tue, 15 Jul 2025 07:48:56 GMT
recorded_with: VCR 6.3.1
