---
http_interactions:
  - request:
      method: get
      uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/reports/ProfitAndLoss?end_date=2024-01-31&start_date=2024-01-01
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..xc1QKITwolImkJyHVshwdA.lTboSd-DlVD9QFZox_yXrwWgJ6ySVjd8SVCeq23lMTztOSqC0b4kFBdxtsmb-ahpZEXF-DxENyADmhHHtP4SgwfJhBG7hbbbStrGTAf4GPFCjWaspQ0eaU2S-V8L_7HtXvm0BOepZtD79vKufLEODlIdCmiO26gFiqVyxmSAKu21Mfluyyg0BNH0SPhjIA9hV9fcMRtH80tA6rhBjVWSi-P6g-JkRSkhwfMpupuvjAPpkVMK1OjyQBYq7qmkv7pEIkel_w1GAauOR3Xwwv801FLy1_j4Q7SalWpCltiFyKYXcJQUpNiKFSZQde7-2_4_iO9Nja6jZkFtTIaG935EGmJ5GC2ex197ryiHVV6pmOK58K-WQWTYSPyGlmGGG_feyD3-2z95TwdvBe8O37iKpOU1wjermUfdvAcLD-mBRgV_MGayv3xFrsi0sNawbW-sZ5jE_NXNXQZi_a8IysC39Mcean9KBX8W2hFMZONgUaJSlYfOQvg57I2XTMHD3J7fdRkAi7_XN2vj1dEDTV0n612-cqdmR8SMrIon_ETaqy9MjimnEOidpKv7jCSDAp4QDnmKztKsNDRBnHG1EnNIuawPDjAkVUErUCmpauV79ATS8g2ih8xnbmbCNLhlkWWC57b_lZdD6OYmVQ-YUEHyKGfHdpAvp5L_uk3F0n9nstH9lR9ROSn4RXwSC_Yn8DXT8NLrnIQ1MDVgVChvQEViiBKm97GGx6M458ok1zFqKfA.xirZMdfYHcq0yODyzq2fkQ
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=utf-8
        X-Spanid:
          - 03dbc60a-0e4d-b126-6774-79a09e108ea1
        Qbo-Version:
          - "2033.117"
        Service-Time:
          - total=111, db=43
        Intuit-Tid:
          - 1-66b0e85a-524826851341f5be5e1d0bcb
      body:
        encoding: ASCII-8BIT
        string:
          '{"Header":{"Time":"2024-08-05T07:57:30-07:00","ReportName":"ProfitAndLoss","ReportBasis":"Accrual","StartPeriod":"2024-01-01","EndPeriod":"2024-01-31","SummarizeColumnsBy":"Total","Currency":"USD","Option":[{"Name":"AccountingStandard","Value":"GAAP"},{"Name":"NoReportData","Value":"false"}]},"Columns":{"Column":[{"ColTitle":"","ColType":"Account","MetaData":[{"Name":"ColKey","Value":"account"}]},{"ColTitle":"Total","ColType":"Money","MetaData":[{"Name":"ColKey","Value":"total"}]}]},"Rows":{"Row":[{"Header":{"ColData":[{"value":"Income"},{"value":""}]},"Rows":{"Row":[{"Header":{"ColData":[{"value":"Landscaping
          Services","id":"45"},{"value":"190.00"}]},"Rows":{"Row":[{"Header":{"ColData":[{"value":"Job
          Materials","id":"46"},{"value":""}]},"Rows":{"Row":[{"ColData":[{"value":"Plants
          and Soil","id":"49"},{"value":"131.25"}],"type":"Data"}]},"Summary":{"ColData":[{"value":"Total
          Job Materials"},{"value":"131.25"}]},"type":"Section"}]},"Summary":{"ColData":[{"value":"Total
          Landscaping Services"},{"value":"321.25"}]},"type":"Section"},{"ColData":[{"value":"Pest
          Control Services","id":"54"},{"value":"70.00"}],"type":"Data"}]},"Summary":{"ColData":[{"value":"Total
          Income"},{"value":"391.25"}]},"type":"Section","group":"Income"},{"Summary":{"ColData":[{"value":"Gross
          Profit"},{"value":"391.25"}]},"type":"Section","group":"GrossProfit"},{"Header":{"ColData":[{"value":"Expenses"},{"value":""}]},"Rows":{"Row":[{"Header":{"ColData":[{"value":"Legal
          & Professional Fees","id":"12"},{"value":""}]},"Rows":{"Row":[{"ColData":[{"value":"Lawyer","id":"71"},{"value":"300.00"}],"type":"Data"}]},"Summary":{"ColData":[{"value":"Total
          Legal & Professional Fees"},{"value":"300.00"}]},"type":"Section"}]},"Summary":{"ColData":[{"value":"Total
          Expenses"},{"value":"300.00"}]},"type":"Section","group":"Expenses"},{"Summary":{"ColData":[{"value":"Net
          Operating Income"},{"value":"91.25"}]},"type":"Section","group":"NetOperatingIncome"},{"Summary":{"ColData":[{"value":"Net
          Income"},{"value":"91.25"}]},"type":"Section","group":"NetIncome"}]}}'
    recorded_at: Mon, 05 Aug 2024 14:57:30 GMT
recorded_with: VCR 6.2.0
