---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/reports/ProfitAndLoss?date_macro=last%20fiscal%20quarter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..lwGAESS-8jyltYyF74KB6g.n3AE424o2dQbhoZ53n_t3kaSZz3yQIDrVJqNUmdJF4Ade4d_TRS55uNEoUCQkFQtuTKBA6OaXnW3PZk4qN94n2Zje4opWn1qiMOd8-cs1ZfXywje8rttIxsQPqdBHTkWMKWnt3ZmThWKLiRkXUY6bycE8o1n_QNwLb1dIOnaB7nAPy-hGD1maonRdt_-Ssw4BbdR1fyllz-5r2fYJMtIF35ITlcMT_YIpvtbmeJ8MW37wsvA-GqhGrVL9uihRaknp2LapgQLnQV51K4BK5BLMwcfemgSAObDqWYqO4etjbTiVWY6VPbk6pil9Z0CBX2_Q911WjKu8OA9FvpDwX2ZTHIZe7voCFmD6V_rtcLqNXno05As7H0zT8sjFktxWhxvMDY8KcvNvnAvCBJf21aDElOrNVuRtKsKOU95HKEFHQnSSl4NDVlf7FT4HB3Wp3p2PGlfoeMgKXr6SR3SU25PAu30_64bmDIKCKP5XL3F7gRQwPHF9qiqgfGqSwI6tyoSnIvN6LWccK_g4ouZV4LWd_Xp_0slQqa5bp6OltV18wbTH2-mdSbIrC9-FHISChQOoH65i2T6fy46r0dMPv_hv7T6GecTnNs6DtIx0f5CmpcaL1NG56JKBjz0LaWvvvLpyb2SzzfKd9O3SGnsg6ksVmaIksR4fjzzkwGlrW8GCWk7foghpfeMKbCL2SAMPLEkOrfKu4W9avYJwbKQlNhaaeiqeMvXoJGX14IzEkzWVMJv3-OQXkGny-TO0l6dG4ge.wkffVC8gVg775iIyTZ-hPQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - 2a95c107-96c0-caae-1201-55719a6d1e00
      Qbo-Version:
      - '2030.319'
      Service-Time:
      - total=88, db=34
      Intuit-Tid:
      - 1-6675454f-47df08644cfeea7c2ff17cc2
    body:
      encoding: ASCII-8BIT
      string: '{"Header":{"Time":"2024-06-21T02:18:07-07:00","ReportName":"ProfitAndLoss","DateMacro":"last
        calendar quarter","ReportBasis":"Accrual","StartPeriod":"2024-01-01","EndPeriod":"2024-03-31","SummarizeColumnsBy":"Total","Currency":"USD","Option":[{"Name":"AccountingStandard","Value":"GAAP"},{"Name":"NoReportData","Value":"false"}]},"Columns":{"Column":[{"ColTitle":"","ColType":"Account","MetaData":[{"Name":"ColKey","Value":"account"}]},{"ColTitle":"Total","ColType":"Money","MetaData":[{"Name":"ColKey","Value":"total"}]}]},"Rows":{"Row":[{"Header":{"ColData":[{"value":"Income"},{"value":""}]},"Rows":{"Row":[{"Header":{"ColData":[{"value":"Landscaping
        Services","id":"45"},{"value":"600.00"}]},"Rows":{"Row":[{"Header":{"ColData":[{"value":"Job
        Materials","id":"46"},{"value":""}]},"Rows":{"Row":[{"ColData":[{"value":"Fountains
        and Garden Lighting","id":"48"},{"value":"745.00"}],"type":"Data"},{"ColData":[{"value":"Plants
        and Soil","id":"49"},{"value":"131.25"}],"type":"Data"},{"ColData":[{"value":"Sprinklers
        and Drip Systems","id":"50"},{"value":"108.00"}],"type":"Data"}]},"Summary":{"ColData":[{"value":"Total
        Job Materials"},{"value":"984.25"}]},"type":"Section"},{"Header":{"ColData":[{"value":"Labor","id":"51"},{"value":""}]},"Rows":{"Row":[{"ColData":[{"value":"Maintenance
        and Repair","id":"53"},{"value":"50.00"}],"type":"Data"}]},"Summary":{"ColData":[{"value":"Total
        Labor"},{"value":"50.00"}]},"type":"Section"}]},"Summary":{"ColData":[{"value":"Total
        Landscaping Services"},{"value":"1634.25"}]},"type":"Section"},{"ColData":[{"value":"Pest
        Control Services","id":"54"},{"value":"140.00"}],"type":"Data"}]},"Summary":{"ColData":[{"value":"Total
        Income"},{"value":"1774.25"}]},"type":"Section","group":"Income"},{"Summary":{"ColData":[{"value":"Gross
        Profit"},{"value":"1774.25"}]},"type":"Section","group":"GrossProfit"},{"Header":{"ColData":[{"value":"Expenses"},{"value":""}]},"Rows":{"Row":[{"Header":{"ColData":[{"value":"Automobile","id":"55"},{"value":""}]},"Rows":{"Row":[{"ColData":[{"value":"Fuel","id":"56"},{"value":"54.55"}],"type":"Data"}]},"Summary":{"ColData":[{"value":"Total
        Automobile"},{"value":"54.55"}]},"type":"Section"},{"Header":{"ColData":[{"value":"Job
      [...]
