---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/reports/ProfitAndLoss?date_macro=last%20fiscal%20year
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..lwGAESS-8jyltYyF74KB6g.n3AE424o2dQbhoZ53n_t3kaSZz3yQIDrVJqNUmdJF4Ade4d_TRS55uNEoUCQkFQtuTKBA6OaXnW3PZk4qN94n2Zje4opWn1qiMOd8-cs1ZfXywje8rttIxsQPqdBHTkWMKWnt3ZmThWKLiRkXUY6bycE8o1n_QNwLb1dIOnaB7nAPy-hGD1maonRdt_-Ssw4BbdR1fyllz-5r2fYJMtIF35ITlcMT_YIpvtbmeJ8MW37wsvA-GqhGrVL9uihRaknp2LapgQLnQV51K4BK5BLMwcfemgSAObDqWYqO4etjbTiVWY6VPbk6pil9Z0CBX2_Q911WjKu8OA9FvpDwX2ZTHIZe7voCFmD6V_rtcLqNXno05As7H0zT8sjFktxWhxvMDY8KcvNvnAvCBJf21aDElOrNVuRtKsKOU95HKEFHQnSSl4NDVlf7FT4HB3Wp3p2PGlfoeMgKXr6SR3SU25PAu30_64bmDIKCKP5XL3F7gRQwPHF9qiqgfGqSwI6tyoSnIvN6LWccK_g4ouZV4LWd_Xp_0slQqa5bp6OltV18wbTH2-mdSbIrC9-FHISChQOoH65i2T6fy46r0dMPv_hv7T6GecTnNs6DtIx0f5CmpcaL1NG56JKBjz0LaWvvvLpyb2SzzfKd9O3SGnsg6ksVmaIksR4fjzzkwGlrW8GCWk7foghpfeMKbCL2SAMPLEkOrfKu4W9avYJwbKQlNhaaeiqeMvXoJGX14IzEkzWVMJv3-OQXkGny-TO0l6dG4ge.wkffVC8gVg775iIyTZ-hPQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - 78530ac0-2818-98b5-0595-f189130affbe
      Qbo-Version:
      - '2030.319'
      Service-Time:
      - total=141, db=72
      Intuit-Tid:
      - 1-6675454d-7bb10f515e7819f975e49e80
    body:
      encoding: ASCII-8BIT
      string: '{"Header":{"Time":"2024-06-21T02:18:05-07:00","ReportName":"ProfitAndLoss","DateMacro":"last
        calendar year","ReportBasis":"Accrual","StartPeriod":"2023-01-01","EndPeriod":"2023-12-31","SummarizeColumnsBy":"Total","Currency":"USD","Option":[{"Name":"AccountingStandard","Value":"GAAP"},{"Name":"NoReportData","Value":"true"}]},"Columns":{"Column":[{"ColTitle":"","ColType":"Account","MetaData":[{"Name":"ColKey","Value":"account"}]}]},"Rows":{"Row":[{"Header":{"ColData":[{"value":"Income"}]},"Summary":{"ColData":[{"value":"Total
        Income"}]},"type":"Section","group":"Income"},{"Summary":{"ColData":[{"value":"Gross
        Profit"}]},"type":"Section","group":"GrossProfit"},{"Header":{"ColData":[{"value":"Expenses"}]},"Summary":{"ColData":[{"value":"Total
        Expenses"}]},"type":"Section","group":"Expenses"},{"Summary":{"ColData":[{"value":"Net
        Operating Income"}]},"type":"Section","group":"NetOperatingIncome"},{"Summary":{"ColData":[{"value":"Net
        Income"}]},"type":"Section","group":"NetIncome"}]}}'
  recorded_at: Fri, 21 Jun 2024 09:18:05 GMT
recorded_with: VCR 6.2.0
