---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/reports/ProfitAndLoss?date_macro=last%20month
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..lwGAESS-8jyltYyF74KB6g.n3AE424o2dQbhoZ53n_t3kaSZz3yQIDrVJqNUmdJF4Ade4d_TRS55uNEoUCQkFQtuTKBA6OaXnW3PZk4qN94n2Zje4opWn1qiMOd8-cs1ZfXywje8rttIxsQPqdBHTkWMKWnt3ZmThWKLiRkXUY6bycE8o1n_QNwLb1dIOnaB7nAPy-hGD1maonRdt_-Ssw4BbdR1fyllz-5r2fYJMtIF35ITlcMT_YIpvtbmeJ8MW37wsvA-GqhGrVL9uihRaknp2LapgQLnQV51K4BK5BLMwcfemgSAObDqWYqO4etjbTiVWY6VPbk6pil9Z0CBX2_Q911WjKu8OA9FvpDwX2ZTHIZe7voCFmD6V_rtcLqNXno05As7H0zT8sjFktxWhxvMDY8KcvNvnAvCBJf21aDElOrNVuRtKsKOU95HKEFHQnSSl4NDVlf7FT4HB3Wp3p2PGlfoeMgKXr6SR3SU25PAu30_64bmDIKCKP5XL3F7gRQwPHF9qiqgfGqSwI6tyoSnIvN6LWccK_g4ouZV4LWd_Xp_0slQqa5bp6OltV18wbTH2-mdSbIrC9-FHISChQOoH65i2T6fy46r0dMPv_hv7T6GecTnNs6DtIx0f5CmpcaL1NG56JKBjz0LaWvvvLpyb2SzzfKd9O3SGnsg6ksVmaIksR4fjzzkwGlrW8GCWk7foghpfeMKbCL2SAMPLEkOrfKu4W9avYJwbKQlNhaaeiqeMvXoJGX14IzEkzWVMJv3-OQXkGny-TO0l6dG4ge.wkffVC8gVg775iIyTZ-hPQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - 30b3ffd8-5b18-a2bd-73f1-b22f9ae2b9b3
      Qbo-Version:
      - '2030.319'
      Service-Time:
      - total=110, db=29
      Intuit-Tid:
      - 1-6675454e-1d6df6527ddd95af1e11481c
    body:
      encoding: ASCII-8BIT
      string: '{"Header":{"Time":"2024-06-21T02:18:06-07:00","ReportName":"ProfitAndLoss","DateMacro":"last
        month","ReportBasis":"Accrual","StartPeriod":"2024-05-01","EndPeriod":"2024-05-31","SummarizeColumnsBy":"Total","Currency":"USD","Option":[{"Name":"AccountingStandard","Value":"GAAP"},{"Name":"NoReportData","Value":"false"}]},"Columns":{"Column":[{"ColTitle":"","ColType":"Account","MetaData":[{"Name":"ColKey","Value":"account"}]},{"ColTitle":"Total","ColType":"Money","MetaData":[{"Name":"ColKey","Value":"total"}]}]},"Rows":{"Row":[{"Header":{"ColData":[{"value":"Income"},{"value":""}]},"Rows":{"Row":[{"ColData":[{"value":"Design
        income","id":"82"},{"value":"1275.00"}],"type":"Data"},{"ColData":[{"value":"Discounts
        given","id":"86"},{"value":"-59.00"}],"type":"Data"},{"Header":{"ColData":[{"value":"Landscaping
        Services","id":"45"},{"value":"567.50"}]},"Rows":{"Row":[{"Header":{"ColData":[{"value":"Job
        Materials","id":"46"},{"value":""}]},"Rows":{"Row":[{"ColData":[{"value":"Fountains
        and Garden Lighting","id":"48"},{"value":"951.50"}],"type":"Data"},{"ColData":[{"value":"Plants
        and Soil","id":"49"},{"value":"400.00"}],"type":"Data"}]},"Summary":{"ColData":[{"value":"Total
        Job Materials"},{"value":"1351.50"}]},"type":"Section"},{"Header":{"ColData":[{"value":"Labor","id":"51"},{"value":""}]},"Rows":{"Row":[{"ColData":[{"value":"Installation","id":"52"},{"value":"250.00"}],"type":"Data"}]},"Summary":{"ColData":[{"value":"Total
        Labor"},{"value":"250.00"}]},"type":"Section"}]},"Summary":{"ColData":[{"value":"Total
        Landscaping Services"},{"value":"2169.00"}]},"type":"Section"},{"ColData":[{"value":"Pest
        Control Services","id":"54"},{"value":"70.00"}],"type":"Data"},{"ColData":[{"value":"Sales
        of Product Income","id":"79"},{"value":"868.75"}],"type":"Data"},{"ColData":[{"value":"Services","id":"1"},{"value":"103.55"}],"type":"Data"}]},"Summary":{"ColData":[{"value":"Total
        Income"},{"value":"4427.30"}]},"type":"Section","group":"Income"},{"Header":{"ColData":[{"value":"Cost
        of Goods Sold"},{"value":""}]},"Rows":{"Row":[{"ColData":[{"value":"Cost of
        Goods Sold","id":"80"},{"value":"405.00"}],"type":"Data"}]},"Summary":{"ColData":[{"value":"Total
        Cost of Goods Sold"},{"value":"405.00"}]},"type":"Section","group":"COGS"},{"Summary":{"ColData":[{"value":"Gross
        Profit"},{"value":"4022.30"}]},"type":"Section","group":"GrossProfit"},{"Header":{"ColData":[{"value":"Expenses"},{"value":""}]},"Row[...]
