---
http_interactions:
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/simulation/balance/topup
      body:
        encoding: UTF-8
        string: '{"profileId":"<WISE_PROFILE_ID>","balanceId":"","currency":"USD","amount":1000}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - b2338ebca99c9f9f
      body:
        encoding: ASCII-8BIT
        string: '{"transactionId":5509698,"state":"COMPLETED","balancesAfter":[{"id":97347,"value":535555.43,"currency":"USD","cashAmount":{"value":535555.43,"currency":"USD"},"availableAmount":{"value":535555.43,"currency":"USD"},"totalWorth":{"value":535555.43,"currency":"USD"}}]}'
    recorded_at: Fri, 01 Nov 2024 13:23:31 GMT
recorded_with: VCR 6.2.0
