---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/issuing/cardholders?email=john@gumroad.com&limit=1&status=active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "ich_1PiiOsFSsGLfTpetrEIRlhGi",
              "object": "issuing.cardholder",
              "billing": {
                "address": {
                  "city": "New York",
                  "country": "US",
                  "line1": "1st Street",
                  "line2": null,
                  "postal_code": "10004",
                  "state": "NY"
                }
              },
              "company": null,
              "created": 1722454890,
              "email": "john@gumroad.com",
              "individual": {
                "card_issuing": {
                  "user_terms_acceptance": {
                    "date": 1722454890,
                    "ip": "127.0.0.1",
                    "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.0.0 Safari/537.36"
                  }
                },
                "dob": null,
                "first_name": "Erin",
                "last_name": "Purdy",
                "verification": {
                  "document": {
                    "back": null,
                    "front": null
                  }
                }
              },
              "livemode": false,
              "metadata": {},
              "name": "Erin Purdy",
              "phone_number": null,
              "preferred_locales": [],
              "requirements": {
                "disabled_reason": null,
                "past_due": []
              },
              "spending_controls": {
                "allowed_categories": [],
                "allowed_merchant_countries": [],
                "blocked_categories": [],
                "blocked_merchant_countries": [],
                "spending_limits": [],
                "spending_limits_currency": null
              },
              "status": "active",
              "type": "individual"
            }
          ],
          "has_more": false,
          "url": "/v1/issuing/cardholders"
        }
  recorded_at: Thu, 01 Aug 2024 02:29:13 GMT
recorded_with: VCR 6.2.0
