---
http_interactions:
  - request:
      method: get
      uri: https://api.stripe.com/v1/issuing/cardholders?email=john@gumroad.com&limit=1&status=active
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2024-04-10"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Stripe-Version:
          - "2024-04-10"
      body:
        encoding: UTF-8
        string: |-
          {
            "object": "list",
            "data": [
              {
                "id": "ich_1PiiOsFSsGLfTpetrEIRlhGi",
                "object": "issuing.cardholder",
                "billing": {
                  "address": {
                    "city": "New York",
                    "country": "US",
                    "line1": "1st Street",
                    "line2": null,
                    "postal_code": "10004",
                    "state": "NY"
                  }
                },
                "company": null,
                "created": 1722454890,
                "email": "john@gumroad.com",
                "individual": {
                  "card_issuing": {
                    "user_terms_acceptance": {
                      "date": 1722454890,
                      "ip": "127.0.0.1",
                      "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.0.0 Safari/537.36"
                    }
                  },
                  "dob": null,
                  "first_name": "Erin",
                  "last_name": "Purdy",
                  "verification": {
                    "document": {
                      "back": null,
                      "front": null
                    }
                  }
                },
                "livemode": false,
                "metadata": {},
                "name": "Erin Purdy",
                "phone_number": null,
                "preferred_locales": [],
                "requirements": {
                  "disabled_reason": null,
                  "past_due": []
                },
                "spending_controls": {
                  "allowed_categories": [],
                  "allowed_merchant_countries": [],
                  "blocked_categories": [],
                  "blocked_merchant_countries": [],
                  "spending_limits": [],
                  "spending_limits_currency": null
                },
                "status": "active",
                "type": "individual"
              }
            ],
            "has_more": false,
            "url": "/v1/issuing/cardholders"
          }
    recorded_at: Thu, 01 Aug 2024 02:29:08 GMT
  - request:
      method: post
      uri: https://api.stripe.com/v1/issuing/cards
      body:
        encoding: UTF-8
        string: cardholder=ich_1PiiOsFSsGLfTpetrEIRlhGi&currency=usd&type=virtual&status=active&spending_controls[spending_limits][0][amount]=10000&spending_controls[spending_limits][0][interval]=monthly&metadata[company_worker_id]=139
      headers:
        Authorization:
          - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2024-04-10"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - d54e9bc7-9701-4f7b-819d-d99cae4f5f1f
        Original-Request:
          - req_QYRNsW2y5xzd2x
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - "2024-04-10"
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "ic_1PiolMFSsGLfTpetPfJNMRdF",
            "object": "issuing.card",
            "brand": "Visa",
            "cancellation_reason": null,
            "cardholder": {
              "id": "ich_1PiiOsFSsGLfTpetrEIRlhGi",
              "object": "issuing.cardholder",
              "billing": {
                "address": {
                  "city": "New York",
                  "country": "US",
                  "line1": "1st Street",
                  "line2": null,
                  "postal_code": "10004",
                  "state": "NY"
                }
              },
              "company": null,
              "created": 1722454890,
              "emai[...]
  - request:
      method: get
      uri: https://api.stripe.com/v1/issuing/cardholders?email=john@gumroad.com
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
        Content-Type:
          - application/x-www-form-urlencoded
        Stripe-Version:
          - "2024-04-10"
    response:
      status:
        code: 200
        message: OK
 [...]
[...]
