---
http_interactions:
- request:
    method: post
    uri: https://api.clerk.com/v1/users
    body:
      encoding: UTF-8
      string: '{"email_address":["edgar43055889_8@flexile.com"],"first_name":"Cory","last_name":"Wunsch","created_at":"2025-07-09T07:30:59Z","legal_accepted_at":"2025-07-09T07:30:59Z","skip_password_requirement":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sk_test_4jPLIR81CgxSxoHUJWKPJH06TGqxEL1ht5aPzcR5KZ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Clerk-Api-Version:
      - '2021-02-05'
      X-Cfworker:
      - '1'
      X-Clerk-Trace-Id:
      - 2420f6801be594cea049815cf146094f
      X-Cloud-Trace-Context:
      - 2420f6801be594cea049815cf146094f
    body:
      encoding: ASCII-8BIT
      string: '{"id":"user_2zd1i0bYEK6vF6Ei6bSa44XoYUb","object":"user","username":null,"first_name":"Cory","last_name":"Wunsch","image_url":"https://img.clerk.com/eyJ0eXBlIjoiZGVmYXVsdCIsImlpZCI6Imluc18ycjhhSkhwd3czZ1p2eVRBc0luTW5BU0JPS3YiLCJyaWQiOiJ1c2VyXzJ6ZDFpMGJZRUs2dkY2RWk2YlNhNDRYb1lVYiIsImluaXRpYWxzIjoiQ1cifQ","has_image":false,"primary_email_address_id":"idn_2zd1i3lIPrsv7TxJVaQbntMCljH","primary_phone_number_id":null,"primary_web3_wallet_id":null,"password_enabled":false,"two_factor_enabled":false,"totp_enabled":false,"backup_code_enabled":false,"email_addresses":[{"id":"idn_2zd1i3lIPrsv7TxJVaQbntMCljH","object":"email_address","email_address":"edgar43055889_8@flexile.com","reserved":false,"verification":{"status":"verified","strategy":"admin","attempts":null,"expire_at":null},"linked_to":[],"matches_sso_connection":false,"created_at":1752046259556,"updated_at":1752046259556}],"phone_numbers":[],"web3_wallets":[],"passkeys":[],"external_accounts":[],"saml_accounts":[],"enterprise_accounts":[],"public_metadata":{},"private_metadata":{},"unsafe_metadata":{},"external_id":null,"last_sign_in_at":null,"banned":false,"locked":false,"lockout_expires_in_seconds":null,"verification_attempts_remaining":100,"created_at":1752046259000,"updated_at":1752046259558,"delete_self_enabled":true,"create_organization_enabled":true,"last_active_at":null,"mfa_enabled_at":null,"mfa_disabled_at":null,"legal_accepted_at":1752046259000,"profile_image_url":"https://www.gravatar.com/avatar?d=mp"}'
  recorded_at: Wed, 09 Jul 2025 07:30:59 GMT
[...]
