---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/query?minorversion=65&query=select%20*%20from%20Vendor%20startposition%201%20maxresults%201000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..yij0VTFoaZj6EN9Rjml6Ug.u_lrRiRO2gDWKioOAZgkMNmfT_ug_BT_r3HY34Iul3ta3gOsKQB9R5jSRnV6cyD5pHIG1k427t50lOJ0i-7QC5pDNXDA1Y1K1ptyMwO8Ru27Pvuy13XcZAGv9oGJA9uEvTEAqVWs80bN6LcmnNn812XTqvVsTlrj5U6XbBBo71BbdrrwrWCyytKSL-ONM_zC2Wr3MzPgD-v8-poguJ3bIRyeXBPPMaOwfu3lVZfQv2ac4NxA_H-_vXuCfhJRdDMWQ6igNLVChZDef-4T-6C81psmOjZ3V578_3JIyR3uGvc0-_-wimza6fZ7i7lyT-BL_epHMlrr6BUAkME3tXBa1xbP8Si96WIDq3xTFDKn83LYbYH2wywKkmbmEhs_AoLePzQT9qM8j10IcRGGucEM5a148dfsK5S4p20ghE0IlG66XSoeA4VsnL7MvEBGwNY3-jPcLvlJee0su9OLoKi3zQ4FqHloSwQog6ftdhzc_9ouunfXnQ6xgYnvoQO6Lo08bsZd9tno-qx9c3YcvRNvRTmWDLHfvvWnADZFQ-RP6qqbLhPtPBq9Vie8dAGa8qzjKQflMqzS4Wtl0ql885qakD-KF9O_zpgDT1j5pkz8_YblJdsWiyoQzr-fLuUZuly7xoFP9EvlbWUvG9mZR_A7uwnkkFOmDJedZ85I5WXEtJIJnn3u8frKNIVhcvse3cruLHevQLSMAGgOUtxbjlOqgNGWuc5gNah-K_x5VPfoShI3A9JaM1J-d6t2X-poY28P.gbTxBjm3wuXfIJLpAE8KPw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Spanid:
      - 9e62fdbb-26e3-c5bf-41ca-42e026578265
      Intuit-Tid:
      - 1-66eb279a-6b6d4a0f3070156060e78e0f
    body:
      encoding: ASCII-8BIT
      string: '{"QueryResponse":{"Vendor":[{"BillAddr":{"Id":"179","Line1":"5613 Calle","City":"Torrance","Country":"United
        States","CountrySubDivisionCode":"CA","PostalCode":"90505"},"TaxIdentifier":"XXXXXXX2472","Balance":0,"BillRate":120,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"118","SyncToken":"0","MetaData":{"CreateTime":"2023-08-02T13:34:02-07:00","LastUpdatedTime":"2023-08-02T13:34:02-07:00"},"DisplayName":"Ann
        Asenaz","PrintOnCheckName":"Ann Asenaz","Active":true,"V4IDPseudonym":"00209875b63a4e54ef46149ab84306bd6d14e6","PrimaryEmailAddr":{"Address":"carolina.fabroni+testflex@gmail.com"}},{"BillAddr":{"Id":"33","Line1":"10
        Main St.","City":"Palo Alto","CountrySubDivisionCode":"CA","PostalCode":"94303","Lat":"37.445013","Long":"-122.1391443"},"TermRef":{"value":"1"},"Balance":892.32,"BillRate":25,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"32","SyncToken":"0","MetaData":{"CreateTime":"2022-11-16T10:13:24-08:00","LastUpdatedTime":"2023-11-29T11:59:53-08:00"},"CompanyName":"Cal
        Telephone","DisplayName":"Cal Telephone","PrintOnCheckName":"Cal Telephone","Active":true,"V4IDPseudonym":"002098564d6af094d445d48b1ecc9048072a45","PrimaryPhone":{"FreeFormNumber":"(650)
        555-1616"}},{"BillAddr":{"Id":"202","Line1":"1st Street","City":"New York","Country":"United
        States","CountrySubDivisionCode":"NY","PostalCode":"10004"},"TaxIdentifier":"XXXXX6789","Balance":4620.00,"BillRate":60,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"85","SyncToken":"22","MetaData":{"CreateTime":"2022-12-30T11:17:44-08:00","LastUpdatedTime":"2024-09-18T12:16:21-07:00"},"GivenName":"Caro
        Example","DisplayName":"Caro Example","PrintOnCheckName":"Caro Example","Active":true,"V4IDPseudonym":"00209847d5d4485cdd4b0cade8f38ad07c308d","PrimaryEmailAddr":{"Address":"caro@example.com"}},{"BillAddr":{"Id":"178","Line1":"5613
        Calle de Arboles","City":"Torrance","Country":"United States","CountrySubDivisionCode":"CA","PostalCode":"90505"},"TaxIdentifier":"XXXXXXX4785","Balance":0,"BillRate":100,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        Stat[...]
- request:
    method: post
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/vendor?minorversion=65
    body:
      encoding: UTF-8
      string: '{"Active":true,"BillAddr":{"City":"New York","Line1":"1st Street","PostalCode":"10004","Country":"United
        States","CountrySubDivisionCode":"NY"},"BillRate":60.0,"GivenName":"Caro Example","DisplayName":"Caroline''s
        Boutique, LLC","PrimaryEmailAddr":{"Address":"caro@example.com"},"Vendor1099":false,"TaxId[...]
