---
http_interactions:
  - request:
      method: get
      uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/query?minorversion=65&query=select%20*%20from%20Account%20where%20AccountType%20=%20%27Bank%27%20and%20Active%20=%20true%20startposition%201%20maxresults%201000
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..F6_I2LN88RoPTJX28XxTJg.7uETEKKvIOwteQIY38uH9ll7JNxpnywLEWxnnYkXXXv9psLQ1zP3N6iQn1ayCAe9R1oHXp6PdAZAoVtsomsThI0sAcfcVkc9SiJcp3OrqNM9QDa9TnoH5z_wjX5Af-m9yASn_HsbMKuc0Y494eBJXoRqxxSmIiQ10I1u7Gj4MGYQd81Ms12AcZWSniV3kFjC-p5425cFWSSdqNPaJKamwMVBSlwQCPoxkExErPGvAwRbojWZxtpiRm6SXMzzsHhoJeD6nsVmxDbMlmErROcxQCReaqnPJTOzjWZQlRy6YAcslBKuctlbLpVxWLR9zIBHxgH30mz5pVUVvucHJlxEvgM1FJ6BP9mdCA-f_G5Dk41w-x2dphxoGM_d3P0h46F0uNfKddpOTV-uqYEZKE29Fj6dta2FzToY_Y81KOGwB7opfb0HB3FTxvgyMFnwvAH0Z7hHzNTnh60NB-RfdtLqXMj8YZOP_rYDDiiX7aj7YMY2Enk9eOuaspH3R_Tuctg-aGtUK13PzpdRJ9OflUXwfFlrp3CVAkh7zaxax95He38ONgbYTIDIFcseu9-zxTe2rUod7TXm0ErwoQFc6lfndggqGxfm3rtxcznYNNagj9Vjww2SRorIsL8RsidMZ89UEEcv7mAAb5feTCzn6nUwt2aH7p6CCOp-y6tksZPYmEQcj3CB7GMIUh82OWPHPot9arSJETkWGB79pLplttgxKPT94qPEOiFHwDzr9T4PCSNEdhyfmiTBd5GhX3WUJGvh.8Zk_Kgb42GfqZX60TI9ClA
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=utf-8
        X-Spanid:
          - 169ae4f6-a0f0-8df8-6b9e-e8afc640c7a5
        Qbo-Version:
          - "2008.119"
        Service-Time:
          - total=69, db=16
        Intuit-Tid:
          - 1-64a6dc88-44771ca34e9757073edcc107
      body:
        encoding: ASCII-8BIT
        string: '{"QueryResponse":{"Account":[{"Name":"Cash on hand","SubAccount":false,"Description":"WFB
        Operations","FullyQualifiedName":"Cash on hand","Active":true,"Classification":"Asset","AccountType":"Bank","AccountSubType":"CashOnHand","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"93","SyncToken":"0","MetaData":{"CreateTime":"2023-07-06T07:00:53-07:00","LastUpdatedTime":"2023-07-06T07:00:53-07:00"}},{"Name":"Checking","SubAccount":false,"FullyQualifiedName":"Checking","Active":true,"Classification":"Asset","AccountType":"Bank","AccountSubType":"Checking","CurrentBalance":-1359.00,"CurrentBalanceWithSubAccounts":-1359.00,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"35","SyncToken":"0","MetaData":{"CreateTime":"2022-11-19T12:08:20-08:00","LastUpdatedTime":"2023-06-11T13:09:48-07:00"}},{"Name":"Flexile.com
        Money Out Clearing","SubAccount":false,"FullyQualifiedName":"Flexile.com Money
        Out Clearing","Active":true,"Classification":"Asset","AccountType":"Bank","AccountSubType":"CashOnHand","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"94","SyncToken":"0","MetaData":{"CreateTime":"2023-07-06T08:15:06-07:00","LastUpdatedTime":"2023-07-06T08:15:06-07:00"}},{"Name":"Savings","SubAccount":false,"FullyQualifiedName":"Savings","Active":true,"Classification":"Asset","AccountType":"Bank","AccountSubType":"Savings","CurrentBalance":800.00,"CurrentBalanceWithSubAccounts":800.00,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"36","SyncToken":"0","MetaData":{"CreateTime":"2022-11-19T12:09:00-08:00","LastUpdatedTime":"2022-11-23T13:00:56-08:00"}}],"startPosition":1,"maxResults":4},"time":"2023-07-06T08:23:52.308-07:00"}'
    recorded_at: Thu, 06 Jul 2023 15:23:52 GMT
[...]
