---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=5&q=This%20is%20a%20query%20that%20finds%20no%20resources%20in:title%20org:antiwork&sort=updated-desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 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
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - <GITHUB_CLIENT_ID>
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1729247120'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Fri, 18 Oct 2024 10:24:21 GMT
recorded_with: VCR 6.2.0
