---
http_interactions:
  - request:
      method: post
      uri: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
      body:
        encoding: US-ASCII
        string: grant_type=refresh_token&refresh_token=AB11697382936pPiXOKwXO6HOkXRu8d06ICkEGSavreaI9PBlP
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
        Authorization:
          - Basic <QUICKBOOKS_BASIC_AUTH_STRING>==
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/json;charset=utf-8
        X-Spanid:
          - 63e5219f-e364-1979-b655-0545ee3d138d
        Intuit-Tid:
          - 1-64ef6872-512ab4d2713c2533748f1ad2
      body:
        encoding: UTF-8
        string: '{"error":"invalid_grant"}'
    recorded_at: Wed, 30 Aug 2023 16:04:02 GMT
  - request:
      method: get
      uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/query?minorversion=65&query=select%20*%20from%20Account%20where%20AccountType%20=%20%27Bank%27%20and%20Active%20=%20true%20startposition%201%20maxresults%201000
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..TYk2rfruIKM3HqCh2I5kvQ.f3dOw0ubskkX7rZRDhEubdf0pC-sAdJIY3RW34W6hx6vcekvofE2Jzk2nhCfCyZD7yDJ3ZUHHZYu5zRXG3k9FY08tVemp7Q0PPczbL6a9y2ivUwpVaBBk0Qrh9nDhkQHHAWvab0mKjGEfrzb8ktoLIS3IOkSy1BUBfadRs_OJrlEUTdU2f_74NBnEaE45xbnz8Z-wMPe20aVS-KlEmsDTGjPt9An9GXU8A7-bYxiR3Q26JrdU7Q6WeRiO3WpyA7qKKJHZb8wUcY2A-g9cPWn0y1mY7IeqU2qGujHbzaUmwGg1SL5TJ5TDH7WgjsqMTwKWMjJxBIB9zA2FaBwhESsTaAW37Om8GSNwfZx-0wlzeGSSKUJRUHe1Kkua4zYms9whplO0_PGIL5rT0BKhUgNQINTUtL8PhRQYA5CHz5YHagAuQL5gbhAfu53SPDt2-UMpyvfQRmwD29uRrWXO3SjRLWQfudADozSaTuia2OIoSbbsPkIKM2VJzOVbQSkj-TpOYbT7qDFlb-LsmNR2vI0qqteGJCUVL8O5H48V1E-rGwn0URdW07vX2v2lvib7kL0vxHtGXB2oMLLZaSy-RnjUfaIC14hVZIuriu4M3rjVZCCmRLuIbtpTUcvROA6FvF-2u7SRGftS2wB93rRkVs-8Ep1mUKTgilup9WOLi9Uc2A1kRYnYcLTgHDsHsqG8afHI_UyWWVT-BT6rTSiH4LjiKwEeBuT5aHfQsyqe1K20mkKRwqW-5g-fsh9ZoOGuBLt.mp1dazDLXQItwPG4vbp7HQ
    response:
      status:
        code: 401
        message: Unauthorized
      headers:
        Content-Type:
          - application/json
        Www-Authenticate:
          - Bearer realm="Intuit", error="invalid_token"
        Intuit-Tid:
          - 1-64ef6873-472d182a5a6b6535313bcecb
      body:
        encoding: UTF-8
        string: '{"warnings":null,"intuitObject":null,"fault":{"error":[{"message":"message=AuthenticationFailed;
          errorCode=003200; statusCode=401","detail":"Token expired: AB01689843763bcQn5cz3k0O2ki2E3x6AWtbS7UP4d4zW5EUYJ","code":"3200","element":null}],"type":"AUTHENTICATION"},"report":null,"queryResponse":null,"batchItemResponse":[],"attachableResponse":[],"syncErrorResponse":null,"requestId":null,"time":1693411443434,"status":null,"cdcresponse":[]}'
    recorded_at: Wed, 30 Aug 2023 16:04:03 GMT
[...]
  - request:
      method: get
      uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/query?minorversion=75&query=select%20*%20from%20Account%20where%20AccountType%20=%20%27Bank%27%20and%20Active%20=%20true%20startposition%201%20maxresults%201000
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer asdf
    response:
      status:
        code: 401
        message: Unauthorized
      headers:
        Content-Type:
          - application/json
        Www-Authenticate:
          - Bearer realm="Intuit", error="invalid_token"
        Intuit-Tid:
          - 1-67c0ea3e-693b79467ce4c9f84105de9b
      body:
        encoding: UTF-8
        string: '{"warnings":null,"intuitObject":null,"fault":{"error":[{"message":"message=AuthenticationFailed;
          errorCode=003200; statusCode=401","detail":"Malformed bearer token: too short
          or too long","code":"3200","element":null}],"type":"AUTHENTICATION"},"report":null,"queryResponse":null,"batchItemResponse":[],"attachableResponse":[],"syncErrorResponse":null,"requestId":null,"time":1740696126773,"status":null,"cdcresponse":[]}'
    recorded_at: Thu, 27 Feb 2025 22:42:06 GMT
recorded_with: VCR 6.3.1
