---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents
    body:
      encoding: UTF-8
      string: customer=cus_M2QFeoOFttyzTx&payment_method_types[0]=us_bank_account&payment_method_options[us_bank_account][verification_method]=automatic&payment_method_options[us_bank_account][financial_connections][permissions][0]=payment_method&payment_method_data[type]=us_bank_account&payment_method_data[us_bank_account][account_holder_type]=company&payment_method_data[us_bank_account][account_number]=000123456789&payment_method_data[us_bank_account][account_type]=checking&payment_method_data[us_bank_account][routing_number]=110000000&payment_method_data[billing_details][name]=Spencer-Quitzon&payment_method_data[billing_details][email]=ismael_hills%40white.example&expand[0]=payment_method
    headers:
      Authorization:
      - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ae5750a9-9f47-480a-89dd-ac65603f0fe1
      Original-Request:
      - req_wuTGEx1hjxjRrP
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "seti_1PlXUAFSsGLfTpetCL85POzz",
          "object": "setup_intent",
          "application": null,
          "automatic_payment_methods": null,
          "cancellation_reason": null,
          "client_secret": "seti_1PlXUAFSsGLfTpetCL85POzz_secret_Qcn4JcyiCeAx0lCgbzt4luvsocaSaga",
          "created": 1723127918,
          "customer": "cus_M2QFeoOFttyzTx",
          "description": null,
          "flow_directions": null,
          "last_setup_error": null,
          "latest_attempt": null,
          "livemode": false,
          "mandate": null,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": {
            "id": "pm_1PlXUAFSsGLfTpet4E2AUdSZ",
            "object": "payment_method",
            "allow_redisplay": "unspecified",
            "billing_details": {
              "address": {
                "city": null,
                "country": null,
                "line1": null,
                "line2": null,
                "postal_code": null,
                "state": null
              },
              "email": "ismael_hills@white.example",
              "name": "Spencer-Quitzon",
              "phone": null
            },
            "created": 1723127918,
            "customer": null,
            "livemode": false,
            "metadata": {},
            "type": "us_bank_account",
            "us_bank_account": {
              "account_holder_type": "company",
              "account_type": "checking",
              "bank_name": "STRIPE TEST BANK",
              "financial_connections_account": null,
              "fingerprint": "fyuVQhio0NPi5cGK",
              "last4": "6789",
              "networks": {
                "preferred": "ach",
                "supported": [
                  "ach"
                ]
              },
              "routing_number": "110000000",
              "status_details": {}
            }
          },
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "us_bank_account": {
              "financial_connections": {
                "permissions": [
                  "payment_method"
                ],
                "prefetch": []
              },
              "mandate_options": {},
              "verification_method": "automatic"
            }
          },
          "payment_method_types": [
            "us_bank_account"
          ],
          "single_use_mandate": null,
          "status": "requires_confirmation",
          "usage": "off_session"
        }
  recorded_at: Thu, 08 Aug 2024 14:38:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/setup_intents/seti_1PlXUAFSsGLfTpetCL85POzz/confirm
    body:
      encoding: UTF-8
      string: mandate_data[customer_acceptance][type]=offline
    headers:
      Authorization:
      - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      m[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/setup_intents/seti_1LS2aCFSsGLfTpetJF5ZbTzr?expand%5B%5D=payment_method
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_51LBic8FSsGLfTpetzIURf8ybimlbadTOyvetEmam8qFXUpT52LDkEquZoGFbyuEiJaGSFfNjSKSAMPLE
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:[...]
