---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/antiwork/flexile/issues/2792
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 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
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"875334572eb970b09ba41d8b9c46dca992bc7c2f97f06c034a8a370821564530"
      Last-Modified:
      - Tue, 15 Oct 2024 18:44:58 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - <GITHUB_CLIENT_ID>
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1729116807'
      X-Ratelimit-Used:
      - '9'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/antiwork/flexile/issues/2792","repository_url":"https://api.github.com/repos/antiwork/flexile","labels_url":"https://api.github.com/repos/antiwork/flexile/issues/2792/labels{/name}","comments_url":"https://api.github.com/repos/antiwork/flexile/issues/2792/comments","events_url":"https://api.github.com/repos/antiwork/flexile/issues/2792/events","html_url":"https://github.com/antiwork/flexile/issues/2792","id":2483301599,"node_id":"I_kwDOF4zYP86UBCzf","number":2792,"title":"Team
        updates","user":{"login":"slavingia","id":74396,"node_id":"MDQ6VXNlcjc0Mzk2","avatar_url":"https://avatars.githubusercontent.com/u/74396?v=4","gravatar_id":"","url":"https://api.github.com/users/slavingia","html_url":"https://github.com/slavingia","followers_url":"https://api.github.com/users/slavingia/followers","following_url":"https://api.github.com/users/slavingia/following{/other_user}","gists_url":"https://api.github.com/users/slavingia/gists{/gist_id}","starred_url":"https://api.github.com/users/slavingia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/slavingia/subscriptions","organizations_url":"https://api.github.com/users/slavingia/orgs","repos_url":"https://api.github.com/users/slavingia/repos","events_url":"https://api.github.com/users/slavingia/events{/privacy}","received_events_url":"https://api.github.com/users/slavingia/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":{"login":"rmarescu","id":399663,"node_id":"MDQ6VXNlcjM5OTY2Mw==","avatar_url":"https://avatars.githubusercontent.com/u/399663?v=4","gravatar_id":"","url":"https://api.github.com/users/rmarescu","html_url":"https://github.com/rmarescu","followers_url":"https://api.github.com/users/rmarescu/followers","following_url":"https://api.github.com/users/rmarescu/following{/other_user}","gists_url":"https://api.github.com/users/rmarescu/gists{/gist_id}","starred_url":"https://api.github.com/users/rmarescu/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rmarescu/subscriptions","organizations_url":"https://api.github.com/users/rmarescu/orgs","repos_url":"https://api.github.com/users/rmarescu/repos","events_url":"https://api.github.com/users/rmarescu/events{/privacy}","received_events_url":"https://api.github.com/users/rmarescu/received_events","type":"User","site_admin":false},"assignees":[{"login":"rmarescu","id":399663,"node_id":"MDQ6VXNlcjM5OTY2Mw==","avatar_url":"https://avatars.githubusercontent.com/u/399663?v=4","gravatar_id":"","url":"https://api.github.com/users/rmarescu","html_url":"https://github.com/rmarescu","followers_url":"https://api.github.com/users/rmarescu/followers","following_url":"https://api.github.com/users/rmarescu/following{/other_user}","gists_url":"https://api.github.com/users/rmarescu/gists{/gist_id}","starred_url":"https://api.github.com/users/rmaresc[...]
