---
http_interactions:
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v2/profiles
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - 0413534476edb9ea
      body:
        encoding: ASCII-8BIT
        string: '[{"type":"PERSONAL","id":16356035,"userId":5882096,"address":{"addressFirstLine":"56
          Shoreditch High Street","city":"London","countryIso2Code":"GB","countryIso3Code":"gbr","postCode":"E16JJ","stateCode":null},"email":"","createdAt":"2022-02-02T12:57:37.000Z","updatedAt":"2022-02-02T12:57:37.000Z","obfuscated":false,"currentState":"VISIBLE","firstName":"Sharang","lastName":"Dashputre","dateOfBirth":"1943-02-22","phoneNumber":"+919766666666","secondaryAddresses":[],"fullName":"Sharang
          Dashputre"},{"type":"BUSINESS","id":<WISE_PROFILE_ID>,"userId":5882096,"address":{"addressFirstLine":"56
          Shoreditch High Street","city":"London","countryIso2Code":"GB","countryIso3Code":"gbr","postCode":"E16JJ","stateCode":null},"email":"","createdAt":"2022-02-02T12:57:40.000Z","updatedAt":"2022-02-02T12:57:40.000Z","obfuscated":false,"currentState":"VISIBLE","businessName":"Sharang
          Dashputre Business","registrationNumber":"07209813","descriptionOfBusiness":"IT_SERVICES","companyType":"LIMITED","companyRole":"OWNER","operationalAddresses":[],"fullName":"Sharang
          Dashputre Business"}]'
    recorded_at: Mon, 23 May 2022 23:30:54 GMT
recorded_with: VCR 6.1.0
