---
http_interactions:
  - request:
      method: get
      uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/query?minorversion=65&query=select%20*%20from%20Vendor%20startposition%201%20maxresults%201000
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..wt2HqQqFstl0wV_Jhc2LnQ.ZjIGQ5xLFdkeupB_GSaD4VyRdT_uHMII9B2BcJpUZPx6fxSioBH7bfi-GTcp0kCMUXCcjKQBFajrud-YT01Pq8BS-aKF6gtT4tEyhd0urM8h04VyNbs3pshbZfQqD1TNJWtkcRRIPV13s66So1HJ3nfZg41l4QovFirQhfGtkxb7o9Ls6drtFevpTJXHvc_CznrTFU6NOubigeBQZT5eXOV7krFUAL-JUCitmg6VbYjsvFU6GxDB3bsGbyYGZqtcZYFho6nk2XqitxxtJPLWgEkggEB9qsYswmyTS9l58IGU5qrWv2Q7Hx6u4PBvTg6mghk5YZCU1NApddDsYCaret4iT7vIYFcTeq8x8-TtgWwtvDOgxomia1IbZfy8AikwVAP5NSAMPLEPxX6LzV1khFp1LCipZIV3qDuKWZ5fTC6E8nZbnlxu3f9lav9UnEtcadwnWnLMOBj7CqkMo8ihcY-DNWnInuDDvXVi0t1D3-chdPQOu780uTtFRf_59jXSVaUzWKvBHF1MECZw8BaNySG5v2pW4-MvqMOQr_nL32yzAOd3CB9zZd84phbxOE7QWpgU_g6q5704dAV9T1Ea8JK0Gu2UsGA_xdw-7TGvqZVUtiviWLPxxV2s9SHSOy4qsIN5Q6E8aJAfHHX0rBfvfyvhV6nTHi8o-QDzCZtwHHjqsOWZZnAw2VND1A2ELbVRVunYgrirN49mts59wHP6Ki7RX2y_0Xc4e_.yIG-fsXqipMh4Xdd9L4gNQ
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Spanid:
          - e4c5ce8f-3ea4-faad-dfb1-562c0bd341e8
        Intuit-Tid:
          - 1-66e1a31d-29bee1643d7102bd2da3cdfb
      body:
        encoding: ASCII-8BIT
        string:
          '{"QueryResponse":{"Vendor":[{"BillAddr":{"Id":"179","Line1":"5613 Calle","City":"Torrance","Country":"United
          States","CountrySubDivisionCode":"CA","PostalCode":"90505"},"TaxIdentifier":"XXXXXXX2472","Balance":0,"BillRate":120,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
          States Dollar"},"domain":"QBO","sparse":false,"Id":"118","SyncToken":"0","MetaData":{"CreateTime":"2023-08-02T13:34:02-07:00","LastUpdatedTime":"2023-08-02T13:34:02-07:00"},"DisplayName":"Ann
          Asenaz","PrintOnCheckName":"Ann Asenaz","Active":true,"V4IDPseudonym":"00209875b63a4e54ef46149ab84306bd6d14e6","PrimaryEmailAddr":{"Address":"carolina.fabroni+testflex@gmail.com"}},{"BillAddr":{"Id":"33","Line1":"10
          Main St.","City":"Palo Alto","CountrySubDivisionCode":"CA","PostalCode":"94303","Lat":"37.445013","Long":"-122.1391443"},"TermRef":{"value":"1"},"Balance":892.32,"BillRate":25,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
          States Dollar"},"domain":"QBO","sparse":false,"Id":"32","SyncToken":"0","MetaData":{"CreateTime":"2022-11-16T10:13:24-08:00","LastUpdatedTime":"2023-11-29T11:59:53-08:00"},"CompanyName":"Cal
          Telephone","DisplayName":"Cal Telephone","PrintOnCheckName":"Cal Telephone","Active":true,"V4IDPseudonym":"002098564d6af094d445d48b1ecc9048072a45","PrimaryPhone":{"FreeFormNumber":"(650)
          555-1616"}},{"BillAddr":{"Id":"160","Country":"Argentina"},"Balance":4620.00,"BillRate":50,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
          States Dollar"},"domain":"QBO","sparse":false,"Id":"85","SyncToken":"17","MetaData":{"CreateTime":"2022-12-30T11:17:44-08:00","LastUpdatedTime":"2024-01-25T06:57:17-08:00"},"DisplayName":"Caro
          Example","PrintOnCheckName":"Caro Example","Active":true,"V4IDPseudonym":"00209847d5d4485cdd4b0cade8f38ad07c308d","P[...]
[...]
