---
http_interactions:
  - request:
      method: post
      uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/bill?minorversion=65
      body:
        encoding: UTF-8
        string: '{"DocNumber":"invoice-2","TxnDate":"2023-06-30","VendorRef":{"value":"85"},"Line":[{"Description":"Inv
          #invoice-2 - Quo sapiente ut et.","DetailType":"AccountBasedExpenseLineDetail","Amount":60.0,"AccountBasedExpenseLineDetail":{"AccountRef":{"value":"59"}},"LineNum":1},{"Description":"Inv
          #invoice-2 - Air Canada ticket","DetailType":"AccountBasedExpenseLineDetail","Amount":1000.0,"AccountBasedExpenseLineDetail":{"AccountRef":{"value":"22"}},"LineNum":2}]}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..YKgpS0w7L9fbLVUU0GuR-Q.blD4NprPw_hSDaBUubtJGG7ROxLZt8vzfBHviKiGDEUstBk7CYS5ThtvdeQYGOj-jch3MAKgf0dpcu6nrT1jZdzK9DYQ1KrvCWTBO3CZUpG4ea1LMdoiMHfMQzEuswC-7pyNapZb4u5PYuY9IhW6yn-veLVVDXxRvBMk2Sq0Wc4qczaHoKS26zGe3ZNrlVYR5jhZjD0Jb9T9dWKLm4MSAMPLEdkKRdVLP5m2JquZI2Qskv3tN9OSr1NxIoldI8-M6mQTLBS-jSFP6Y5tTBjKsaUG6NhXR3bfEpNHsMqy2YCFbzV54q_8nM26SkJnBVBQk6ZbfVhSVAlAH0my2gvwvq713Ja0Bx5W0cqW7Fjxv73aKg4HDVA-xROT2jNirfD65i9WN8G9E8wB2A7mY76e5aepwJS16HwIpEVSMpBo1oUsaZOQNRSSB-JWrxQqq20EZMdIddXo6WRUBOkO8oBIavwXEvlWlmLJf9LdTBqOmL0kBiVjOusbdNOFTHJ3f2JMtgjujOtseGG6ph0J_bM-uS9W-XfMVCk0zb0WTRpOUk6HmuOpmC-40PUdhwsI5aihWO9hOdnhi6r7x3SiCqoFhK5ipsz6meSKdCJwh9uhWqi1Ucp8bo1wvJNcWSq4jAzU-9qjABulIRUKD0L1CUsEM5bcDnLCk1zQGQFeZ9SEWR3GsA3ueplAZ-hGW41d1RKCAK3nIDJz026H2e1PauzRsbWdYeSHZzBqSfTCp1MECiuI.0JiU3vrijBCqmj7RHjlWMA
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=utf-8
        X-Spanid:
          - 8a32e81d-1742-4feb-250b-86137ef629d1
        Qbo-Version:
          - "2018.185"
        Service-Time:
          - total=149, db=81
        Intuit-Tid:
          - 1-6579c154-135f22491f6ffdde0206f902
      body:
        encoding: ASCII-8BIT
        string:
          '{"Bill":{"DueDate":"2023-06-30","VendorAddr":{"Id":"160","Country":"Argentina"},"Balance":1060.00,"domain":"QBO","sparse":false,"Id":"247","SyncToken":"0","MetaData":{"CreateTime":"2023-12-13T06:36:04-08:00","LastModifiedByRef":{"value":"9130355597419246"},"LastUpdatedTime":"2023-12-13T06:36:04-08:00"},"DocNumber":"invoice-2","TxnDate":"2023-06-30","CurrencyRef":{"value":"USD","name":"United
          States Dollar"},"Line":[{"Id":"1","LineNum":1,"Description":"Inv #invoice-2
          - Quo sapiente ut et.","Amount":60.00,"LinkedTxn":[],"DetailType":"AccountBasedExpenseLineDetail","AccountBasedExpenseLineDetail":{"AccountRef":{"value":"59","name":"Job
          Expenses:Cost of Labor"},"BillableStatus":"NotBillable","TaxCodeRef":{"value":"NON"}}},{"Id":"2","LineNum":2,"Description":"Inv
          #invoice-2 - Air Canada ticket","Amount":1000.00,"LinkedTxn":[],"DetailType":"AccountBasedExpenseLineDetail","AccountBasedExpenseLineDetail":{"AccountRef":{"value":"22","name":"Travel"},"BillableStatus":"NotBillable","TaxCodeRef":{"value":"NON"}}}],"VendorRef":{"value":"85","name":"Caro
          Example"},"APAccountRef":{"value":"33","name":"Accounts Payable (A/P)"},"TotalAmt":1060.00},"time":"2023-12-13T06:36:04.782-08:00"}'
    recorded_at: Wed, 13 Dec 2023 14:36:04 GMT
[...]
