---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v2/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4e88d8b0-5522-4ffb-b7f5-a10520f0f5c1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 0000000000000000fa0bccf1974188a5
    body:
      encoding: ASCII-8BIT
      string: '[{"type":"PERSONAL","id":16706541,"userId":6189468,"type":"PERSONAL","address":{"addressFirstLine":"56
        Shoreditch High Street","city":"London","countryIso2Code":"GB","countryIso3Code":"gbr","postCode":"E16JJ","stateCode":null},"email":"","createdAt":"2023-02-14T15:45:09.000Z","updatedAt":"2023-02-14T15:45:09.000Z","obfuscated":false,"currentState":"VISIBLE","firstName":"Personal","lastName":"Account","dateOfBirth":"1944-09-13","phoneNumber":"+14133333333","secondaryAddresses":[],"fullName":"Personal
        Account"},{"type":"BUSINESS","id":16706542,"userId":6189468,"type":"BUSINESS","address":{"addressFirstLine":"56
        Shoreditch High Street","city":"London","countryIso2Code":"GB","countryIso3Code":"gbr","postCode":"E16JJ","stateCode":null},"email":"","createdAt":"2023-02-14T15:45:12.000Z","updatedAt":"2023-02-14T15:45:12.000Z","obfuscated":false,"currentState":"VISIBLE","businessName":"Personal
        Account Business","registrationNumber":"07209813","descriptionOfBusiness":"IT_SERVICES","companyType":"LIMITED","companyRole":"OWNER","operationalAddresses":[],"fullName":"Personal
        Account Business"}]'
  recorded_at: Fri, 24 Mar 2023 13:03:38 GMT
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v1/accounts
    body:
      encoding: UTF-8
      string: '{"profile":"16706542","accountHolderName":"Gumroad, Inc.","currency":"USD","type":"aba","details":{"legalType":"BUSINESS","abartn":"<GUMROAD_BANK_ROUTING_NUMBER>","accountNumber":<GUMROAD_BANK_ACCOUNT_NUMBER>,"accountType":"CHECKING","address":{"country":"US","state":"CA","city":"San
        Francisco","postCode":"94104","firstLine":"548 Market St #41309"}}}'
    headers:
      Authorization:
      - Bearer 4e88d8b0-5522-4ffb-b7f5-a10520f0f5c1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 0000000000000000b70c44e98444415a
    body:
      encoding: ASCII-8BIT
      string: '{"id":148727718,"business":16706542,"profile":16706542,"accountHolderName":"Gumroad,
        Inc.","currency":"USD","country":"US","type":"aba","details":{"address":{"country":"US","countryCode":"US","firstLine":"548
        Market St #41309","postCode":"94104","city":"San Francisco","state":"CA"},"email":null,"legalType":"BUSINESS","accountHolderName":null,"accountNumber":"<GUMROAD_BANK_ACCOUNT_NUMBER>","sortCode":null,"abartn":"<GUMROAD_BANK_ROUTING_NUMBER>","accountType":"CHECKING","bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"IBAN":null,"iban":null,"BIC":null,"bic":null},"user":6189468,"active":true,"ownedByCustomer":false}'
  recorded_at: Fri, 24 Mar 2023 13:03:39 GMT
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v3/profiles/16706542/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4e88d8b0-5522-4ffb-b7f5-a10520f0f5c1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 00000000000000003dc2235195ee1fb9
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Fri, 24 Mar 2023 13:03:39 GMT
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v3/profiles/16706542/subscriptions
    body:
      encoding: UTF-8
      string: '{"name":"Flexile - transfers#state-change","trigger_on":"transfers#state-change","delivery":{"version":"2.0.0","url":"http://localhost:31337/webhooks/wise/transfer_state_change"}}'
    headers:
      Authorization:
      - Bearer 4e88d8b0-5522-4ffb-b7f5-a10520f0f5c1
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 0000000000000000c5d8aace4d98d29f
    body:
      encoding: ASCII-8BIT
      string: '{"code":"invalid","message":"Invalid request","arguments":["delivery.url:
        Invalid delivery URL"]}'
  recorded_at: Fri, 24 Mar 2023 13:03:39 GMT
- request:
    method: delete
    uri: https://api.sandbox.transferwise.tech/v1/accounts/148727718
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 4e88d8b0-5522-4ffb-b7f5-a10520f0f5c1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trace-Id:
      - 0000000000000000fd2a116b2897f4d2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Mar 2023 13:03:40 GMT
recorded_with: VCR 6.1.0
