---
http_interactions:
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v1/rates?source=USD&target=GBP
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - 73d54ff08903f50e
      body:
        encoding: ASCII-8BIT
        string: '[{"rate":0.803116,"source":"USD","target":"GBP","time":"2023-06-04T18:19:26+0000"}]'
    recorded_at: Sun, 04 Jun 2023 18:20:12 GMT
recorded_with: VCR 6.1.0
