---
http_interactions:
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v1/rates?source=EUR&target=USD
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - b7c2139da0b189e3
      body:
        encoding: ASCII-8BIT
        string: '[{"rate":1.07079,"source":"EUR","target":"USD","time":"2023-06-04T18:18:26+0000"}]'
    recorded_at: Sun, 04 Jun 2023 18:18:34 GMT
recorded_with: VCR 6.1.0
