---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v1/accounts
    body:
      encoding: UTF-8
      string: '{"currency":"GBP","type":"sort_code","details":{"legalType":"PRIVATE","email":"someone@somewhere.com","accountHolderName":"someone
        somewhere","sortCode":231470,"accountNumber":28821822,"address":{"country":"GB","city":"London","firstLine":"112
        2nd street","postCode":"SW1P 3"}},"profile":"<WISE_PROFILE_ID>"}'
    headers:
      Authorization:
      - Bearer 8ead1034-8730-46a5-8750-7ce0482ef0bf
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 1f99f28c972aa8929f31062564e00225
      Route:
      - v1_account_create
    body:
      encoding: ASCII-8BIT
      string: '{"id":701432364,"business":null,"profile":<WISE_PROFILE_ID>,"accountHolderName":"someone
        somewhere","currency":"GBP","country":"GB","type":"sort_code","details":{"address":{"country":"GB","countryCode":"GB","firstLine":"112
        2nd street","postCode":"SW1P 3","city":"London","state":null},"email":"someone@somewhere.com","legalType":"PRIVATE","accountHolderName":null,"accountNumber":"28821822","sortCode":"231470","abartn":null,"accountType":null,"bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":"WISE
        PAYMENTS LTD WISE PAYMENTS LIMITED","branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"identificationNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":null,"iban":null,"bic":null,"BIC":null},"user":13122309,"active":true,"ownedByCustomer":false,"confirmations":null}'
  recorded_at: Thu, 07 Aug 2025 08:07:31 GMT
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v4/profiles/<WISE_PROFILE_ID>/balances?types=STANDARD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8ead1034-8730-46a5-8750-7ce0482ef0bf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - f32ac45f197201e8730ea983004c43ee
      Route:
      - v4_balance_get
    body:
      encoding: ASCII-8BIT
      string: '[{"id":285903,"currency":"GBP","amount":{"value":1000000.00,"currency":"GBP"},"reservedAmount":{"value":0.00,"currency":"GBP"},"cashAmount":{"value":1000000.00,"currency":"GBP"},"totalWorth":{"value":1000000.00,"currency":"GBP"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2025-07-17T09:35:38.170301Z","modificationTime":"2025-07-17T09:35:38.561910Z","visible":true,"primary":true,"groupId":null,"recipientId":701360838},{"id":285904,"currency":"EUR","amount":{"value":1000000.00,"currency":"EUR"},"reservedAmount":{"value":0.00,"currency":"EUR"},"cashAmount":{"value":1000000.00,"currency":"EUR"},"totalWorth":{"value":1000000.00,"currency":"EUR"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2025-07-17T09:35:38.926250Z","modificationTime":"2025-07-17T09:35:39.278111Z","visible":true,"primary":true,"groupId":null,"recipientId":701360839},{"id":285905,"currency":"USD","amount":{"value":1000000.00,"currency":"USD"},"reservedAmount":{"value":0.00,"currency":"USD"},"cashAmount":{"value":1000000.00,"currency":"USD"},"totalWorth":{"value":1000000.00,"currency":"USD"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2025-07-17T09:35:39.696822Z","modificationTime":"2025-07-17T09:35:40.030487Z","visible":true,"primary":true,"groupId":null,"recipientId":701360840},{"id":285855,"currency":"AUD","amount":{"value":1000000.00,"currency":"AUD"},"reservedAmount":{"value":0.00,"currency":"AUD"},"cashAmount":{"value":1000000.00,"currency":"AUD"},"totalWorth":{"value":1000000.00,"currency":"AUD"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2025-07-17T09:35:40.382713Z","modificationTime":"2025-07-17T09:35:40.701227Z","visible":true,"primary":true,"groupId":null,"recipientId":701360841}]'
  recorded_at: Thu, 07 Aug 2025 08:07:31 GMT
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v1/rates?source=USD&target=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8ead1034-8730-46a5-8750-7ce0482ef0bf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 1d15a6dc955f1295de61330bb2aa53ff
      Route:
      - rates
    body:
      encoding: ASCII-8BIT
      string: '[{"rate":0.747584,"source":"USD","target":"GBP","time":"2025-08-07T08:04:38+0000"}]'
  recorded_at: Thu, 07 Aug 2025 08:07:31 GMT
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v1/accounts/701432364
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8ead1034-8730-46a5-8750-7ce0482ef0bf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - fe0d40e95aefcb71cac5d87104254752
      Route:
      - account_details_v1_accounts_get
    body:
      encoding[...]
