---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v1/accounts
    body:
      encoding: UTF-8
      string: '{"currency":"GBP","type":"sort_code","details":{"legalType":"PRIVATE","email":"someone@somewhere.com","accountHolderName":"someone
        somewhere","sortCode":231470,"accountNumber":28821822,"address":{"country":"GB","city":"London","firstLine":"112
        2nd street","postCode":"SW1P 3"}},"profile":"<WISE_PROFILE_ID>"}'
    headers:
      Authorization:
      - Bearer 2183da69-ce3d-4833-a098-b7e2b19a966d
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - ccf3c96d100b46711c67c8c15919f101
      Route:
      - v1_account_create
    body:
      encoding: ASCII-8BIT
      string: '{"id":701425726,"business":null,"profile":<WISE_PROFILE_ID>,"accountHolderName":"someone
        somewhere","currency":"GBP","country":"GB","type":"sort_code","details":{"address":{"country":"GB","countryCode":"GB","firstLine":"112
        2nd street","postCode":"SW1P 3","city":"London","state":null},"email":"someone@somewhere.com","legalType":"PRIVATE","accountHolderName":null,"accountNumber":"28821822","sortCode":"231470","abartn":null,"accountType":null,"bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"identificationNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":null,"iban":null,"bic":null,"BIC":null},"user":13111899,"active":true,"ownedByCustomer":false,"confirmations":null}'
  recorded_at: Thu, 07 Aug 2025 16:07:01 GMT
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v4/profiles/<WISE_PROFILE_ID>/balances?types=STANDARD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2183da69-ce3d-4833-a098-b7e2b19a966d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - c9c5776aee3e543ed64c026433b039fa
      Route:
      - v4_balance_get
    body:
      encoding: ASCII-8BIT
      string: '[{"id":281393,"currency":"GBP","amount":{"value":1000000.00,"currency":"GBP"},"reservedAmount":{"value":0.00,"currency":"GBP"},"cashAmount":{"value":1000000.00,"currency":"GBP"},"totalWorth":{"value":1000000.00,"currency":"GBP"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2025-07-02T18:47:35.164182Z","modificationTime":"2025-07-02T18:47:35.470188Z","visible":true,"primary":true,"groupId":null,"recipientId":701314325},{"id":281409,"currency":"EUR","amount":{"value":1000000.00,"currency":"EUR"},"reservedAmount":{"value":0.00,"currency":"EUR"},"cashAmount":{"value":1000000.00,"currency":"EUR"},"totalWorth":{"value":1000000.00,"currency":"EUR"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2025-07-02T18:47:35.925835Z","modificationTime":"2025-07-05T03:43:01.056093Z","visible":true,"primary":true,"groupId":null,"recipientId":701314326},{"id":281410,"currency":"USD","amount":{"value":1005000.00,"currency":"USD"},"reservedAmount":{"value":0.00,"currency":"USD"},"cashAmount":{"value":1005000.00,"currency":"USD"},"totalWorth":{"value":1005000.00,"currency":"USD"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2025-07-02T18:47:36.495761Z","modificationTime":"2025-07-18T05:37:04.706883Z","visible":true,"primary":true,"groupId":null,"recipientId":701314327},{"id":281394,"currency":"AUD","amount":{"value":1000000.00,"currency":"AUD"},"reservedAmount":{"value":0.00,"currency":"AUD"},"cashAmount":{"value":1000000.00,"currency":"AUD"},"totalWorth":{"value":1000000.00,"currency":"AUD"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2025-07-02T18:47:37.133011Z","modificationTime":"2025-07-02T18:47:37.372170Z","visible":true,"primary":true,"groupId":null,"recipientId":701314328}]'
  recorded_at: Thu, 07 Aug 2025 16:07:02 GMT
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v1/rates?source=USD&target=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2183da69-ce3d-4833-a098-b7e2b19a966d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 8f079a19bb591edbddba6bd9a48c574e
      Route:
      - rates
    body:
      encoding: ASCII-8BIT
      string: '[{"rate":0.744488,"source":"USD","target":"GBP","time":"2025-08-07T16:06:18+0000"}]'
  recorded_at: Thu, 07 Aug 2025 16:07:02 GMT
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v1/accounts/701425726
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2183da69-ce3d-4833-a098-b7e2b19a966d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 89bcdfbd956caeb800953a879a1b935e
      Route:
      - account_details_v1_accounts_get
    body:
      encoding[...]
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/quotes
    body:
      encoding: UTF-8
      string: '{"sourceAmount":null,"targetAmount":44.66928,"sourceCurrency":"USD","targetAccount":"701425726","targetCurrency":"GBP","profileId":"<WISE_PROFILE_ID>","preferredPayIn":"BALANCE"}'
    headers:
      Authorization:
      - Bearer 2183da69-ce3d-4833-a098-b7e2b19a966d
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 79e6b985fc26d038ea5083e170284673
      Route:
      - v3_quotes_quote_create
    body:
      encoding: ASCII-8BIT
      string: '{"targetAmount":44.67,"guaranteedTargetAmountAllowed":false,"targetAmountAllowed":true,"preferredPayIn":"BALANCE","paymentOptions":[{"formattedEstimatedDelivery":"in
        seconds","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0130,"estimatedDelivery":"2025-08-07T16:07:03Z","payIn":"BALANCE","price":{"priceSetId":558,"total":{"type":"TOTAL","label":"Total
        fees","value":{"amount":0.79,"currency":"USD","label":"0.79 USD"}},"items":[{"type":"PAYIN","label":"fee","value":{"amount":0.0,"currency":"USD","label":"0
        USD"}},{"type":"TRANSFERWISE","label":"Our fee","value":{"amount":0.79,"currency":"USD","label":"0.79
        USD"}}],"priceDecisionReferenceId":"621524cb-b3e2-4986-5e92-c172a1db377f"},"fee":{"transferwise":0.79,"payIn":0.0,"discount":0,"total":0.79,"priceSetId":558,"partner":0.0},"payOut":"BANK_TRANSFER","sourceAmount":60.79,"targetAmount":44.67,"sourceCurrency":"USD","targetCurrency":"GBP","disabled":false},{"formattedEstimatedDelivery":"in
        seconds","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0789,"estimatedDelivery":"2025-08-07T16:07:03Z","payIn":"GOOGLE_PAY","price":{"priceSetId":556,"total":{"type":"TOTAL","label":"Total
        fees","value":{"amount":5.14,"currency":"USD","label":"5.14 USD"}},"items":[{"type":"PAYIN","label":"fee","value":{"amount":4.02,"currency":"USD","label":"4.02
        USD"}},{"type":"TRANSFERWISE","label":"[...]
