---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v1/accounts
    body:
      encoding: UTF-8
      string: '{"currency":"GBP","type":"sort_code","details":{"legalType":"PRIVATE","email":"someone@somewhere.com","accountHolderName":"someone
        somewhere","sortCode":231470,"accountNumber":28821822,"address":{"country":"GB","city":"London","firstLine":"112
        2nd street","postCode":"SW1P 3"}},"profile":"<WISE_PROFILE_ID>"}'
    headers:
      Authorization:
      - Bearer 8ead1034-8730-46a5-8750-7ce0482ef0bf
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 9ef19de0318f7d75b9b50b997015ee46
      Route:
      - v1_account_create
    body:
      encoding: ASCII-8BIT
      string: '{"id":701432364,"business":null,"profile":<WISE_PROFILE_ID>,"accountHolderName":"someone
        somewhere","currency":"GBP","country":"GB","type":"sort_code","details":{"address":{"country":"GB","countryCode":"GB","firstLine":"112
        2nd street","postCode":"SW1P 3","city":"London","state":null},"email":"someone@somewhere.com","legalType":"PRIVATE","accountHolderName":null,"accountNumber":"28821822","sortCode":"231470","abartn":null,"accountType":null,"bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"identificationNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":null,"iban":null,"bic":null,"BIC":null},"user":13122309,"active":true,"ownedByCustomer":false,"confirmations":null}'
  recorded_at: Thu, 07 Aug 2025 09:30:38 GMT
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v4/profiles/<WISE_PROFILE_ID>/balances?types=STANDARD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8ead1034-8730-46a5-8750-7ce0482ef0bf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 7da7b06cb43821e854249b9e0e6f3a08
      Route:
      - v4_balance_get
    body:
      encoding: ASCII-8BIT
      string: '[{"id":285903,"currency":"GBP","amount":{"value":1000000.00,"currency":"GBP"},"reservedAmount":{"value":0.00,"currency":"GBP"},"cashAmount":{"value":1000000.00,"currency":"GBP"},"totalWorth":{"value":1000000.00,"currency":"GBP"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2025-07-17T09:35:38.170301Z","modificationTime":"2025-07-17T09:35:38.561910Z","visible":true,"primary":true,"groupId":null,"recipientId":701360838},{"id":285904,"currency":"EUR","amount":{"value":1000000.00,"currency":"EUR"},"reservedAmount":{"value":0.00,"currency":"EUR"},"cashAmount":{"value":1000000.00,"currency":"EUR"},"totalWorth":{"value":1000000.00,"currency":"EUR"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2025-07-17T09:35:38.926250Z","modificationTime":"2025-07-17T09:35:39.278111Z","visible":true,"primary":true,"groupId":null,"recipientId":701360839},{"id":285905,"currency":"USD","amount":{"value":1000000.00,"currency":"USD"},"reservedAmount":{"value":0.00,"currency":"USD"},"cashAmount":{"value":1000000.00,"currency":"USD"},"totalWorth":{"value":1000000.00,"currency":"USD"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2025-07-17T09:35:39.696822Z","modificationTime":"2025-07-17T09:35:40.030487Z","visible":true,"primary":true,"groupId":null,"recipientId":701360840},{"id":285855,"currency":"AUD","amount":{"value":1000000.00,"currency":"AUD"},"reservedAmount":{"value":0.00,"currency":"AUD"},"cashAmount":{"value":1000000.00,"currency":"AUD"},"totalWorth":{"value":1000000.00,"currency":"AUD"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2025-07-17T09:35:40.382713Z","modificationTime":"2025-07-17T09:35:40.701227Z","visible":true,"primary":true,"groupId":null,"recipientId":701360841}]'
  recorded_at: Thu, 07 Aug 2025 09:30:38 GMT
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v1/rates?source=USD&target=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8ead1034-8730-46a5-8750-7ce0482ef0bf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 2e08ff05c8747ac2d571043714a820d1
      Route:
      - rates
    body:
      encoding: ASCII-8BIT
      string: '[{"rate":0.747885,"source":"USD","target":"GBP","time":"2025-08-07T09:29:42+0000"}]'
  recorded_at: Thu, 07 Aug 2025 09:30:39 GMT
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v1/accounts/701432364
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8ead1034-8730-46a5-8750-7ce0482ef0bf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 3b5e8a13a7fc51733d2c77d454ebd591
      Route:
      - account_details_v1_accounts_get
    body:
      encoding[...]
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/quotes
    body:
      encoding: UTF-8
      string: '{"sourceAmount":null,"targetAmount":44.8731,"sourceCurrency":"USD","targetAccount":"701432364","targetCurrency":"GBP","profileId":"<WISE_PROFILE_ID>","preferredPayIn":"BALANCE"}'
    headers:
      Authorization:
      - Bearer 8ead1034-8730-46a5-8750-7ce0482ef0bf
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - d9cf8ddd4d7c85a5feae1bf12d6013c6
      Route:
      - v3_quotes_quote_create
    body:
      encoding: ASCII-8BIT
      string: '{"targetAmount":44.87,"guaranteedTargetAmountAllowed":false,"targetAmountAllowed":true,"preferredPayIn":"BALANCE","paymentOptions":[{"formattedEstimatedDelivery":"in
        seconds","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0130,"estimatedDelivery":"2025-08-07T09:30:39Z","sourceAmount":60.79,"targetAmount":44.87,"sourceCurrency":"USD","targetCurrency":"GBP","payOut":"BANK_TRANSFER","payIn":"BALANCE","price":{"priceSetId":558,"total":{"type":"TOTAL","label":"Total
        fees","value":{"amount":0.79,"currency":"USD","label":"0.79 USD"}},"items":[{"type":"PAYIN","label":"fee","value":{"amount":0.0,"currency":"USD","label":"0
        USD"}},{"type":"TRANSFERWISE","label":"Our fee","value":{"amount":0.79,"currency":"USD","label":"0.79
        USD"}}],"priceDecisionReferenceId":"620f7926-59aa-425d-02a4-2c085e4d509b"},"fee":{"transferwise":0.79,"payIn":0.0,"discount":0,"total":0.79,"priceSetId":558,"partner":0.0},"disabled":false},{"formattedEstimatedDelivery":"in
        seconds","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0789,"estimatedDelivery":"2025-08-07T09:30:39Z","sourceAmount":65.14,"targetAmount":44.87,"sourceCurrency":"USD","targetCurrency":"GBP","payOut":"BANK_TRANSFER","payIn":"GOOGLE_PAY","price":{"priceSetId":556,"total":{"type":"TOTAL","label":"Total
        fees","value":{"amount":5.14,"currency":"USD","label":"5.14 USD"}},"items":[{"type":"PAYIN","l[...]
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v1/transfers
    body:
      encoding: UTF-8
      string: '{"targetAccount":"701432364","quoteUuid":"f21f78f3-c5f8-47c3-8dac-971f09699968","customerTransactionId":"b11095fe-ccc7-47bf-984b-5285f3aa63d1","details":{"transferPurpose":"verification.transfers.purpose.pay.other","sourceOfFunds":"verification.source.of.funds.other","reference":"PMT"}}'
    headers:
      Authorization:
      - Bearer 8ead1034-8730-46a5-8750-7ce0482ef0bf
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - f5d266b5cc33eea36420f799169997ea
      Route:
      - public_transfer_post_transfer
    body:
      encoding: ASCII-8BIT
      string: '{"id":55309977,"user":13122309,"targetAccount":701432364,"sourceAccount":null,"quote":null,"quoteUuid":"f21f78f3-c5f8-47c3-8dac-971f09699968","status":"incoming_payment_waiting","reference":"PMT","rate":0.747885,"created":"2025-08-07
        09:30:41","business":null,"transferRequest":null,"details":{"reference":"PMT"},"hasActiveIssues":false,"sourceCurrency":"USD","sourceValue":60.00,"targetCurrency":"GBP","targetValue":44.87,"customerTransactionId":"b11095fe-ccc7-47bf-984b-5285f3aa63d1"}'
  recorded_at: Thu, 07 Aug 2025 09:30:41 GMT
recorded_with: VCR 6.3.1
