---
http_interactions:
- request:
    method: post
    uri: https://api.clerk.com/v1/invitations
    body:
      encoding: UTF-8
      string: '{"email_address":"john@example.com","expires_in_days":365,"ignore_existing":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sk_test_4jPLIR81CgxSxoHUJWKPJH06TGqxEL1ht5aPzcR5KZ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Clerk-Api-Version:
      - '2021-02-05'
      X-Cfworker:
      - '1'
      X-Clerk-Trace-Id:
      - c1c067ba7f1600ba6381a6e453a63153
      X-Cloud-Trace-Context:
      - c1c067ba7f1600ba6381a6e453a63153
    body:
      encoding: ASCII-8BIT
      string: '{"object":"invitation","id":"inv_2tPbIKpJmzeQ40oomOOufoZ9faW","email_address":"john@example.com","public_metadata":{},"status":"pending","url":"https://eager-akita-70.clerk.accounts.dev/v1/tickets/accept?ticket=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJlaXMiOjMxNTM2MDAwLCJleHAiOjE3NzE3OTI1NzUsImlpZCI6Imluc18ycjhhSkhwd3czZ1p2eVRBc0luTW5BU0JPS3YiLCJzaWQiOiJpbnZfMnRQYklLcEptemVRNDBvb21PT3Vmb1o5ZmFXIiwic3QiOiJpbnZpdGF0aW9uIn0.SIgSJT0UzUMf2q4fWGqtT6N0sac35_ZO9Bj1Zr8-8o9RFnlt1bYG20PPDaJiXy_NqWIrI_CjwKDmPIH-vc4Ruqko9r-DgWyY3BnD2qw6DuirCydm0vZoLlVnyA93W7Amc2IYsky7hDauz34_ftMqhn-0Z9PTPI4vCvRYzexodYA--VjY2-iZFAdkeXz9VG7VGymjxHHBJstJEY3bylza7_qQhzj1Bdz5afoH8sI7jTa6W1ouDergbT9mdf9JsHvyhnqFI-Oco64f-OcZ4yE0JCxIF6R6_OGBwwZ7I5eOwlAmb3Ok-LUTk3tqxrVNHuvOSqFtdPtD1aF2ofMdBRTL9A","expires_at":1771792575658,"created_at":1740256575658,"updated_at":1740256575658}'
  recorded_at: Sat, 22 Feb 2025 20:36:15 GMT
- request:
    method: post
    uri: https://api.clerk.com/v1/users
    body:
      encoding: UTF-8
      string: '{"email_address":["john@example.com"],"first_name":"John","last_name":"Smith","created_at":"2025-02-22T20:36:15Z","legal_accepted_at":"2025-02-22T20:36:15Z","skip_password_requirement":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sk_test_4jPLIR81CgxSxoHUJWKPJH06TGqxEL1ht5aPzcR5KZ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Clerk-Api-Version:
      - '2021-02-05'
      X-Cfworker:
      - '1'
      X-Clerk-Trace-Id:
      - fb1ddae7b5e851f6afe1dff4186ff0dc
      X-Cloud-Trace-Context:
      - fb1ddae7b5e851f6afe1dff4186ff0dc
    body:
      encoding: ASCII-8BIT
      string: '{"id":"user_2tPbIOqHxyrof7mKPVxg5uvodVV","object":"user","username":null,"first_name":"John","last_name":"Smith","image_url":"https://img.clerk.com/eyJ0eXBlIjoiZGVmYXVsdCIsImlpZCI6Imluc18ycjhhSkhwd3czZ1p2eVRBc0luTW5BU0JPS3YiLCJyaWQiOiJ1c2VyXzJ0UGJJT3FIeHlyb2Y3bUtQVnhnNXV2b2RWViIsImluaXRpYWxzIjoiSlMifQ","has_image":false,"primary_email_address_id":"idn_2tPbIJ8ZYlU0YdHqAQvfh2us75K","primary_phone_number_id":null,"primary_web3_wallet_id":null,"password_enabled":false,"two_factor_enabled":false,"totp_enabled":false,"backup_code_enabled":false,"email_addresses":[{"id":"idn_2tPbIJ8ZYlU0YdHqAQvfh2us75K","object":"email_address","email_address":"john@example.com","reserved":false,"verification":{"status":"verified","strategy":"admin","attempts":null,"expire_at":null},"linked_to":[],"matches_sso_connection":false,"created_at":1740256575970,"updated_at":1740256575970}],"phone_numbers":[],"web3_wallets":[],"passkeys":[],"external_accounts":[],"saml_accounts":[],"enterprise_accounts":[],"public_metadata":{},"private_metadata":{},"unsafe_metadata":{},"external_id":null,"last_sign_in_at":null,"banned":false,"locked":false,"lockout_expires_in_seconds":null,"verification_attempts_remaining":100,"created_at":1740256575000,"updated_at":1740256575972,"delete_self_enabled":true,"create_organization_enabled":true,"last_active_at":null,"mfa_enabled_at":null,"mfa_disabled_at":null,"legal_accepted_at":1740256575000,"profile_image_url":"https://www.gravatar.com/avatar?d=mp"}'
  recorded_at: Sat, 22 Feb 2025 20:36:16 GMT
[...]
