---
http_interactions:
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/accounts
      body:
        encoding: UTF-8
        string:
          '{"currency":"USD","type":"aba","details":{"legalType":"PRIVATE","abartn":"026009593","accountHolderName":"Spec
          Man","accountNumber":"12345678","accountType":"CHECKING","address":{"country":"US","city":"New
          York","firstLine":"767 5th Avenue","state":"NY","postCode":"10153"}},"profile":"<WISE_PROFILE_ID>"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - c7c6b8debdc3e6
      body:
        encoding: ASCII-8BIT
        string: '{"id":480168878,"business":<WISE_PROFILE_ID>,"profile":<WISE_PROFILE_ID>,"accountHolderName":"Spec
          Man","currency":"USD","country":"US","type":"aba","details":{"address":{"country":"US","countryCode":"US","firstLine":"767
          5th Avenue","postCode":"10153","city":"New York","state":"NY"},"email":null,"legalType":"PRIVATE","accountHolderName":null,"accountNumber":"12345678","sortCode":null,"abartn":"026009593","accountType":"CHECKING","bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"identificationNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":null,"iban":null,"bic":null,"BIC":null},"user":5882096,"active":true,"ownedByCustomer":false}'
    recorded_at: Fri, 06 Sep 2024 13:47:51 GMT
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v1/accounts/480168878
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - ecf170f6674d8853
      body:
        encoding: ASCII-8BIT
        st[...]
