---
http_interactions:
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/accounts
      body:
        encoding: UTF-8
        string:
          '{"currency":"USD","type":"aba","details":{"legalType":"PRIVATE","abartn":"026009593","accountHolderName":"Spec
          Man","accountNumber":"12345678","accountType":"CHECKING","address":{"country":"US","city":"New
          York","firstLine":"767 5th Avenue","state":"NY","postCode":"10153"}},"profile":"<WISE_PROFILE_ID>"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - 570bf65c6f6d328c
      body:
        encoding: ASCII-8BIT
        string: '{"id":480168878,"business":<WISE_PROFILE_ID>,"profile":<WISE_PROFILE_ID>,"accountHolderName":"Spec
          Man","currency":"USD","country":"US","type":"aba","details":{"address":{"country":"US","countryCode":"US","firstLine":"767
          5th Avenue","postCode":"10153","city":"New York","state":"NY"},"email":null,"legalType":"PRIVATE","accountHolderName":null,"accountNumber":"12345678","sortCode":null,"abartn":"026009593","accountType":"CHECKING","bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"identificationNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":null,"iban":null,"bic":null,"BIC":null},"user":5882096,"active":true,"ownedByCustomer":false}'
    recorded_at: Fri, 06 Sep 2024 13:47:54 GMT
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v1/accounts/480168878
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - 6b477d6be6f96f1b
      body:
        encoding: ASCII-8BIT
        st[...]
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/quotes
      body:
        encoding: UTF-8
        string: '{"sourceAmount":null,"targetAmount":20000.0,"sourceCurrency":"USD","targetAccount":"480168878","targetCurrency":"USD","profileId":"<WISE_PROFILE_ID>","preferredPayIn":"BALANCE"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - da296eb6e225c68f
      body:
        encoding: ASCII-8BIT
        string:
          '{"targetAmount":20000.00,"guaranteedTargetAmountAllowed":false,"targetAmountAllowed":true,"preferredPayIn":"BALANCE","paymentOptions":[{"formattedEstimatedDelivery":"in
          8 hours","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0001,"estimatedDelivery":"2024-09-06T21:15:00Z","disabled":false,"sourceAmount":20001.05,"targetAmount":20000.00,"sourceCurrency":"USD","targetCurrency":"USD","payOut":"BANK_TRANSFER","price":{"priceSetId":130,"total":{"type":"TOTAL","label":"Total
          fees","value":{"amount":1.05,"currency":"USD","label":"1.05 USD"}},"items":[{"type":"PAYIN","label":"fee","value":{"amount":0.0,"currency":"USD","label":"0
          USD"}},{"type":"TRANSFERWISE","label":"Our fee","value":{"amount":1.05,"currency":"USD","label":"1.05
          USD"}}],"priceDecisionReferenceId":"471e5db8-d8c6-47c8-8ec5-4adc840bd1c0"},"fee":{"transferwise":1.05,"payIn":0.0,"discount":0,"total":1.05,"priceSetId":130,"partner":0.0},"payIn":"BALANCE"},{"formattedEstimatedDelivery":"by
          Monday, September 9","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0003,"estimatedDelivery":"2024-09-09T21:15:00Z","disabled":false,"sourceAmount":20006.47,"targetAmount":20000.00,"sourceCurrency":"USD","targetCurrency":"USD","payOut":"BANK_TRANSFER","price":{"priceSetId":181,"total":{"type":"TOTAL","label":"Total
          fees","value":{"amount":6.47,"currency":"USD","label":"6.47[...]
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/transfers
      body:
        encoding: UTF-8
        string: '{"targetAccount":"480168878","quoteUuid":"bc129e10-59ca-4026-a4ac-39aa71b06c6e","customerTransactionId":"7052c9e6-12aa-4087-ae2d-438e6b6e098c","details":{"transferPurpose":"verification.transfers.purpose.pay.other","sourceOfFunds":"verification.source.of.funds.other","reference":"EB"}}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - e0cd71e2d3766201
      body:
        encoding: ASCII-8BIT
        string:
          '{"id":54220920,"user":5882096,"targetAccount":480168878,"sourceAccount":null,"quote":null,"quoteUuid":"bc129e10-59ca-4026-a4ac-39aa71b06c6e","status":"incoming_payment_waiting","reference":"EB","rate":1.0,"created":"2024-09-06
          13:47:56","business":<WISE_PROFILE_ID>,"transferRequest":null,"details":{"reference":"EB"},"hasActiveIssues":false,"sourceCurrency":"USD","sourceValue":20000.00,"targetCurrency":"USD","targetValue":20000.00,"customerTransactionId":"7052c9e6-12aa-4087-ae2d-438e6b6e098c"}'
    recorded_at: Fri, 06 Sep 2024 13:47:56 GMT
recorded_with: VCR 6.2.0
