---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/vendor/85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..-WGqjGm_Q6U5E9CKOmMLOA.AwGBoecsuaEI-l2gF56CHZ6Mka3z4hXcYgDG4lakVkq7igaOsXl_ZrYavnWTvPBwV6oDAQJazUfg9EPTj_Brp8LQ7KF6bKPakV1Nyg0SGla3qZ9pQNE4FZdPCIhHHAE8TgFhiZJvKtg1vAS8h-LYE1GTaMHCOH0-u5Sa1Y2M94s5O4S_lIBuHiFinoTwsLht2EktYkMQ7r1PaS5IvHLj2kgbtJsSyi6Uw53S-efTfvw8yqcOvUd0Ym4mdnQxqw8A85uthhXZmi6SaGy8bbM45MF120roUWTKxaY7qhmXOMmCZUxwV8sMaxF0IQhKsk31qKNN0YykLtmGWqjtumS66BFbd8ByYuS5Sh49Ci6EjjnmWIQdk2hU2Zhpa6-BraGAfFTecDQot6FFUU8dlh2eK1J239HUfjTkRLtwgTKbMqPRgZpe_1TQRJM2YeCCHkK8hkAaTpchvqcP2OdOinzBXG-4XObxIsJ6zooKygLRUG6MiEksSlsHar0fIL7z3Tuw7ZHeW_mBSyANYEsDcUfEVBKDmWzM__l8RHUW_uZfndCD5PYFMuysozEmCgBM6cMunuKLqKMADvXh0NzvnMTz4X7K5NoBQ2PL4mXWLgb07mNbvdwmQvmPxwziruB9xD1sEOjFMcIf_BDdZAec9VWC_O1WD-Ql2ae6nTcDRwUecblgURN5veF39ZtMn6UxCx2OOJWm5ZejHL-QdgO7OvE_r4xsJZj6p5FjZSjK-W4XXOHuxfg0LsSPrHJOgOSS8kAm.J6fcYErZqX1GTkMdAX8RLw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - ebca44ec-4f6f-7f91-b416-d1a2f0b09f24
      Qbo-Version:
      - '2009.141'
      Service-Time:
      - total=57, db=26
      Intuit-Tid:
      - 1-64c2dda1-14cb92b36fe3f69a2447d6ad
    body:
      encoding: ASCII-8BIT
      string: '{"Vendor":{"BillAddr":{"Id":"160","Country":"Argentina"},"Balance":2780.00,"Vendor1099":false,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"85","SyncToken":"16","MetaData":{"CreateTime":"2022-12-30T11:17:44-08:00","LastUpdatedTime":"2023-07-27T13:01:33-07:00"},"DisplayName":"Caro
        Example","PrintOnCheckName":"Caro Example","Active":true,"PrimaryEmailAddr":{"Address":"caro@example.com"}},"time":"2023-07-27T14:12:01.167-07:00"}'
  recorded_at: Thu, 27 Jul 2023 21:12:01 GMT
recorded_with: VCR 6.2.0
