---
http_interactions:
- request:
    method: post
    uri: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
    body:
      encoding: US-ASCII
      string: grant_type=authorization_code&code=AB11673029554tszbgk21CFKjumYiqOmFTZ76kmvw6sXXyZLPH&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fdata%2Foauth_redirect
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <QUICKBOOKS_BASIC_AUTH_STRING>==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-63b86693-0d6d6d8e15c8cf3810eebee3
      X-Spanid:
      - 6ec79128-78d1-4c1d-b97f-0e52e677abfd
    body:
      encoding: UTF-8
      string: '{"x_refresh_token_expires_in":8726400,"access_token":"eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..it80WviMOaudMI6v5qMMog.qR1gDcqLaK_gUIUcCuVWr6VErirjDWhCcoSnSbBxPSzQOjj9w_2IQ4C2hFC00tVzcjHqSWEFrZZ0iKhOWsTrnvMZB_l57BddZ2Avwxuegkt2ZBgN71omTYurg6et0OTiVZf8kFcg5sD1nv4x4MJ28LItstefu4GIc96DYIQaoHMoOmHYuA-2AgsQiRcF9GfBXeq9oSuDiED0vwL_IOkfSqN0LYUnaNHYmfcymXRTe4w0-iySr5ViKhsh1oLSfxBEO88m0UlDdBQmszumSheHRLEoAYzKuD-ir82Izjk_P473GB-aPmHh20WXxtmRC7TGhgSH__jSDSBR5oNWqfINDgfeE55kj9NNgM31DtFQi1umbBwLIZfimRrjIX09yAoScguKTP2xFMSb2Y1CZ0_LmKdJ7OigXpXv2zfuSCCHoh-wmRiPaGQimLH78MGdg-bIW8QrVri928cJuOTZCfIWzV4f_83NQd8YuPdXBGheyGqmnqD9n1i0M9GZ-twKLMS8-oVmWp__cpLjU-aF_LECPgAZu393LXCpJqj5qg6iyE7suO2Pr_eHgZGWF6WSqaVhcpcj6FRw4gEHkn3iFVkr5JNDaPJgGVLWtuMyBHDGoj6KbBR5xFsm4c7SSJGcoy6a2DdvDQKPL7ZdkwWCOOEzUqDKmnmj_bqY6S-xtA5Xkjedf0EUhZDKBPsaUqSDHsDVnt_PWr7rVWfJlKJcmTQBJa70x-P7ltaAAO1dhu03fDBwwD2Cqt5tBjmzgA_yu4rt._laAJ4q2nAxkf0BCit0EfQ","refresh_token":"AB11681755667TskSCdahUBIgfjybLjRbbr3yw3z4lu3p5kSoj","token_type":"bearer","expires_in":3600}'
  recorded_at: Fri, 06 Jan 2023 18:21:07 GMT
recorded_with: VCR 6.1.0
