---
http_interactions:
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/accounts
      body:
        encoding: UTF-8
        string:
          '{"currency":"USD","type":"aba","details":{"legalType":"PRIVATE","abartn":"026009593","accountHolderName":"Spec
          Man","accountNumber":"12345678","accountType":"CHECKING","address":{"country":"US","city":"New
          York","firstLine":"767 5th Avenue","state":"NY","postCode":"10153"}},"profile":"<WISE_PROFILE_ID>"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - 769133c170c2065b
      body:
        encoding: ASCII-8BIT
        string: '{"id":480168878,"business":<WISE_PROFILE_ID>,"profile":<WISE_PROFILE_ID>,"accountHolderName":"Spec
          Man","currency":"USD","country":"US","type":"aba","details":{"address":{"country":"US","countryCode":"US","firstLine":"767
          5th Avenue","postCode":"10153","city":"New York","state":"NY"},"email":null,"legalType":"PRIVATE","accountHolderName":null,"accountNumber":"12345678","sortCode":null,"abartn":"026009593","accountType":"CHECKING","bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"identificationNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":null,"iban":null,"bic":null,"BIC":null},"user":5882096,"active":true,"ownedByCustomer":false}'
    recorded_at: Sat, 24 Aug 2024 10:32:46 GMT
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v1/accounts/480168878
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - a4d093b038557040
      body:
        encoding: ASCII-8BIT
        st[...]
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/quotes
      body:
        encoding: UTF-8
        string: '{"sourceAmount":null,"targetAmount":209.56,"sourceCurrency":"USD","targetAccount":"480168878","targetCurrency":"USD","profileId":"<WISE_PROFILE_ID>","preferredPayIn":"BALANCE"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - 1dee4037d7ee351c
      body:
        encoding: ASCII-8BIT
        string:
          '{"targetAmount":209.56,"guaranteedTargetAmountAllowed":false,"targetAmountAllowed":true,"preferredPayIn":"BALANCE","paymentOptions":[{"formattedEstimatedDelivery":"by
          Monday","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0050,"estimatedDelivery":"2024-08-26T16:30:00Z","disabled":false,"sourceAmount":210.61,"targetAmount":209.56,"sourceCurrency":"USD","targetCurrency":"USD","payOut":"BANK_TRANSFER","price":{"priceSetId":130,"total":{"type":"TOTAL","label":"Total
          fees","value":{"amount":1.05,"currency":"USD","label":"1.05 USD"}},"items":[{"type":"PAYIN","label":"fee","value":{"amount":0.0,"currency":"USD","label":"0
          USD"}},{"type":"TRANSFERWISE","label":"Our fee","value":{"amount":1.05,"currency":"USD","label":"1.05
          USD"}}],"priceDecisionReferenceId":"460fc861-eaf6-4c16-5f58-8cc6ca78242e"},"fee":{"transferwise":1.05,"payIn":0.0,"discount":0,"total":1.05,"priceSetId":130,"partner":0.0},"payIn":"BALANCE"},{"formattedEstimatedDelivery":"by
          Monday","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0299,"estimatedDelivery":"2024-08-26T21:15:00Z","disabled":false,"sourceAmount":216.03,"targetAmount":209.56,"sourceCurrency":"USD","targetCurrency":"USD","payOut":"BANK_TRANSFER","price":{"priceSetId":181,"total":{"type":"TOTAL","label":"Total
          fees","value":{"amount":6.47,"currency":"USD","label":"6.47 USD"}},"items":[[...]
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/transfers/12345/payments
      body:
        encoding: UTF-8
        string: '{"type":"BALANCE"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 500
        message: Internal Server Error
      headers:
        X-2fa-Approval-Result:
          - APPROVED
        X-Trace-Id:
          - 60c9023c968b5b1f
      body:
        encoding: UTF-8
        string: ""
    recorded_at: Sat, 24 Aug 2024 10:32:47 GMT
recorded_with: VCR 6.2.0
