---
http_interactions:
- request:
    method: post
    uri: https://api.clerk.com/v1/invitations
    body:
      encoding: UTF-8
      string: '{"email_address":"admin@example.com","expires_in_days":365,"ignore_existing":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sk_test_IcXt4Bzlq8rkPYCp3tBSNQnfZtrnyoh9VdGDJvzRKr
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Clerk-Api-Version:
      - '2025-04-10'
      X-Cfworker:
      - '1'
      X-Clerk-Trace-Id:
      - 0bac879484a70d254d3979c5c9bb5f7d
      X-Cloud-Trace-Context:
      - 0bac879484a70d254d3979c5c9bb5f7d
    body:
      encoding: ASCII-8BIT
      string: '{"object":"invitation","id":"inv_30ja60thsT5egCDgXeovI1rufjj","email_address":"admin@example.com","public_metadata":{},"status":"pending","url":"https://neutral-whippet-64.clerk.accounts.dev/v1/tickets/accept?ticket=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJlaXMiOjMxNTM2MDAwLCJleHAiOjE3ODU2NzkyNTYsImlpZCI6Imluc18zMDh2ODFzMHlielNYOU5uUWNCT2k0b21TSzgiLCJzaWQiOiJpbnZfMzBqYTYwdGhzVDVlZ0NEZ1hlb3ZJMXJ1ZmpqIiwic3QiOiJpbnZpdGF0aW9uIn0.Y6bXePV2eryvm0dhaZSGEIy5uaChaJFY_8yOkuJqOzcmHTd8ZhG-6s5stmcYNGN9FVUFj4uq4UirHmJgXwFjv6enpNInUXMrDsIoWXF-NRU9hU33v1_4gbjZXiieQYPlMvxNFrqk691NjFztVucwB_tbGxbMzKlmKwwl1tJw7YF2BClDAGLMSp0nJnkbR1ylkJMaeFBsLm_70kih9n70fWkncEUDv0rZmuax4wk1Xnl3DmnJsD274zOsOz-W_POKmOWbu4KrhHNAINQT9DCii3H6t73ZIzRq1_17p7oSfP0YqQbS_y7nGtQnfpCEtBOtbk19mQh75A0v8-tC3Itejg","expires_at":1785679256289,"created_at":1754143256289,"updated_at":1754143256289}'
  recorded_at: Sat, 02 Aug 2025 14:00:56 GMT
recorded_with: VCR 6.3.1
