---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer gho_aGogSNKXswlREuTd3NLISAMPLE
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b747c269849c574bd60162d76023fd5699e88176a4c900d29946945440bac98"
      Last-Modified:
      - Tue, 08 Oct 2024 19:45:25 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - <GITHUB_CLIENT_ID>
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1728584920'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"login":"raulpopadineti","id":1855287,"node_id":"MDQ6VXNlcjE4NTUyODc=","avatar_url":"https://avatars.githubusercontent.com/u/1855287?v=4","gravatar_id":"","url":"https://api.github.com/users/raulpopadineti","html_url":"https://github.com/raulpopadineti","followers_url":"https://api.github.com/users/raulpopadineti/followers","following_url":"https://api.github.com/users/raulpopadineti/following{/other_user}","gists_url":"https://api.github.com/users/raulpopadineti/gists{/gist_id}","starred_url":"https://api.github.com/users/raulpopadineti/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/raulpopadineti/subscriptions","organizations_url":"https://api.github.com/users/raulpopadineti/orgs","repos_url":"https://api.github.com/users/raulpopadineti/repos","events_url":"https://api.github.com/users/raulpopadineti/events{/privacy}","received_events_url":"https://api.github.com/users/raulpopadineti/received_events","type":"User","site_admin":false,"name":"Raul
        Popadineti","company":"@SunergosRO ","blog":"https://sunergos.ro","location":"Timisoara,
        Romania","email":"raul@sunergos.ro","hireable":null,"bio":"Part-time senior
        software engineer @gumroad.","twitter_username":"RaulOnRails","notification_email":"raul@sunergos.ro","public_repos":25,"public_gists":1,"followers":12,"following":7,"created_at":"2012-06-15T21:13:28Z","updated_at":"2024-10-08T19:45:25Z"}'
  recorded_at: Thu, 10 Oct 2024 17:32:54 GMT
recorded_with: VCR 6.2.0
