---
http_interactions:
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v2/profiles
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - 6df3b04893f39de1
      body:
        encoding: ASCII-8BIT
        string: '[{"type":"PERSONAL","id":16356035,"userId":5882096,"type":"PERSONAL","address":{"addressFirstLine":"56
          Shoreditch High Street","city":"London","countryIso2Code":"GB","countryIso3Code":"gbr","postCode":"E16JJ","stateCode":null},"email":"","createdAt":"2022-02-02T12:57:37.000Z","updatedAt":"2022-02-02T12:57:37.000Z","obfuscated":false,"currentState":"VISIBLE","firstName":"Sharang","lastName":"Dashputre","dateOfBirth":"1943-02-22","phoneNumber":"+919766666666","secondaryAddresses":[],"fullName":"Sharang
          Dashputre"},{"type":"BUSINESS","id":<WISE_PROFILE_ID>,"userId":5882096,"type":"BUSINESS","address":{"addressFirstLine":"56
          Shoreditch High Street","city":"London","countryIso2Code":"GB","countryIso3Code":"gbr","postCode":"E16JJ","stateCode":null},"email":"","createdAt":"2022-02-02T12:57:40.000Z","updatedAt":"2022-02-02T12:57:40.000Z","obfuscated":false,"currentState":"VISIBLE","businessName":"Sharang
          Dashputre Business","registrationNumber":"07209813","descriptionOfBusiness":"IT_SERVICES","companyType":"LIMITED","companyRole":"OWNER","operationalAddresses":[],"fullName":"Sharang
          Dashputre Business"}]'
    recorded_at: Fri, 21 Jul 2023 21:44:22 GMT
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/accounts
      body:
        encoding: UTF-8
        string:
          '{"profile":"<WISE_PROFILE_ID>","accountHolderName":"Gumroad, Inc.","currency":"USD","type":"aba","details":{"legalType":"BUSINESS","abartn":"<GUMROAD_BANK_ROUTING_NUMBER>","accountNumber":<GUMROAD_BANK_ACCOUNT_NUMBER>,"accountType":"CHECKING","address":{"country":"US","state":"CA","city":"San
          Francisco","postCode":"94104","firstLine":"548 Market St #41309"}}}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - 185c5ba398e507b8
      body:
        encoding: ASCII-8BIT
        string: '{"id":148957443,"business":<WISE_PROFILE_ID>,"profile":<WISE_PROFILE_ID>,"accountHolderName":"Gumroad,
          Inc.","currency":"USD","country":"US","type":"aba","details":{"address":{"country":"US","countryCode":"US","firstLine":"548
          Market St #41309","postCode":"94104","city":"San Francisco","state":"CA"},"email":null,"legalType":"BUSINESS","accountHolderName":null,"accountNumber":"<GUMROAD_BANK_ACCOUNT_NUMBER>","sortCode":null,"abartn":"<GUMROAD_BANK_ROUTING_NUMBER>","accountType":"CHECKING","bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":null,"iban":null,"BIC":null,"bic":null},"user":5882096,"active":true,"ownedByCustomer":false}'
    recorded_at: Fri, 21 Jul 2023 21:44:22 GMT
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/subscriptions
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - 1d38aaddfabc71ce
      body:
        encoding: ASCII-8BIT
        string:
          '[{"id":"27e30dfc-06be-45d9-87c1-4d534fcfda60","name":"Flexile - balances#credit","delivery":{"version":"2.0.0","url":"https://flexile-pipe-fix-hmr-fcsxmsnnj.herokuapp.com/webhooks/wise/balance_credit"},"trigger_on":"balances#credit","created_by":{"type":"user","id":"5882096"},"created_at":"2023-04-20T03:24:51Z","scope":{"domain":"profile","id":"<WISE_PROFILE_ID>"},"request_headers":[],"enabled":true},{"id":"e8e51db3-cf68-4854-85f5-acc8823dff11","name":"Webhook
          2","delivery":{"version":"2.0.0","url":"https://c47a-40-129-123-99.ngrok-free.app/webhooks/wise/transfer_state_change"},"trigger_on":"transfers#state-change","created_by":{"type":"user","id":"5882096"},"created_at":"2023-07-21T00:19:36Z","scope":{"domain":"profile","id":"<WISE_PROFILE_ID>"},"request_headers":[],"enabled":true}]'
    recorded_at: Fri, 21 Jul 2023 21:44:23 GMT
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/subscriptions
      body:
        encoding: UTF-8
        string: '{"name":"Flexile - transfers#state-change","trigger_on":"transfers#state-change","delivery":{"version":"2.0.0","url":"http://localhost:31337/webhooks/wise/transfer_state_change"}}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - 39a0796b8cc2e0e5
      body:
        encoding: ASCII-8BIT
        string: '{"code":"invalid","message":"Invalid request","arguments":["delivery.url:
          Invalid delivery URL"]}'
    recorded_at: Fri, 21 Jul 2023 21:44:23 GMT
[...]
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v4/profiles/<WISE_PROFILE_ID>/balances?types=STANDARD
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - 88ce2d3dd1f0dffe
      body:
        encoding: ASCII-8BIT
        string: '[{"id":97347,"currency":"USD","amount":{"value":2835768.04,"currency":"USD"},"reservedAmount":{"value":0.00,"currency":"USD"},"cashAmount":{"value":2835768.04,"currency":"USD"},"totalWorth":{"value":2835768.04,"currency":"USD"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2022-02-02T12:57:43.446840Z","modificationTime":"2023-07-21T00:31:52.445171Z","visible":true,"primary":true,"groupId":null},{"id":97348,"currency":"AUD","amount":{"value":4000000.00,"currency":"AUD"},"reservedAmount":{"value":0.00,"currency":"AUD"},"cashAmount":{"value":4000000.00,"currency":"AUD"},"totalWorth":{"value":4000000.00,"currency":"AUD"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2022-02-02T12:57:43.512910Z","modificationTime":"2022-02-02T12:57:43.542188Z","visible":true,"primary":true,"groupId":null},{"id":97346,"currency":"EUR","amount":{"value":2000000.00,"currency":"EUR"},"reservedAmount":{"value":0.00,"currency":"EUR"},"cashAmount":{"value":2000000.00,"currency":"EUR"},"totalWorth":{"value":2000000.00,"currency":"EUR"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2022-02-02T12:57:43.380531Z","modificationTime":"2022-02-02T12:57:43.407841Z","visible":true,"primary":true,"groupId":null},{"id":97345,"currency":"GBP","amount":{"value":1000000.00,"currency":"GBP"},"reservedAmount":{"value":0.00,"currency":"GBP"},"cashAmount":{"value":1000000.00,"currency":"GBP"},"totalWorth":{"value":1000000.00,"currency":"GBP"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2022-02-02T12:57:43.286853Z","modificationTime":"2022-02-02T12:57:43.341693Z","visible":true,"primary":true,"groupId":null}]'
    recorded_at: Fri, 21 Jul 2023 21:44:24 GMT
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/quotes
      body:
        encoding: UTF-8
        string: '{"sourceAmount":null,"targetAmount":500.0,"sourceCurrency":"USD","targetAccount":"148957443","targetCurrency":"USD","profileId":"<WISE_PROFILE_ID>","preferredPayIn":"BALANCE"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - 3d71942abf0f81d
      body:
        encoding: ASCII-8BIT
        string:
          '{"targetAmount":500.00,"guaranteedTargetAmountAllowed":false,"targetAmountAllowed":true,"preferredPayIn":"BALANCE","paymentOptions":[{"formattedEstimatedDelivery":"by
          Monday, July 24","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0021,"estimatedDelivery":"2023-07-24T12:30:00Z","targetCurrency":"USD","sourceCurrency":"USD","sourceAmount":501.05,"targetAmount":500.00,"disabled":false,"payOut":"BANK_TRANSFER","fee":{"transferwise":1.05,"payIn":0.0,"discount":0,"total":1.05,"priceSetId":130,"partner":0.0},"price":{"priceSetId":130,"total":{"type":"TOTAL","label":"Total
          fees","value":{"amount":1.05,"currency":"USD","label":"1.05 USD"}},"items":[{"type":"PAYIN","label":"fee","value":{"amount":0.0,"currency":"USD","label":"0
          USD"}},{"type":"TRANSFERWISE","label":"Our fee","value":{"amount":1.05,"currency":"USD","label":"1.05
          USD"}}]},"payIn":"BALANCE"},{"formattedEstimatedDelivery":"by Tuesday, July
          25","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0128,"estimatedDelivery":"2023-07-25T12:30:00Z","targetCurrency":"USD","sourceCurrency":"USD","sourceAmount":506.4[...]
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/transfers
      body:
        encoding: UTF-8
        string: '{"targetAccount":"148957443","quoteUuid":"4799c7f0-4ee4-4f84-a016-79a221e6bda0","customerTransactionId":"ab07b500-4219-4476-a45d-71e71c4c31f7","details":{"transferPurpose":"verification.transfers.purpose.pay.other","sourceOfFunds":"verification.source.of.funds.other"}}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - e167203c04ba6846
      body:
        encoding: ASCII-8BIT
        string:
          '{"id":52163342,"user":5882096,"targetAccount":148957443,"sourceAccount":null,"quote":null,"quoteUuid":"4799c7f0-4ee4-4f84-a016-79a221e6bda0","status":"incoming_payment_waiting","reference":"","rate":1.0,"created":"2023-07-21
          21:44:32","business":<WISE_PROFILE_ID>,"transferRequest":null,"details":{"reference":""},"hasActiveIssues":false,"sourceCurrency":"USD","sourceValue":500.0,"targetCurrency":"USD","targetValue":500.0,"customerTransactionId":"ab07b500-4219-4476-a45d-71e71c4c31f7"}'
    recorded_at: Fri, 21 Jul 2023 21:44:32 GMT
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/transfers/52163342/payments
      body:
        encoding: UTF-8
        string: '{"type":"BALANCE"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json
        X-2fa-Approval-Result:
          - APPROVED
        X-Trace-Id:
          - 36cea1010cd7d690
      body:
        encoding: ASCII-8BIT
        string: '{"type":"BALANCE","status":"COMPLETED","errorCode":null,"errorMessage":null,"balanceTransactionId":3767993}'
    recorded_at: Fri, 21 Jul 2023 21:44:33 GMT
recorded_with: VCR 6.2.0
