---
http_interactions:
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v2/profiles
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - 85fe20f7ce54406a
      body:
        encoding: ASCII-8BIT
        string: '[{"type":"PERSONAL","id":16356035,"userId":5882096,"type":"PERSONAL","address":{"addressFirstLine":"56
          Shoreditch High Street","city":"London","countryIso2Code":"GB","countryIso3Code":"gbr","postCode":"E16JJ","stateCode":null},"email":"","createdAt":"2022-02-02T12:57:37.000Z","updatedAt":"2022-02-02T12:57:37.000Z","obfuscated":false,"currentState":"VISIBLE","firstName":"Sharang","lastName":"Dashputre","dateOfBirth":"1943-02-22","phoneNumber":"+919766666666","secondaryAddresses":[],"fullName":"Sharang
          Dashputre"},{"type":"BUSINESS","id":<WISE_PROFILE_ID>,"userId":5882096,"type":"BUSINESS","address":{"addressFirstLine":"56
          Shoreditch High Street","city":"London","countryIso2Code":"GB","countryIso3Code":"gbr","postCode":"E16JJ","stateCode":null},"email":"","createdAt":"2022-02-02T12:57:40.000Z","updatedAt":"2022-02-02T12:57:40.000Z","obfuscated":false,"currentState":"VISIBLE","businessName":"Sharang
          Dashputre Business","registrationNumber":"07209813","descriptionOfBusiness":"IT_SERVICES","companyType":"LIMITED","companyRole":"OWNER","operationalAddresses":[],"fullName":"Sharang
          Dashputre Business"}]'
    recorded_at: Fri, 21 Jul 2023 21:44:41 GMT
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/accounts
      body:
        encoding: UTF-8
        string:
          '{"profile":"<WISE_PROFILE_ID>","accountHolderName":"Gumroad, Inc.","currency":"USD","type":"aba","details":{"legalType":"BUSINESS","abartn":"<GUMROAD_BANK_ROUTING_NUMBER>","accountNumber":<GUMROAD_BANK_ACCOUNT_NUMBER>,"accountType":"CHECKING","address":{"country":"US","state":"CA","city":"San
          Francisco","postCode":"94104","firstLine":"548 Market St #41309"}}}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - 95e1b67434d6b3a
      body:
        encoding: ASCII-8BIT
        string: '{"id":148957443,"business":<WISE_PROFILE_ID>,"profile":<WISE_PROFILE_ID>,"accountHolderName":"Gumroad,
          Inc.","currency":"USD","country":"US","type":"aba","details":{"address":{"country":"US","countryCode":"US","firstLine":"548
          Market St #41309","postCode":"94104","city":"San Francisco","state":"CA"},"email":null,"legalType":"BUSINESS","accountHolderName":null,"accountNumber":"<GUMROAD_BANK_ACCOUNT_NUMBER>","sortCode":null,"abartn":"<GUMROAD_BANK_ROUTING_NUMBER>","accountType":"CHECKING","bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":null,"iban":null,"bic":null,"BIC":null},"user":5882096,"active":true,"ownedByCustomer":false}'
    recorded_at: Fri, 21 Jul 2023 21:44:41 GMT
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/subscriptions
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - f4eb33c98bbe3a5d
      body:
        encoding: ASCII-8BIT
        string:
          '[{"id":"27e30dfc-06be-45d9-87c1-4d534fcfda60","name":"Flexile - balances#credit","delivery":{"version":"2.0.0","url":"https://flexile-pipe-fix-hmr-fcsxmsnnj.herokuapp.com/webhooks/wise/balance_credit"},"trigger_on":"balances#credit","created_by":{"type":"user","id":"5882096"},"created_at":"2023-04-20T03:24:51Z","scope":{"domain":"profile","id":"<WISE_PROFILE_ID>"},"request_headers":[],"enabled":true},{"id":"e8e51db3-cf68-4854-85f5-acc8823dff11","name":"Webhook
          2","delivery":{"version":"2.0.0","url":"https://c47a-40-129-123-99.ngrok-free.app/webhooks/wise/transfer_state_change"},"trigger_on":"transfers#state-change","created_by":{"type":"user","id":"5882096"},"created_at":"2023-07-21T00:19:36Z","scope":{"domain":"profile","id":"<WISE_PROFILE_ID>"},"request_headers":[],"enabled":true}]'
    recorded_at: Fri, 21 Jul 2023 21:44:41 GMT
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/subscriptions
      body:
        encoding: UTF-8
        string: '{"name":"Flexile - transfers#state-change","trigger_on":"transfers#state-change","delivery":{"version":"2.0.0","url":"http://localhost:31337/webhooks/wise/transfer_state_change"}}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - bf4b6d08c5b87ad1
      body:
        encoding: ASCII-8BIT
        string: '{"code":"invalid","message":"Invalid request","arguments":["delivery.url:
          Invalid delivery URL"]}'
    recorded_at: Fri, 21 Jul 2023 21:44:42 GMT
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/subscriptions
      body:
        encoding: UTF-8
        string: '{"name":"Flexile - balances#credit","trigger_on":"balances#credit","delivery":{"version":"2.0.0","url":"http://localhost:31337/webhooks/wise/balance_credit"}}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - d55a8ff014d4b459
      body:
        encoding: ASCII-8BIT
        string: '{"code":"invalid","message":"Invalid request","arguments":["delivery.url:
          Invalid delivery URL"]}'
    recorded_at: Fri, 21 Jul 2023 21:44:42 GMT
recorded_with: VCR 6.2.0
