---
http_interactions:
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/accounts
      body:
        encoding: UTF-8
        string:
          '{"currency":"USD","type":"aba","details":{"legalType":"PRIVATE","abartn":"026009593","accountHolderName":"Da
          R","accountNumber":"12345678","accountType":"CHECKING","address":{"country":"US","city":"Haleiwa","firstLine":"59-720
          Kamehameha Hwy","state":"HI","postCode":"96712"}},"profile":"<WISE_PROFILE_ID>"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 422
        message: Unprocessable Entity
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - e12ec7778542b4e3
      body:
        encoding: ASCII-8BIT
        string: '{"timestamp":"2023-10-12T12:02:07.891314316Z","errors":[{"code":"NOT_VALID","message":"Please
          enter the recipients first and last name.","path":"accountHolderName","arguments":["accountHolderName","Da
          R"]}]}'
    recorded_at: Thu, 12 Oct 2023 12:02:07 GMT
recorded_with: VCR 6.2.0
