---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=5&q=team%20updates%20in:title%20org:antiwork&sort=updated-desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 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
      X-Github-Api-Version:
      - '2022-11-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - <GITHUB_CLIENT_ID>
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/issues?q=team+updates+in%3Atitle+org%3Agumroad&sort=updated-desc&per_page=5&page=2>;
        rel="next", <https://api.github.com/search/issues?q=team+updates+in%3Atitle+org%3Agumroad&sort=updated-desc&per_page=5&page=2>;
        rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1729247221'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":9,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/antiwork/flexile/issues/2792","repository_url":"https://api.github.com/repos/antiwork/flexile","labels_url":"https://api.github.com/repos/antiwork/flexile/issues/2792/labels{/name}","comments_url":"https://api.github.com/repos/antiwork/flexile/issues/2792/comments","events_url":"https://api.github.com/repos/antiwork/flexile/issues/2792/events","html_url":"https://github.com/antiwork/flexile/issues/2792","id":2483301599,"node_id":"I_kwDOF4zYP86UBCzf","number":2792,"title":"Team
        updates","user":{"login":"slavingia","id":74396,"node_id":"MDQ6VXNlcjc0Mzk2","avatar_url":"https://avatars.githubusercontent.com/u/74396?v=4","gravatar_id":"","url":"https://api.github.com/users/slavingia","html_url":"https://github.com/slavingia","followers_url":"https://api.github.com/users/slavingia/followers","following_url":"https://api.github.com/users/slavingia/following{/other_user}","gists_url":"https://api.github.com/users/slavingia/gists{/gist_id}","starred_url":"https://api.github.com/users/slavingia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/slavingia/subscriptions","organizations_url":"https://api.github.com/users/slavingia/orgs","repos_url":"https://api.github.com/users/slavingia/repos","events_url":"https://api.github.com/users/slavingia/events{/privacy}","received_events_url":"https://api.github.com/users/slavingia/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":{"login":"rmarescu","id":399663,"node_id":"MDQ6VXNlcjM5OTY2Mw==","avatar_url":"https://avatars.githubusercontent.com/u/399663?v=4","gravatar_id":"","url":"https://api.github.com/users/rmarescu","html_url":"https://github.com/rmarescu","followers_url":"https://api.github.com/users/rmarescu/followers","following_url":"https://api.github.com/users/rmarescu/following{/other_user}","gists_url":"https://api.github.com/users/rmarescu/gists{/gist_id}","starred_url":"https://api.github.com/users/rmarescu/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rmarescu/subscriptions","organizations_url":"https://api.github.com/users/rmarescu/orgs","repos_url":"https://api.github.com/users/rmarescu/repos","events_url":"https://api.github.com/users/rmarescu/events{/privacy}","received_events_url":"https://api.github.com/users/rmarescu/received_events","type":"User","user_view_type":"public","site_admin":false},"assignees":[{"login":"rmarescu","id":399663,"node_id":"MDQ6VXNlcjM5OTY2Mw==","avatar_url":"https://avatars.githubusercontent.com/u/399663?v=4","gravatar_id":"","url":"https://api.github.com/users/rmarescu","html_url":"https://github.com/rmarescu","followers_url":"https://api.github.com/users/rmarescu/followers","following_url":"https://api.github.com/users/rmarescu/following{/other_user}","gists_url":"https://api.github.com/users/rmarescu/gists{/gist_id}","starred_url":"https://api.github.com/users/rmaresc[...]
