---
http_interactions:
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/simulation/balance/topup
      body:
        encoding: UTF-8
        string: '{"profileId":"<WISE_PROFILE_ID>","balanceId":"97347","currency":"USD","amount":1000}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - aa91130c84e5ad14
      body:
        encoding: ASCII-8BIT
        string: '{"transactionId":5282143,"state":"COMPLETED","balancesAfter":[{"id":97347,"value":1678277.42,"currency":"USD","cashAmount":{"value":1678277.42,"currency":"USD"},"availableAmount":{"value":1678277.42,"currency":"USD"},"totalWorth":{"value":1678277.42,"currency":"USD"}}]}'
    recorded_at: Wed, 18 Sep 2024 00:20:22 GMT
recorded_with: VCR 6.2.0
