---
http_interactions:
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/accounts
      body:
        encoding: UTF-8
        string:
          '{"currency":"USD","type":"aba","details":{"legalType":"PRIVATE","abartn":"026009593","accountHolderName":"Da
          Rod","accountNumber":"12345678","accountType":"CHECKING","address":{"country":"US","city":"Haleiwa","firstLine":"59-720
          Kamehameha Hwy","state":"HI","postCode":"96712"}},"profile":"<WISE_PROFILE_ID>"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - 2bad670ac5ed0a2f
      body:
        encoding: ASCII-8BIT
        string: '{"id":148624327,"business":<WISE_PROFILE_ID>,"profile":<WISE_PROFILE_ID>,"accountHolderName":"Da
          Rod","currency":"USD","country":"US","type":"aba","details":{"address":{"country":"US","countryCode":"US","firstLine":"59-720
          Kamehameha Hwy","postCode":"96712","city":"Haleiwa","state":"HI"},"email":null,"legalType":"PRIVATE","accountHolderName":null,"accountNumber":"12345678","sortCode":null,"abartn":"026009593","accountType":"CHECKING","bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":null,"iban":null,"BIC":null,"bic":null},"user":5882096,"active":true,"ownedByCustomer":false}'
    recorded_at: Thu, 12 Oct 2023 12:02:07 GMT
recorded_with: VCR 6.2.0
