---
http_interactions:
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/query?minorversion=65&query=select%20*%20from%20Account%20where%20AccountType%20=%20%27Expense%27%20and%20AccountSubType%20=%20%27LegalProfessionalFees%27%20and%20Name%20=%20%27Consultant%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..2MdTXRv-1yRqXj6gtU_Rjw.ihyHp6_Biwm6YfHIPhSk4jxPz5WxnViEfEs9S4vITcvctYjvKPEtPFORA2XVM3VqqGcw6RcKVE6KfHroJiC2GHaQMsOJt9UEPOJQv1yYvYQyA9yPdqJcrk_uz64FTrHgpQIEsaMg3xK3GFph3oKYDb3JF3twWbfjJYNKqVBGsX4TxpfHu4qcCeofYHZ5OFOIg5zN6IvOSGdAXAm0pkeNgKVDBirkQ2OKhR8-w-8gThCx5qxzC7-NT6Hoeo4cF3c6lh5X_Af7YFqURUklgDQQn0ZyQEBSwRPN8DOgtCO4RUvtgLYE71xMhC21-nmWpXF_tEs6pBC5dd3dqwTPmj9idleDSvBakLi68Amh--oNh9b5xOP-SGRrWSHzxk5kba7wY1mkD_JiDiBZNELpSNRQu-ervopyV5Sp9CFMaoReu7kNygV4H3buqTi8Ac9i2nVdJxAjrHzt1jQd5tVdKMkPQqK_fsnlYUpqHF9JT7qSR5ZWClP_e6XM-o4-Z_orE2pfKcNWP0NAluxuTqfNRiTC5AzDTcMGbi6ZM-j3K3p0eZtffgwDG4OZVk-YbiIhZecqC2L9NKOJ0PtxElMbo-P104-3gBFyCjwHxdG7zmBEpErC2MzAL35pVEtj9-GtPZuny3RBCU-K0Qc-41F02OQZXEROkwhBg_xt9S4DYhdqkDsuSl6x-tWH3cicG9NGugSS0-MYGmQ7eEuAKGmN119kUCP_i9VXBcrMdBCu8wcf7o-5g6aKycRJQvTIvk88Ym1j.Y93PaAxFeTIbCc7CGy4tPw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Intuit-Tid:
      - 1-63bdc500-57fbb4f87270bf0f46727b78
      X-Spanid:
      - f5bf978e-0f2f-4f36-8ee1-f2025f99081f
      Qbo-Version:
      - '1995.144'
      Service-Time:
      - total=25, db=14
    body:
      encoding: ASCII-8BIT
      string: '{"QueryResponse":{"Account":[{"Name":"Consultant","SubAccount":false,"FullyQualifiedName":"Consultant","Active":true,"Classification":"Expense","AccountType":"Expense","AccountSubType":"LegalProfessionalFees","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"92","SyncToken":"0","MetaData":{"CreateTime":"2022-12-30T07:10:12-08:00","LastUpdatedTime":"2022-12-30T07:10:12-08:00"}}],"startPosition":1,"maxResults":1},"time":"2023-01-10T12:05:21.018-08:00"}'
  recorded_at: Tue, 10 Jan 2023 20:05:21 GMT
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/query?minorversion=65&query=select%20*%20from%20Vendor%20where%20DisplayName%20=%20%27Flexile%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..2MdTXRv-1yRqXj6gtU_Rjw.ihyHp6_Biwm6YfHIPhSk4jxPz5WxnViEfEs9S4vITcvctYjvKPEtPFORA2XVM3VqqGcw6RcKVE6KfHroJiC2[...]
- request:
    method: get
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/query?minorversion=65&query=select%20*%20from%20Account%20where%20AccountType%20=%20%27Expense%27%20and%20AccountSubType%20=%20%27DuesSubscriptions%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..2MdTXRv-1yRqXj6gtU_Rjw.ihyHp6_Biwm6YfHIPhSk4jxPz5WxnV[...]
- request:
    method: post
    uri: https://developer.api.intuit.com/v2/oauth2/tokens/revoke
    body:
      encoding: US-ASCII
      string: token=AB11682107264BetaS7WJK4O6kYxXVsaAlmPPdxbWiN1VYkG7Y
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <QUICKBOOKS_BASIC_AUTH_STRING>==
  response:
    status:
      code: 200
      message: OK
    headers:
      Intuit-Tid:
      - 1-63bdc503-2d092ef871434a0d44df63f7
      X-Spanid:
      - da42cc75-4314-46b6-a483-b30e0125828f
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 Jan 2023 20:05:24 GMT
recorded_with: VCR 6.1.0
