---
http_interactions:
  - request:
      method: get
      uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/query?minorversion=65&query=select%20*%20from%20Account%20where%20AccountType%20=%20%27Expense%27%20and%20AccountSubType%20=%20%27LegalProfessionalFees%27%20and%20Name%20=%20%27Consultant%27
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..yW1uSeP2m2Zo37xcy8CYWA.Q0Ph1iQibUEd0XHU077Pmf7zZyMbveQnbyKrmiYabBKhxAnegLa1CxmD3yhe15KJJoLWT0EIPiXXYJSZVPaYijJyZSPazxBY18hMjY-WyOqfhdI3xVGbo-NNfiTcIJPNREIo01YGgYi_ExDxok_cbSujJKfNRsGL2o-gqo4fp1kCT-ZyVXQgGHofNqx1FbMiwP_4Q3lb3ztUbXU3Iohwh2o2YhiVftzK_1asn_FmfMVcKAjpKl84fDOQ5Iuq0TtMM93e-x_ObDY5RtWceUP4bKMGcPyh_cZPTuylICIPWESfauYrRtn_suc3JqOv_pJBA_Q9KUAfTSdBeDxFKBGH6iPmSJIWt91HZmlRMsJJcmUeuGZ9wXNXzV7me3mGXaNOt8uI9zoJ5tHzSKwtdL1L9S18ZHgiNkY-yMbkW5WRoEFl96Ip_Ynu2f6pIJxxnJThBFqANN-n1cqkZV9ZxjQt-4o0jIlNxzibPScRQtR9A5S1fhK0bGv0nORkZWV49S-DntEMf06wNJOsSaYXzhE_-2VdvYRKMMEZOvcf8Ay5DjFFmHDpNvV_tBfzKeArdyP5NZlObVfeds2LLcWLLeiRyRiDBhu7BaM8oxTVRckWHBdvTjfC6D7NEN5VP767l9AlzTu_Wa_IgXrlcssot7UZtPMkJGePXxSLSyWyRJEbksOQIsUGlA6kftC6wFqy2y1HswzeQb3r3FlvV2a6mTZ21OoYEuFnHeJ9Ds2qnJwSlCgrm4lZ7VS8lkfBR1ng7Oc2.g6DiXsvd87aVNmbF1C0eTg
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Intuit-Tid:
          - 1-63bdc911-3dc055e87a04d5c675f43918
        X-Spanid:
          - b4f71349-a093-49e8-b811-41b32e3613ac
        Qbo-Version:
          - "1995.144"
        Service-Time:
          - total=35, db=25
      body:
        encoding: ASCII-8BIT
        string:
          '{"QueryResponse":{"Account":[{"Name":"Consultant","SubAccount":false,"FullyQualifiedName":"Consultant","Active":true,"Classification":"Expense","AccountType":"Expense","AccountSubType":"LegalProfessionalFees","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"USD","name":"United
          States Dollar"},"domain":"QBO","sparse":false,"Id":"92","SyncToken":"0","MetaData":{"CreateTime":"2022-12-30T07:10:12-08:00","LastUpdatedTime":"2022-12-30T07:10:12-08:00"}}],"startPosition":1,"maxResults":1},"time":"2023-01-10T12:22:41.428-08:00"}'
    recorded_at: Tue, 10 Jan 2023 20:22:41 GMT
  - request:
      method: get
      uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/query?minorversion=65&query=select%20*%20from%20Vendor%20where%20DisplayName%20=%20%27Flexile%27
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..yW1uSeP2m2Zo37xcy8CYWA.Q0Ph1iQibUEd0XHU077Pmf7zZyMbveQnbyKrmiYabBKhxAnegLa1CxmD3y[...]
  - request:
      method: get
      uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365264855310/query?minorversion=65&query=select%20*%20from%20Account%20where%20AccountType%20=%20%27Expense%27%20and%20AccountSubType%20=%20%27DuesSubscriptions%27
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer eyJlbmSAMPLELUhTMjU2IiwiYWxnIjoiZGlyIn0..yW1uSeP2m2Zo37xcy8CYWA.Q0Ph[...]
[...]
