---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v2/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 864388ea-fb3a-4682-9528-2cf16ece406c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - '000000000000000094c5fdf5959b40b3'
    body:
      encoding: ASCII-8BIT
      string: '[{"type":"PERSONAL","id":16656728,"userId":6145016,"type":"PERSONAL","address":{"addressFirstLine":"56
        Shoreditch High Street","city":"London","countryIso2Code":"GB","countryIso3Code":"gbr","postCode":"E16JJ","stateCode":null},"email":"","createdAt":"2022-11-21T15:49:46.000Z","updatedAt":"2022-11-21T15:49:46.000Z","obfuscated":false,"currentState":"VISIBLE","firstName":"Helen","lastName":"Hood","dateOfBirth":"1981-11-20","phoneNumber":"+14133203613","secondaryAddresses":[],"fullName":"Helen
        Hood"},{"type":"BUSINESS","id":16656729,"userId":6145016,"type":"BUSINESS","address":{"addressFirstLine":"56
        Shoreditch High Street","city":"London","countryIso2Code":"GB","countryIso3Code":"gbr","postCode":"E16JJ","stateCode":null},"email":"","createdAt":"2022-11-21T15:49:49.000Z","updatedAt":"2022-11-21T15:49:49.000Z","obfuscated":false,"currentState":"VISIBLE","businessName":"Acme,
        Inc.","registrationNumber":"07209813","descriptionOfBusiness":"IT_SERVICES","companyType":"LIMITED","companyRole":"OWNER","operationalAddresses":[],"fullName":"Acme,
        Inc."}]'
  recorded_at: Fri, 24 Mar 2023 13:03:32 GMT
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v1/accounts
    body:
      encoding: UTF-8
      string: '{"profile":"16656729","accountHolderName":"Gumroad, Inc.","currency":"USD","type":"aba","details":{"legalType":"BUSINESS","abartn":"<GUMROAD_BANK_ROUTING_NUMBER>","accountNumber":<GUMROAD_BANK_ACCOUNT_NUMBER>,"accountType":"CHECKING","address":{"country":"US","state":"CA","city":"San
        Francisco","postCode":"94104","firstLine":"548 Market St #41309"}}}'
    headers:
      Authorization:
      - Bearer 864388ea-fb3a-4682-9528-2cf16ece406c
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 00000000000000001b900995534bf8b3
    body:
      encoding: ASCII-8BIT
      string: '{"id":148780252,"business":16656729,"profile":16656729,"accountHolderName":"Gumroad,
        Inc.","currency":"USD","country":"US","type":"aba","details":{"address":{"country":"US","countryCode":"US","firstLine":"548
        Market St #41309","postCode":"94104","city":"San Francisco","state":"CA"},"email":null,"legalType":"BUSINESS","accountHolderName":null,"accountNumber":"<GUMROAD_BANK_ACCOUNT_NUMBER>","sortCode":null,"abartn":"<GUMROAD_BANK_ROUTING_NUMBER>","accountType":"CHECKING","bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"IBAN":null,"iban":null,"BIC":null,"bic":null},"user":6145016,"active":true,"ownedByCustomer":false}'
  recorded_at: Fri, 24 Mar 2023 13:03:33 GMT
- request:
    method: delete
    uri: https://api.sandbox.transferwise.tech/v1/accounts/148780252
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 864388ea-fb3a-4682-9528-2cf16ece406c
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trace-Id:
      - '0000000000000000108860f133e92715'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Mar 2023 13:03:33 GMT
recorded_with: VCR 6.1.0
