---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v1/accounts
    body:
      encoding: UTF-8
      string: '{"currency":"GBP","type":"sort_code","details":{"legalType":"PRIVATE","email":"someone@somewhere.com","accountHolderName":"someone
        somewhere","sortCode":231470,"accountNumber":28821822,"address":{"country":"GB","city":"London","firstLine":"112
        2nd street","postCode":"SW1P 3"}},"profile":"<WISE_PROFILE_ID>"}'
    headers:
      Authorization:
      - Bearer 099b3576-7cfb-4331-8203-8355e2e16278
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 7c8c451a6b488f4c
    body:
      encoding: ASCII-8BIT
      string: '{"id":700808468,"business":<WISE_PROFILE_ID>,"profile":<WISE_PROFILE_ID>,"accountHolderName":"someone
        somewhere","currency":"GBP","country":"GB","type":"sort_code","details":{"address":{"country":"GB","countryCode":"GB","firstLine":"112
        2nd street","postCode":"SW1P 3","city":"London","state":null},"email":"someone@somewhere.com","legalType":"PRIVATE","accountHolderName":null,"accountNumber":"28821822","sortCode":"231470","abartn":null,"accountType":null,"bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"identificationNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":null,"iban":null,"bic":null,"BIC":null},"user":12646790,"active":true,"ownedByCustomer":false,"confirmations":null}'
  recorded_at: Tue, 04 Mar 2025 12:32:43 GMT
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v4/profiles/<WISE_PROFILE_ID>/balances?types=STANDARD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 099b3576-7cfb-4331-8203-8355e2e16278
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 968303c1bbe1c603
    body:
      encoding: ASCII-8BIT
      string: '[{"id":234566,"currency":"USD","amount":{"value":1919315.52,"currency":"USD"},"reservedAmount":{"value":0.00,"currency":"USD"},"cashAmount":{"value":1919315.52,"currency":"USD"},"totalWorth":{"value":1919315.52,"currency":"USD"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2024-12-09T14:02:26.881329Z","modificationTime":"2025-03-04T12:20:30.848757Z","visible":true,"primary":true,"groupId":null,"recipientId":700508561}]'
  recorded_at: Tue, 04 Mar 2025 12:32:43 GMT
recorded_with: VCR 6.3.1
