---
http_interactions:
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/accounts
      body:
        encoding: UTF-8
        string:
          '{"currency":"GBP","type":"sort_code","details":{"legalType":"PRIVATE","email":"someone@somewhere.com","accountHolderName":"someone
          somewhere","sortCode":231470,"accountNumber":28821822,"address":{"country":"GB","city":"London","firstLine":"112
          2nd street","postCode":"SW1P 3"}},"profile":"<WISE_PROFILE_ID>"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - c53d03b64160c874
      body:
        encoding: ASCII-8BIT
        string: '{"id":148360632,"business":<WISE_PROFILE_ID>,"profile":<WISE_PROFILE_ID>,"accountHolderName":"someone
          somewhere","currency":"GBP","country":"GB","type":"sort_code","details":{"address":{"country":"GB","countryCode":"GB","firstLine":"112
          2nd street","postCode":"SW1P 3","city":"London","state":null},"email":"someone@somewhere.com","legalType":"PRIVATE","accountHolderName":null,"accountNumber":"28821822","sortCode":"231470","abartn":null,"accountType":null,"bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"identificationNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":null,"iban":null,"bic":null,"BIC":null},"user":5882096,"active":true,"ownedByCustomer":false}'
    recorded_at: Fri, 26 Jul 2024 12:56:50 GMT
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v4/profiles/<WISE_PROFILE_ID>/balances?types=STANDARD
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - e739916fe66978fd
      body:
        encoding: ASCII-8BIT
        string: '[{"id":97347,"currency":"USD","amount":{"value":2828863.07,"currency":"USD"},"reservedAmount":{"value":0.00,"currency":"USD"},"cashAmount":{"value":2828863.07,"currency":"USD"},"totalWorth":{"value":2828863.07,"currency":"USD"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2022-02-02T12:57:43.446840Z","modificationTime":"2024-07-26T12:01:56.378158Z","visible":true,"primary":true,"groupId":null},{"id":97348,"currency":"AUD","amount":{"value":4000000.00,"currency":"AUD"},"reservedAmount":{"value":0.00,"currency":"AUD"},"cashAmount":{"value":4000000.00,"currency":"AUD"},"totalWorth":{"value":4000000.00,"currency":"AUD"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2022-02-02T12:57:43.512910Z","modificationTime":"2022-02-02T12:57:43.542188Z","visible":true,"primary":true,"groupId":null},{"id":97346,"currency":"EUR","amount":{"value":2000000.00,"currency":"EUR"},"reservedAmount":{"value":0.00,"currency":"EUR"},"cashAmount":{"value":2000000.00,"currency":"EUR"},"totalWorth":{"value":2000000.00,"currency":"EUR"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2022-02-02T12:57:43.380531Z","modificationTime":"2022-02-02T12:57:43.407841Z","visible":true,"primary":true,"groupId":null},{"id":97345,"currency":"GBP","amount":{"value":1000000.00,"currency":"GBP"},"reservedAmount":{"value":0.00,"currency":"GBP"},"cashAmount":{"value":1000000.00,"currency":"GBP"},"totalWorth":{"value":1000000.00,"currency":"GBP"},"type":"STANDARD","name":null,"icon":null,"investmentState":"NOT_INVESTED","creationTime":"2022-02-02T12:57:43.286853Z","modificationTime":"2022-02-02T12:57:43.341693Z","visible":true,"primary":true,"groupId":null}]'
    recorded_at: Fri, 26 Jul 2024 12:56:51 GMT
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v1/rates?source=USD&target=GBP
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - 5a23839fa3e0e3dc
      body:
        encoding: ASCII-8BIT
        string: '[{"rate":0.777354,"source":"USD","target":"GBP","time":"2024-07-26T12:56:24+0000"}]'
    recorded_at: Fri, 26 Jul 2024 12:56:52 GMT
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v1/accounts/148360632
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - b010cb3a08535a96
      body:
        encoding: ASCII-8BIT
        st[...]
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/quotes
      body:
        encoding: UTF-8
        string: '{"sourceAmount":null,"targetAmount":46.641239999999996,"sourceCurrency":"USD","targetAccount":"148360632","targetCurrency":"GBP","profileId":"<WISE_PROFILE_ID>","preferredPayIn":"BALANCE"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - ddb716f7838fb31c
      body:
        encoding: ASCII-8BIT
        string:
          '{"targetAmount":46.64,"guaranteedTargetAmountAllowed":false,"targetAmountAllowed":true,"preferredPayIn":"BALANCE","paymentOptions":[{"formattedEstimatedDelivery":"in
          seconds","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0110,"estimatedDelivery":"2024-07-26T12:56:53Z","disabled":false,"sourceAmount":60.67,"targetAmount":46.64,"sourceCurrency":"USD","targetCurrency":"GBP","payOut":"BANK_TRANSFER","price":{"priceSetId":130,"total":{"type":"TOTAL","label":"Total
          fees","value":{"amount":0.67,"currency":"USD","label":"0.67 USD"}},"items":[{"type":"PAYIN","label":"fee","value":{"amount":0.0,"currency":"USD","label":"0
          USD"}},{"type":"TRANSFERWISE","label":"Our fee","value":{"amount":0.67,"currency":"USD","label":"0.67
          USD"}}]},"fee":{"transferwise":0.67,"payIn":0.0,"discount":0,"total":0.67,"priceSetId":130,"partner":0.0},"payIn":"BALANCE"},{"formattedEstimatedDelivery":"in
          seconds","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0305,"estimatedDelivery":"2024-07-26T12:56:53Z","disabled":false,"sourceAmount":61.89,"targetAmount":46.64,"sourceCurrency":"USD","targetCurrency":"GBP","payOut":"BANK_TRANSFER","price":{"priceSetId":181,"total":{"type":"TOTAL","label":"Total
          fees","value":{"amount":1.89,"currency":"USD","label":"1.89 USD"}},"items":[{[...]
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/transfers
      body:
        encoding: UTF-8
        string: '{"targetAccount":"148360632","quoteUuid":"c89619eb-be9a-4206-b579-0704bb3eaf34","customerTransactionId":"a205a518-c54d-4c97-95ca-738abd5df533","details":{"transferPurpose":"verification.transfers.purpose.pay.other","sourceOfFunds":"verification.source.of.funds.other","reference":"PMT"}}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - 3e27e4db8b9aa06d
      body:
        encoding: ASCII-8BIT
        string:
          '{"id":53991400,"user":5882096,"targetAccount":148360632,"sourceAccount":null,"quote":null,"quoteUuid":"c89619eb-be9a-4206-b579-0704bb3eaf34","status":"incoming_payment_waiting","reference":"PMT","rate":0.777354,"created":"2024-07-26
          12:56:54","business":<WISE_PROFILE_ID>,"transferRequest":null,"details":{"reference":"PMT"},"hasActiveIssues":false,"sourceCurrency":"USD","sourceValue":60.00,"targetCurrency":"GBP","targetValue":46.64,"customerTransactionId":"a205a518-c54d-4c97-95ca-738abd5df533"}'
    recorded_at: Fri, 26 Jul 2024 12:56:54 GMT
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/transfers/53991400/payments
      body:
        encoding: UTF-8
        string: '{"type":"BALANCE"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 201
        message: Created
      headers:
        Content-Type:
          - application/json
        X-2fa-Approval-Result:
          - APPROVED
        X-Trace-Id:
          - 987ec7247c1f9df3
      body:
        encoding: ASCII-8BIT
        string: '{"type":"BALANCE","status":"COMPLETED","errorCode":null,"errorMessage":null,"balanceTransactionId":5044722}'
    recorded_at: Fri, 26 Jul 2024 12:56:55 GMT
recorded_with: VCR 6.2.0
