---
http_interactions:
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v1/accounts
      body:
        encoding: UTF-8
        string:
          '{"currency":"MXN","type":"mexican","details":{"legalType":"PRIVATE","email":"mxnuser@example.com","accountHolderName":"Da
          Rod","clabe":"032180000118359719","address":{"city":"San Andres","firstLine":"4
          Oriente 820","postCode":"72810","country":"MX"}},"profile":"<WISE_PROFILE_ID>"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - 648d6a7094e34d44
      body:
        encoding: ASCII-8BIT
        string: '{"id":148913010,"business":<WISE_PROFILE_ID>,"profile":<WISE_PROFILE_ID>,"accountHolderName":"Da
          Rod","currency":"MXN","country":"MX","type":"mexican","details":{"address":{"country":"MX","countryCode":"MX","firstLine":"4
          Oriente 820","postCode":"72810","city":"San Andres","state":null},"email":"mxnuser@example.com","legalType":"PRIVATE","accountHolderName":null,"accountNumber":null,"sortCode":null,"abartn":null,"accountType":null,"bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":"032","russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":"032180000118359719","swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"relationship":null,"IBAN":null,"iban":null,"BIC":null,"bic":null},"user":5882096,"active":true,"ownedByCustomer":false}'
    recorded_at: Thu, 12 Oct 2023 14:52:13 GMT
  - request:
      method: get
      uri: https://api.sandbox.transferwise.tech/v1/accounts/148913010
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Trace-Id:
          - 82a276a0d5893bbe
      body:
        encoding: ASCII-8BIT
        st[...]
[...]
