---
http_interactions:
  - request:
      method: post
      uri: https://api.sandbox.transferwise.tech/v3/profiles/<WISE_PROFILE_ID>/quotes
      body:
        encoding: UTF-8
        string: '{"sourceAmount":null,"targetAmount":112,"sourceCurrency":"USD","targetAccount":"148563324","targetCurrency":"GBP","profileId":"<WISE_PROFILE_ID>","preferredPayIn":"BALANCE"}'
      headers:
        Authorization:
          - Bearer 8e85a0b2-c1bc-4487-9fc9-e286fb9263d9
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Trace-Id:
          - 5962e754a552400
      body:
        encoding: ASCII-8BIT
        string:
          '{"targetAmount":112.00,"guaranteedTargetAmountAllowed":false,"targetAmountAllowed":true,"preferredPayIn":"BALANCE","paymentOptions":[{"formattedEstimatedDelivery":"in
          seconds","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0070,"estimatedDelivery":"2023-07-20T23:27:24Z","disabled":false,"sourceCurrency":"USD","targetCurrency":"GBP","sourceAmount":145.17,"targetAmount":112.00,"payOut":"BANK_TRANSFER","fee":{"transferwise":1.02,"payIn":0.0,"discount":0,"total":1.02,"priceSetId":130,"partner":0.0},"price":{"priceSetId":130,"total":{"type":"TOTAL","label":"Total
          fees","value":{"amount":1.02,"currency":"USD","label":"1.02 USD"}},"items":[{"type":"PAYIN","label":"fee","value":{"amount":0.0,"currency":"USD","label":"0
          USD"}},{"type":"TRANSFERWISE","label":"Our fee","value":{"amount":1.02,"currency":"USD","label":"1.02
          USD"}}]},"payIn":"BALANCE"},{"formattedEstimatedDelivery":"by Friday","estimatedDeliveryDelays":[],"allowedProfileTypes":["PERSONAL","BUSINESS"],"feePercentage":0.0455,"estimatedDelivery":"2023-07-21T14:20:00Z","disabled":false,"sourceCurrency":"USD","targetCurrency":"GBP","sourceAmount":151.02,"[...]
